{if $showFilter}
{include 'filters.latte'}
<div class="d-flex align-items-center justify-content-between my-4">
    <h2 class="header-semibold-4">{_frontend.trips.trip.filter.results}
        <span class="badge badge-pill badge-green ml-3">{snippet tripsCount}{$tripsCount}{/snippet}</span>
    </h2>
    <div class="d-flex">
        <button id="resetDesktopFilter" type="button" data-toggle="reset" data-target="#frm-tripsTable-formDesktop" class="btn-default mr-3 collapse collapsed">
            {_frontend.trips.trip.filter.reset}
        </button>
        <button type="button" data-toggle="collapse-filter" data-target="#filter" data-reset-btn="#resetDesktopFilter" class="btn-icon-sm btn-filter d-none d-lg-block">
            {_frontend.trips.trip.filter.headline}
            <span class="icon-manage"></span>
        </button>
    </div>
</div>
{/if}
{snippet trips}
{if count($trips) > 0}
<div class="row-list-item" n:foreach="$trips as $trip">
    <!-- mobile -->
    <div class="d-block d-lg-none">
        <div class="mobile-trip">
            <span class="flag-{$trip->getCountry()->getCode()} float-right"></span>
            <h4 class="header-semibold-5">{$trip->getCountry()->getName()}</h4>
            <div class="mobile-trip-title">{_}frontend.trips.dashboard.sidebar.label.company{/_}</div>
            <div class="mobile-trip-description break-word">
                {if $trip->getHost() !== null}
                    <strong>{$trip->getHost()->getName()}</strong>
                    {$trip->getHost()->getAddress()}
                {elseif $trip->getHost() === null && $trip->getHostSet() !== null}
                    {_frontend.trips.table.hosts.none}
                {else}
                    {_frontend.trips.table.hosts.not-chosen}
                {/if}
            </div>
            <div class="mobile-trip-title">{_}frontend.trips.dashboard.sidebar.label.date{/_}</div>
            <div class="mobile-trip-description">{_}frontend.dates.month.abbr.{$trip->getStart()->format('m')}{/_} {$trip->getStart()->format('j')} - {_}frontend.dates.month.abbr.{$trip->getEnd()->format('m')}{/_} {$trip->getEnd()->format('j')}, {$trip->getStart()->format('Y')}</div>
            <div class="mobile-trip-title">{_}frontend.trips.table.modified{/_}</div>
            <div class="mobile-trip-description">{control readableDate $trip->getUpdatedAt()}</div>
            <div n:if="$trip->getState() === 'on-hold'" class="on-hold-message">{$trip->getStateMessage()}</div>
            <div class="d-flex mt-4">
                <a n:if="$trip->getState() === 'submitted'"
                        href="{plink :Trips:Front:TripCreate:, id => $trip->getId()}"
                        class="btn-icon flex-grow-1 mr-2 ajax btn">
                    {_}frontend.trips.table.actions.update{/_}
                    <span class="icon-next"></span>
                </a>
                <a n:if="$trip->getState() !== 'draft'"
                   href="{plink :Trips:Front:TripCreate:repeat, id => $trip->getId()}"
                   class="btn-default-lg mr-2 ajax btn">
                    <span class="icon-repeat"></span>
                </a>
                <a n:if="$trip->getState() !== 'draft'"
                        {if $trip->isFavorite()}
                        href="{plink removeFavorite!, id => $trip->getId()}"
                        {else}
                        href="{plink addFavorite!, id => $trip->getId()}"
                        {/if}
                        class="btn-default-lg mr-2 ajax btn {$trip->isFavorite() ? 'btn-warning'}">
                    <span class="icon-star"></span>
                </a>
                <a n:if="$trip->getState() === 'submitted'"
                        href="{plink cancel!, id => $trip->getId()}"
                        class="btn-default-lg btn-orange mr-2 btn ajax">
                    <span class="icon-clear"></span>
                </a>
                <a n:if="$trip->getState() === 'draft'"
                        href="{plink :Trips:Front:TripCreate:createJunction, id => $trip->getId()}"
                        class="btn btn-icon flex-grow-1 mr-2 ajax">
                    {_}frontend.trips.table.actions.update{/_}
                    <span class="icon-next"></span>
                </a>
                <a n:if="$trip->getState() === 'draft'" href="{plink promptModal:showModal!, id => $trip->getId(), type => 'delete'}" class="btn btn-default-lg btn-danger ajax">
                    <span class="icon-delete"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- desktop -->
    <div class="d-none d-lg-flex">
        <div class="row-list-item-flag">
            <span class="flag-{$trip->getCountry()->getCode()} flag-lg"></span>
        </div>
        <div class="row-list-item-text">
            <div class="d-flex mb-2">
                <div class="title">
                    <strong>{$trip->getCountry()->getName()}</strong>
                </div>
                <div class="desc">
                    <span class="separator"></span>
                    {_}frontend.dates.month.abbr.{$trip->getStart()->format('m')}{/_} {$trip->getStart()->format('j')} – {_}frontend.dates.month.abbr.{$trip->getEnd()->format('m')}{/_} {$trip->getEnd()->format('j')}, {$trip->getStart()->format('Y')}
                    <span class="separator"></span>
                    {control readableDate $trip->getUpdatedAt()}
                </div>
            </div>
            <div class="d-flex">
                <div class="desc">
                    <span class="text-black">
                        {if $trip->getHost() !== null}
                        {$trip->getHost()->getName()|truncate:60}
                        {elseif $trip->getHost() === null && $trip->getHostSet() !== null}
                        {_frontend.trips.table.hosts.none}
                        {else}
                        {_frontend.trips.table.hosts.not-chosen}
                        {/if}
                    </span>
                    {if $trip->getHost() !== null && $trip->getHost()->getAddress() !== null}
                        <span class="separator"></span>
                        {$trip->getHost()->getAddress()|truncate:60}
                    {/if}
                    <span n:if="$trip->getState() === 'on-hold'" class="on-hold-message">{$trip->getStateMessage()}</span>
                </div>
            </div>
        </div>
        <div class="row-list-item-buttons">
            <a n:if="$trip->getState() !== 'draft'"
                    {if $trip->isFavorite()}
                        href="{plink removeFavorite!, id => $trip->getId()}"
                    {else}
                        href="{plink addFavorite!, id => $trip->getId()}"
                    {/if}
                    class="btn-default-lg mr-2 btn ajax {$trip->isFavorite() ? 'btn-warning'}">
                <span class="icon-star"></span>
            </a>
            <a n:if="$trip->getState() === 'draft'" href="{plink promptModal:showModal!, id => $trip->getId(), type => 'delete'}" class="btn btn-default-lg btn-danger mr-2 ajax">
                <span class="icon-delete"></span>
            </a>
            <a n:if="$trip->getState() === 'submitted'"
                    href="{plink cancel!, id => $trip->getId()}"
                    class="btn-default-lg btn-orange ajax btn mr-2">
                <span class="icon-clear"></span>
            </a>
            <a n:if="$trip->getState() !== 'draft'"
               href="{plink :Trips:Front:TripCreate:repeat, id => $trip->getId()}"
               class="btn-default-lg mr-2 ajax btn">
                <span class="icon-repeat"></span>
            </a>
            <a n:if="$trip->getState() === 'submitted'"
                    href="{plink :Trips:Front:TripCreate:create, id => $trip->getId()}"
                    class="btn-default-lg mr-2 btn">
                <span class="icon-next"></span>
            </a>
            <a n:if="$trip->getState() === 'draft'"
               href="{plink :Trips:Front:TripCreate:createJunction, id => $trip->getId()}"
               class="btn btn-default-lg ajax">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</div>
{control apiPagination}
{else}
<div class="row-list-empty">
    <strong>{_}frontend.trips.table.no-trips{/_}</strong>
    {_}frontend.trips.table.no-trips.info{/_}
</div>
{/if}
{/snippet}
