{* desktop *}
<form n:name="formDesktop" class="ajax d-none d-lg-block">
	<div id="filter" class="collapse collapsed">
		<div class="box mt-4">
			<div class="row">
				<div class="col-lg-6 pr-lg-3">
					<div class="form-group">
                        {label sortByDesktop, class => 'header-semibold-4 mb-3'}
						<div class="dropdown-items">
							<select n:name="sortByDesktop"
									class="form-control" data-toggle="dropdown"> </select>
						</div>
					</div>
					<div class="form-group">
                        {label countryDesktop, class => 'header-semibold-4 mb-3'}
						<div class="search-items">
							<select n:name="countryDesktop"
									class="form-control" data-toggle="search-dropdown" data-live-search="true" data-style="btn-dropdown" data-placeholder="Select country" data-typing-interval="300" data-source="{plink :Countries:Front:Country:countrySearch, q => '', type => 'filter'}" data-ajax-on-show=1 data-enable-groups="0"> </select>
						</div>
					</div>
					<div class="form-group mb-0">
                        {label tripStartDesktop, class => 'header-semibold-4 mb-3'}
						<div id="datepickerInputdStart" class="datepicker-input-container input-clear">
							<span class="icon-clear"></span>
							<input type="text" name="date" placeholder="{$localeContext->getDateFormat()}" value="" class="form-control datepicker" id="dStartInput" autocomplete="off" />
							<div class="datepicker-input input-clear">
								<span class="icon-clear"></span>
								<input n:name="tripStartDesktop" type="text" value="" placeholder="{$localeContext->getDateFormat()}" id="dStart" class="form-control" data-connect="#dStartInput" autocomplete="off" />
								<div class="px-4 pt-4 pb-3">
									<div class="datepicker-controls d-none d-md-flex">
										<button type="button" class="btn-default prev-month">
											<span class="icon-back"></span>
										</button>
										<div class="search-items">
											<select name=""
													class="select-month"
													data-toggle="search-dropdown"
													data-live-search="true"
													data-style="btn-dropdown"
													data-typing-interval="300"
													data-locale="{$loc}"
													data-source="{plink datepickerMonths!, q => ''}"
											>
												<option value="{date('Y-m')}" selected>{date('F Y')}</option>*}
											</select>
										</div>
										<button type="button" class="btn-default next-month">
											<span class="icon-next"></span>
										</button>
									</div>
									<div class="datepicker-external"
											id="dStartPick"
											data-date-format="{$localeContext->getDateFormat()}"
											data-input="#dStart"
											data-connect="#dEndPick"
											data-type="start"
											data-date-start-date="{$startDateMin|date:'%d-%m-%Y'}"
											data-date-end-date="{$startDateMax|date:'%d-%m-%Y'}"
									></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 pl-lg-3">
					<div class="form-group">
                        {label showDesktop, class => 'header-semibold-4 mb-3'}
						<div class="dropdown-items">
							<select n:name="showDesktop"
									class="form-control" data-toggle="dropdown"> </select>
						</div>
					</div>
					<div class="form-group">
                        {label companyDesktop, class => 'header-semibold-4 mb-3'}
						<div class="search-items">
							<select n:name="companyDesktop"
									class="form-control" data-toggle="search-dropdown" data-live-search="true" data-style="btn-dropdown" data-placeholder="Select company" data-typing-interval="300" data-source="{plink :Hosts:Front:Host:searchHost, q => $q ?? ''}" data-ajax-on-show=1 data-enable-groups="0"> </select>
						</div>
					</div>
					<div class="form-group mb-0">
                        {label tripEndDesktop, class => 'header-semibold-4 mb-3'}
						<div id="datepickerInputdEnd" class="datepicker-input-container input-clear">
							<span class="icon-clear"></span>
							<input type="text" name="date" placeholder="{$localeContext->getDateFormat()}" value="" class="form-control datepicker" id="dEndInput" autocomplete="off" />
							<div class="datepicker-input input-clear">
								<span class="icon-clear"></span>
								<input n:name="tripEndDesktop" type="text" value="" placeholder="{$localeContext->getDateFormat()}" id="dEnd" class="form-control" data-connect="#dEndInput" autocomplete="off" />
								<div class="px-4 pt-4 pb-3">
									<div class="datepicker-controls d-none d-md-flex">
										<button type="button" class="btn-default prev-month">
											<span class="icon-back"></span>
										</button>
										<div class="search-items">
											<select name=""
													class="select-month"
													data-toggle="search-dropdown"
													data-live-search="true"
													data-style="btn-dropdown"
													data-typing-interval="300"
													data-locale="{$loc}"
													data-source="{plink datepickerMonths!, q => ''}"
											>
												<option value="{date('Y-m')}">{date('F Y')}</option>
											</select>
										</div>
										<button type="button" class="btn-default next-month">
											<span class="icon-next"></span>
										</button>
									</div>
									<div class="datepicker-external"
											id="dEndPick"
											data-date-format="{$localeContext->getDateFormat()}"
											data-input="#dEnd"
											data-connect="#dStartPick"
											data-type="end"
											data-date-start-date="{$endDateMin|date:'%d-%m-%Y'}"
											data-date-end-date="{$endDateMax|date:'%d-%m-%Y'}">
									></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input n:name="sendDesktop" value="desktop" class="submit">
</form>
<div class="modal modal-filter" id="modal-filter" tabindex="-1" role="dialog" aria-hidden="true">
	<form n:name="formMobile" class="ajax">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-default dashboard-navigation-btn" data-toggle="navigation-filter">
						<span class="icon-hamburger"></span>
					</button>
					<div class="text-md-normal pt-3">{_frontend.trips.trip.filter.headline}</div>
					<button type="button" class="btn-default" data-dismiss="modal">
						<span class="icon-close"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
                        {label sortByMobile, class => 'header-semibold-4 mb-3'}
						<div class="dropdown-items">
							<select n:name="sortByMobile" class="form-control" data-toggle="dropdown"></select>
						</div>
					</div>
					<div class="form-group">
                        {label countryMobile, class => 'header-semibold-4 mb-3'}
						<div class="search-countries">
							<select n:name="countryMobile"
									class="form-control" data-toggle="search-dropdown" data-live-search="true" data-style="btn-dropdown" data-placeholder="Select country" data-typing-interval="300" data-source="{plink :Countries:Front:Country:countrySearch, q => '', type => 'filter'}" data-ajax-on-show=1 data-enable-groups="0"> </select>
						</div>
					</div>
					<div class="form-group">
                        {label companyMobile, class => 'header-semibold-4 mb-3'}
						<div class="search-items">
							<select n:name="companyMobile"
									class="form-control" data-toggle="search-dropdown" data-live-search="true" data-style="btn-dropdown" data-placeholder="Select company" data-typing-interval="300" data-enable-groups="0" data-ajax-on-show=1 data-source="{plink :Hosts:Front:Host:searchHost, q => $q ?? ''}"> </select>
						</div>
					</div>
					<div class="form-group mb-0">
                        {label tripStartMobile, class => 'header-semibold-4 mb-3'}
						<div id="datepickerInputdStartMobile" class="datepicker-input-container input-clear">
							<input type="text" n:name="tripStartMobile" placeholder="{$localeContext->getDateFormat()}" class="form-control datepicker" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group mb-0">
                        {label tripEndMobile, class => 'header-semibold-4 mb-3'}
						<div id="datepickerInputdEndMobile" class="datepicker-input-container input-clear">
							<input type="text" n:name="tripEndMobile" placeholder="{$localeContext->getDateFormat()}" class="form-control datepicker" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
                        {label showMobile, class => 'header-semibold-4 mb-3'}
						<div class="dropdown-items">
							<select n:name="showMobile" class="form-control" data-toggle="dropdown"> </select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-icon mr-3" onclick="document.location.href={link this}">
                        {_frontend.trips.trip.filter.reset}
						<span class="icon-repeat"></span>
					</button>
					<button type="button" class="btn-icon btn-green ml-0" data-toggle="modal" data-target="#modal-filter">
                        {_frontend.trips.trip.filter.confirm}
						<span class="icon-checkmark"></span>
					</button>
				</div>
			</div>
		</div>
		<input n:name="sendMobile" value="mobile" class="submit"> <input n:name="reset" type="reset">
	</form>
</div>
