<form class="ui form ajax" n:name="form" n:snippet="form">
    {snippet flashes}
        {foreach $flashes as $flash}
			<div class="alert alert-{$flash->type}" role="alert">
                {_}{$flash->message}{/_}
			</div>
        {/foreach}
    {/snippet}

	<div class="form-group">
        {label username}
		<input n:name="username" type="text" class="form-control" placeholder="{_frontend.users.login.default.sign-in.form.placeholder.username}">
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col">
                {label password}
			</div>
		</div>
		<div class="input-group">
			<input n:name="password" class="form-control form-control-appended" type="password">
		</div>
	</div>

	<button class="btn-icon-md btn-green mb-3" n:name="send">
        {_frontend.users.login.default.sign-in.form.submit}
	</button>
</form>