<div n:snippet n:inner-if="$renderModal" class="modal fade login-modal partner-icon" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ajax-overlay">
			<div class="modal-header">
				<h3 class="modal-title">{_}{$translationHeadline}{/_}</h3>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{snippet flashes}
				{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
				{/snippet flashes}

				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>{_back.relation.modal.table.name|capitalize}</th>
								</tr>
							</thead>
							<tbody>
								{foreach $items as $item}
									<tr>
										<td class="text-muted">{$item->getId()}</td>
										<td>{$item->getName()}</td>
										<td class="text-right">
											{if in_array($item->getId(), $itemIdsUsed)}
												<a n:href="delete!, entityId => $item->getId(), itemId => $itemId" class="btn btn-sm btn-danger">{_}{$translationDelete}{/_}</a>
											{else}
												<a n:href="add!, entityId => $item->getId(), itemId => $itemId" class="btn btn-sm btn-success">{_}{$translationAdd}{/_}</a>
											{/if}
										</td>
									</tr>
								{/foreach}
							</tbody>
						</table>

                        {control apiPagination}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
