{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-8">
		<div class="header mt-md-5">
			<div class="header-body">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header-title">
							{block title}{_profile.default.meta.h1}{/block}
						</h1>
					</div>
				</div>
			</div>
		</div>

		{control changeProfileForm}
		{control changePasswordForm}
	</div>
</div>