<form n:name="form">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-header-title">{_}back.questions.groups.form-headline{/_}</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							{snippet flashes}
							{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
							{/snippet flashes}

							<div class="form-group row">
                                {label name, class => 'col-sm-2 col-form-label'}
								<div class="col-sm-10">
									<input n:name="name" class="form-control">
								</div>
							</div>
							<div class="form-group row">
                                {label type, class => 'col-sm-2 col-form-label'}
								<div class="col-sm-10">
									<select class="form-control" n:name="type"></select>
								</div>
							</div>

							<input n:name="send" class="btn btn-lg btn-success float-right">
							<a href="{plink :Questions:Back:Groups:default}" class="btn btn-lg btn-default float-right">{_}back.questions.groups.form.label.cancel{/_}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
