{block content}
{control setMessageFormModal}
<div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="header mt-md-5">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header">
                            {block title}{_back.trips.list.headline|capitalize}{/block}
                        </h1>
                    </div>
                </div>
                <p class="mb-5">{_back.trips.description}</p>
            </div>
        </div>

        {control filterForm}

        {snippet trips}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.trips.table.headline|capitalize}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{_back.trips.table.header.user|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.country|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.host|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.start|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.state|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.created-at|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.updated-at|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.submitted-at|capitalize}</th>
                                    <th scope="col">{_back.trips.table.header.actions|capitalize}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $trips as $trip}
                                <tr>
                                    <th scope="row" class="text-muted">{$trip->getId()}</th>
                                    <td class="align-middle">{$trip->getUser()->getUsername()}</td>
                                    <td class="align-middle">{$trip->getCountry()->getName()}</td>
                                    <td class="align-middle">
                                        {if $trip->getHost() === null && $trip->getHostSet() !== null}
                                            {_back.trips.table.hosts.none|capitalize}
                                        {elseif $trip->getHost() !== null}
                                            {$trip->getHost()->getName()}
                                        {else}
                                            {_back.trips.table.hosts.not-chosen|capitalize}
                                        {/if}
                                    </td>
                                    <td class="text-nowrap align-middle">{$localeContext->formatDate($trip->getStart())}</td>
                                    <td class="align-middle">{_}back.trips.states.{$trip->getState()}{/_}</td>
                                    <td class="text-nowrap align-middle">{$localeContext->formatDate($trip->getCreatedAt())}</td>
                                    <td class="text-nowrap align-middle">{$localeContext->formatDate($trip->getupdatedAt())}</td>
                                    <td class="text-nowrap align-middle">{if $trip->getSubmittedAt() ===
                                        null}{_back.trips.table.submitted.not-submitted|capitalize}{else}{$localeContext->formatDate($trip->getSubmittedAt())}{/if}
                                    </td>
                                    <td class="align-middle">
                                        <div class="btn-group">
                                        <a class="text-nowrap btn btn-sm btn-outline-info mt-1 mb-1 mr-2 rounded" n:href=":Trips:Back:Trip:detail, id => $trip->getId()">{_}back.trips.table.link.detail{/_}</a>
                                        {if $trip->getState() === 'submitted'}
                                            <a class="text-nowrap btn btn-sm btn-outline-warning mt-1 ajax mb-1 mr-2 rounded ajax" n:href="setMessageFormModal:showModal!, $trip->getId()">{_}back.trips.table.link.onhold{/_}</a>
                                            <a class="text-nowrap btn btn-sm btn-outline-secondary mt-1 mb-1 mr-2 rounded ajax" n:href="process!, $trip->getId()">{_}back.trips.table.link.processed{/_}</a>
                                        {elseif $trip->getState() === 'on-hold'}
                                            <a class="text-nowrap btn btn-sm btn-outline-success mt-1 mb-1 mr-2 rounded ajax" n:href="release!, $trip->getId()">{_}back.trips.table.link.release{/_}</a>
                                        {/if}
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            {control apiPagination}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/snippet trips}
    </div>
</div>

