{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-12 col-xl-12">
		<div class="header mt-md-5">
			<div class="header-body">
				<div class="row align-items-center">
					<div class="col">
						<h6 class="header-pretitle">
							#{$trip->getId()}
						</h6>
						<h1 class="header-title">
                            {block title}{_back.trips.detail.headline|capitalize}{/block}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.trips.detail.basic.headline|capitalize}
						</h4>
					</div>
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between">
								<div>#</div>
								<div>{$trip->getId()}</div>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div>{_back.trips.detail.basic.state|capitalize}</div>
								<div>{$trip->getState()}</div>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div>{_back.trips.detail.basic.start|capitalize}</div>
								<div>{$localeContext->formatDate($trip->getStart())}</div>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div>{_back.trips.detail.basic.end|capitalize}</div>
								<div>{$localeContext->formatDate($trip->getEnd())}</div>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div>{_back.trips.detail.basic.country|capitalize}</div>
								<div>{$trip->getCountry()->getName()}</div>
							</li>
							<li class="list-group-item d-flex justify-content-between">
								<div>{_back.trips.detail.basic.submitted-at|capitalize}</div>
								<div>
                                    {if $trip->getSubmittedAt() !== null}
                                        {$localeContext->formatDate($trip->getSubmittedAt())}
                                    {else}
                                        {_back.trips.detail.basic.not-submitted}
                                    {/if}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.trips.detail.answers.headline|capitalize}
						</h4>
					</div>
					<div class="card-body">
                        {if count($trip->getAnswers()->getAnswers()) !== 0}
							<ul class="list-group">
								<li n:foreach="$trip->getAnswers()->getAnswers() as $answer" class="list-group-item d-flex justify-content-between">
									<div>{$answer->getQuestion()->getQuestion()}</div>
                                    {switch $answer->getQuestion()->getType()}
                                        {case 'text'}
										<div>{$answer->getText()}</div>
                                    {case 'bool'}
										<div>{$answer->getBool()}</div>
                                    {case 'number'}
										<div>{$answer->getNumber()}</div>
                                    {case 'datetime'}
										<div>{$answer->getDateTime()}</div>
                                    {case 'choice'}
										<div>
											<ul>
												<li n:foreach="$answer->getQuestion()->getChoice()->getOptions() as $option" n:if="in_array($option->getId(), $answer->getChoice())">{$option->getText()}</li>
											</ul>
										</div>
                                    {/switch}
								</li>
							</ul>
                        {else}
                            {_back.trips.detail.answers.no-answers|capitalize}
                        {/if}
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.trips.detail.hosts.headline|capitalize}
						</h4>
					</div>
					<div class="card-body">
						{if $hostParams === null && $trip->getHostSet() === null}
                            {_back.trips.detail.hosts.no-host|capitalize}
                        {elseif $hostParams === null && $trip->getHostSet() !== null}
                            {_back.trips.detail.hosts.none|capitalize}
                        {else}
                        <ul class="list-group">
							<li n:foreach="$hostParams->getParams() as $param" class="list-group-item d-flex justify-content-between">
								<div>{$param->getField()->getName()}</div>
								<div>{$param->getValue()}</div>
							</li>
						</ul>
                        {/if}
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.trips.detail.registrations.headline|capitalize}
						</h4>
					</div>
					<div class="card-body">
                        {if count($trip->getRegistration()->getRegistrations()) !== 0}
							<ul class="list-group">
								<li n:foreach="$trip->getRegistration()->getRegistrations() as $registration" class="list-group-item">
                                    {$registration->getName()}
								</li>
							</ul>
                        {else}
                            {_back.trips.detail.registrations.no-registrations|capitalize}
                        {/if}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
