<form n:name="form" class="validate-on-load-with-block">
    {snippet flashes}
    {foreach $flashes as $flash}
    <div class="alert alert-{$flash->type}" role="alert">
        {_}{$flash->message}{/_}
    </div>
    {/foreach}
    {/snippet}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="row">
                <div class="col-9">
                    {if $group !== null}
                    <h2 class="header-semibold-4 mb-3">{$group->getName()}</h2>
                    {/if}
                </div>
                <div class="col-3 new-trip-completion">
                    {$currentGroup}/{$totalGroups}
                </div>
            </div>

            {foreach $questions as $question}
            {continueIf $question->getParent() !== null}
            <div class="box mb-4">
                <div class="form-group mb-0">
                    {include '../../../Presenters/Front/templates/TripCreate/includes/question.latte' questions =>
                    $questions, question => $question, form => $form, trip => $trip}
                </div>
            </div>
            {/foreach}
        </div>
    </div>


    <input n:name="send" id="submit" class="d-none">
</form>
<div class="py-lg-5"></div>
<div class="py-lg-5"></div>
