<form n:name="requestAssistantForm">
	<div class="row">
		<div class="col-lg-7 col-xl-5 pr-lg-0">
			<div class="form-group">
				<div class="input-clear">
					<span class="icon-clear"></span>
					<input n:name="email" class="form-control" autocomplete="off"/>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-xl-7 pl-lg-2">
			<button n:name="send" class="btn-icon btn-green w-lg-120">
				{_}{$form['send']->caption}{/_}
				<span class="icon-paper-plane"></span>
			</button>
		</div>
	</div>
</form>
