{if count($trips) > 0}
        {foreach $trips as $trip}
            <div class="sidebar-trip">
                <span class="flag-{$trip->getCountry()->getCode()} float-right"></span>
                <h4 class="header-semibold-5">{$trip->getCountry()->getName()}</h4>
                <div class="sidebar-trip-title">{_}frontend.trips.dashboard.sidebar.label.company{/_}</div>
                <div class="sidebar-trip-description break-word">
                        {if $trip->getHost() !== null}
                            <strong>{$trip->getHost()->getName()}</strong>
                            {foreach $trip->getHost()->getParams() as $param}
                                {$param->getValue()}{sep},{/sep}
                            {/foreach}
                        {elseif $trip->getHost() === null && $trip->getHostSet() !== null}
                            {_frontend.trips.table.hosts.none}
                        {else}
                            {_frontend.trips.table.hosts.not-chosen}
                        {/if}
                    {if $trip->getHost() !== null}
                        {foreach $trip->getHost()->getParams() as  $param}
                            {$param->getValue()}{sep},{/sep}
                        {/foreach}
                    {/if}
                </div>
                <div class="sidebar-trip-title">{_}frontend.trips.dashboard.sidebar.label.date{/_}</div>
                <div class="sidebar-trip-description break-word">{_}frontend.dates.month.abbr.{$trip->getStart()->format('m')}{/_} {$trip->getStart()->format('j')} - {_}frontend.dates.month.abbr.{$trip->getEnd()->format('m')}{/_} {$trip->getEnd()->format('j')}, {$trip->getStart()->format('Y')}</div>
                <div class="sidebar-trip-title break-word">{_}frontend.trips.dashboard.sidebar.label.details{/_}</div>
                <div n:if="count($trip->getRegistration()->getRegistrations()) > 0" class="sidebar-trip-description">
                    {foreach $trip->getRegistration()->getRegistrations() as $registration}
                        {$registration->getName()}{sep} &{/sep}
                    {/foreach}
                    {_}frontend.trips.dashboard.sidebar.details.required{/_}
                </div>
                <a href="#" class="btn-icon">
                    {_}frontend.trips.dashboard.sidebar.button.details{/_}
                    <span class="icon-next"></span>
                </a>
            </div>
    {/foreach}
{/if}
