<form n:name="form" class="validate-on-load-with-block">
    {snippet flashes}
    {foreach $flashes as $flash}
    <div class="alert alert-{$flash->type}" role="alert">
        {_}{$flash->message}{/_}
    </div>
    {/foreach}
    {/snippet}
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header-semibold-4 mb-3">{label home}</h2>
            <div class="form-group mb-5">
                <div class="search-items">
                    <select name="home"
                            disabled="disabled"
                            class="form-control" data-toggle="search-dropdown" data-live-search="true"
                            data-style="btn-dropdown"
                            data-typing-interval="300"
                            data-source=""
                            data-enable-groups="0">
                        <option n:foreach="$home as $key => $value"
                                value="{$key}"
                                data-icon="flag-{$value['icon']}">
                            {$value['key']}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="header-semibold-4 mb-3">{label country}</h2>
            <div class="form-group mb-5">
                <div class="search-items">
                    <select n:name="country"
                            class="form-control"
                            data-toggle="search-dropdown"
                            data-live-search="true"
                            data-placeholder="{_frontend.trips.trip.create.placeholder.country}"
                            data-style="btn-dropdown"
                            data-typing-interval="300"
                            data-source="{plink :Countries:Front:Country:countrySearch, q => '', type => 'filter'}"
                            data-enable-groups="0">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="header-semibold-4 mb-3">{label start}</h2>
            <div class="form-group mb-5">
                <div class="datepicker-container">
                    <input n:name="start" placeholder="{$localeContext->getDateFormat()}"
                           class="form-control mb-4 datepicker"
                           id="input1" autocomplete="off" onchange="Nette.validateFormInternally()"/>
                    <div class="datepicker-controls d-none d-md-flex">
                        <button type="button" class="btn-default prev-month">
                            <span class="icon-back"></span>
                        </button>
                        <div class="search-items">
                            <select name=""
                                    class="select-month"
                                    data-toggle="search-dropdown"
                                    data-live-search="true"
                                    data-style="btn-dropdown"
                                    data-typing-interval="300"
                                    data-locale="{$loc}"
                                    data-source="{plink datepickerMonths!, q => ''}">
                                <option value="{date('Y-m')}" selected>{date('F Y')}</option>
                            </select>
                        </div>
                        <button type="button" class="btn-default next-month">
                            <span class="icon-next"></span>
                        </button>
                    </div>
                    <div class="datepicker-external d-none d-md-block"
                         id="pickStart"
                         data-date-format="{$localeContext->getDateFormat()}"
                         data-input="#input1"
                         data-connect="#pickEnd"
                         data-disabled-url="{plink disableDates! id => $trip !== null ? $trip->getId() : null, start => '', end => ''}"
                         data-type="start"
                         data-date-start-date="+0d"
                    ></div>
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="header-semibold-4 mb-3">{label end}</h2>
            <div class="form-group">
                <div class="datepicker-container">
                    <input n:name="end" placeholder="{$localeContext->getDateFormat()}"
                           class="form-control mb-4 datepicker" id="input2"
                           autocomplete="off" onchange="Nette.validateFormInternally()"/>
                    <div class="datepicker-controls d-none d-md-flex">
                        <button type="button" class="btn-default prev-month">
                            <span class="icon-back"></span>
                        </button>
                        <div class="search-items">
                            <select name=""
                                    class="select-month"
                                    data-toggle="search-dropdown"
                                    data-live-search="true"
                                    data-style="btn-dropdown"
                                    data-typing-interval="300"
                                    data-locale="{$loc}"
                                    data-source="{plink datepickerMonths!, q => ''}">
                                <option value="{date('Y-m')}" selected>{date('F Y')}</option>
                            </select>
                        </div>
                        <button type="button" class="btn-default next-month">
                            <span class="icon-next"></span>
                        </button>
                    </div>
                    <div class="datepicker-external d-none d-md-block"
                         id="pickEnd"
                         data-date-format="{$localeContext->getDateFormat()}"
                         data-date-dates-disabled="'2019-09-09'"
                         data-input="#input2"
                         data-connect="#pickStart"
                         data-disabled-url="{plink disableDates! id => $trip !== null ? $trip->getId() : null, start => '', end => ''}"
                         data-type="end"
                         data-date-start-date="+0d"
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <input n:name="send" type="submit" id="submit" class="d-none">
</form>
