{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-12">
		<div class="header mt-md-5">
			<div class="header-body">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header-title">
                            {block title}{_back.questions.options.edit|capitalize}{/block}
							-
                            {$option->getText()}
						</h1>
					</div>
				</div>
			</div>
		</div>

        {snippet fieldCountries}
			<div class="row">
				<div class="col-md-12">
					<hr/>
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">
                                {_back.questions.options.countries|capitalize}
							</h4>
							<div class="row">
								<div class="col-md-6">

								</div>
								<div class="col-md-6">
									<a n:href="fieldCountryModalForm:showModal!, itemId => $option->getId()"
											class="btn btn-primary btn-sm float-right ajax" data-naja-history="off">
                                        {_back.questions.options.countries.update|firstUpper}
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">{_back.countries.country.table.name|capitalize}</th>
										<th scope="col">{_back.countries.country.table.code|capitalize}</th>
										<th class="text-right" scope="col">
                                            {_back.countries.country.table.actions|capitalize}
										</th>
									</tr>
									</thead>
									<tbody>
                                    {foreach $countries as $country}
										<tr>
											<th scope="row" class="text-muted">{$country->getId()}</th>
											<td>{$country->getName()}</td>
											<td>{$country->getCode()}</td>
											<td align="right">
												<a n:href="deleteCountry!, id => $option->getId(), code => $country->getCode()"
														class="btn btn-sm btn-outline-danger" onclick="return confirm('{_back.questions.options.countries.delete.confirmation}')">{_back.questions.options.countries.delete|capitalize}</a>
											</td>
										</tr>
                                    {/foreach}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
        {/snippet}

		<div class="row">
			<div class="col-md-12">
				<a n:href=":Questions:Back:Questions:create, questionId => $questionId" class="btn btn-primary">{_back.questions.options.countries.link.back|firstUpper}</a>
			</div>
		</div>
	</div>
</div>

{control fieldCountryModalForm}
