{block content}

<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
        <div class="header mt-md-5">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header">
                            {block title}{_back.hosts.fields|capitalize}{/block}
                        </h1>
                    </div>
                </div>
                <p class="mb-5">{_back.hosts.fields.description}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.hosts.fields.search|capitalize}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {control searchForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {snippet fields}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.hosts.fields.available|capitalize}
                        </h4>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <a n:href="create" class="float-right btn-sm btn btn-primary">
                                    {_back.hosts.fields.create|firstUpper}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{_back.hosts.fields.name|capitalize}</th>
                                    <th scope="col">{_back.hosts.fields.type|capitalize}</th>
                                    <th scope="col">{_back.hosts.fields.countries|capitalize}</th>
                                    <th scope="col">{_back.hosts.fields.actions|capitalize}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $fields as $field}
                                <tr>
                                    <th scope="row" class="text-muted">{$field->getId()}</th>
                                    <td>{$field->getName()}</td>
                                    <td>{$field->getType()}</td>
                                    <td>
                                        {if count($field->getCountries()->getItems()) > 0}
                                        {count($field->getCountries()->getItems())}
                                        {else}
                                        {_back.hosts.fields.countries.all}
                                        {/if}
                                    </td>
                                    <td>
                                        <div class="btn-group text-nowrap">
                                            <a class="btn btn-sm btn-outline-secondary mr-2 rounded" n:href="translationOptionModalForm:showModal!, id => $field->getId()">{_}back.hosts.fields.link.translate{/_}</a>
                                            <a n:href="edit, id => $field->getId()" class="btn btn-sm btn-outline-info mr-2 rounded">{_back.hosts.fields.edit}</a>
                                            <a n:href="delete!, id => $field->getId()" class="btn btn-sm btn-outline-danger mr-2 rounded ajax" onclick="return confirm('{_back.hosts.fields.delete.confirmation}')">{_back.hosts.fields.delete}</a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/snippet fields}
    </div>
</div>

{control translationOptionModalForm}


{define additionalJs}
<script src="{$basePath}/dist/hosts.fields.default.bundle.js"></script>
{/define}
