<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block title}{/block} | {_}frontend.trips.dashboard.title.company{/_}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{$basePath}/dist/app.bundle.css">
</head>
<body>
<!-- prompt modal -->
{control promptModal}
{include content}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="{$basePath}/dist/app.bundle.js"></script>
<script src="{$basePath}/assets/js/vendor/live-form-validation.js"></script>
<script>
    LiveForm.setOptions({
        messageErrorPrefix: '',
        wait: 500,
        showAllErrors: true,
        showMessageClassOnParent: false
    });
</script>

</body>
</html>
