<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block title}{/block} | {_}frontend.trips.dashboard.title.company{/_}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <link rel="stylesheet" href="{$basePath}/dist/app.bundle.css">
</head>
<body>


{snippet flashes}
<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        {foreach $flashes as $flash}
        <div class="alert alert-{$flash->type}" role="alert">
            {_}{$flash->message}{/_}
        </div>
        {/foreach}
    </div>
</div>
{/snippet}

{include content}


<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="{$basePath}/dist/app.bundle.js"></script>

</body>
</html>
