<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block title}{/block} | {_}frontend.trips.dashboard.title.company{/_}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.10/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{$basePath}/dist/app.bundle.css">
</head>
<body>

<!-- prompt modal -->
{control promptModal}
<!-- issue form modal -->
{control issueFormModal}

{control userInfoBox 'mobile'}

<!-- dashboard navigation / left panel -->
<aside class="dashboard-navigation" id="navigation">

    <div class="dashboard-navigation-top d-flex justify-content-between">

        <div class="d-md-none">
            <button type="button" class="btn-default dashboard-navigation-btn" data-toggle="navigation">
                <span class="icon-hamburger"></span>
                <span class="icon-close"></span>
            </button>
        </div>

        <div class="logo">
            <a n:href=":Front:Homepage:default">
                <img src="{$basePath}/assets/img/deloitte-niumad-logo.svg" class="d-block" alt="" />
            </a>
        </div>

        <div class="d-md-none">
            {if !$presenter->isLinkCurrent(':Trips:Front:Trip:')}
            <button type="button" class="btn-default" data-toggle="modal-no-backdrop" data-target="#modal-filter">
                <span class="icon-manage"></span>
            </button>
            {else}
            <button type="button" class="btn-default" data-toggle="modal" data-target="#modal-settings">
                <span class="icon-settings"></span>
            </button>
            {/if}
        </div>

    </div>

    <div class="dashboard-navigation-menu">

        <a n:href=":Trips:Front:TripCreate:create" class="btn-icon-md btn-green mt-lg-5">
            {_}frontend.trips.dashboard.link.create{/_}
            <span class="icon-plus"></span>
        </a>

        <nav class="nav flex-column mt-4">
            <a class="nav-link {$presenter->isLinkCurrent(':Trips:Front:Trip:default') ? 'active'}" n:href=":Front:Homepage:default">
                <span class="icon-home"></span>
                {_}frontend.trips.dashboard.link.home{/_}
            </a>
            <a class="nav-link {$presenter->isLinkCurrent(':Trips:Front:Trip:favorites') ? 'active'}" n:href=":Trips:Front:Trip:favorites">
                <span class="icon-star"></span>
                {_}frontend.trips.dashboard.link.favorites{/_}
            </a>
            <a class="nav-link {$presenter->isLinkCurrent(':Trips:Front:Trip:plannedTrips') ? 'active'}" n:href=":Trips:Front:Trip:plannedTrips">
                <span class="icon-scheduled"></span>
                {_}frontend.trips.dashboard.link.planned{/_}
                {control tripsCounter $planned}
            </a>
            <a class="nav-link {$presenter->isLinkCurrent(':Trips:Front:Trip:drafts') ? 'active'}" n:href=":Trips:Front:Trip:drafts">
                <span class="icon-drafts"></span>
                {_}frontend.trips.dashboard.link.drafts{/_}
                {control tripsCounter $drafts}
            </a>
            <a class="nav-link {$presenter->isLinkCurrent(':Trips:Front:Trip:pastTrips') ? 'active'}" n:href=":Trips:Front:Trip:pastTrips">
                <span class="icon-history"></span>
                {_}frontend.trips.dashboard.link.past{/_}
            </a>
            <a class="nav-link {$presenter->isLinkCurrent(':Users:Front:Assistant:*') ? 'active'}" n:href=":Users:Front:Assistant:">
                <span class="icon-profile"></span>
                {_}frontend.trips.dashboard.link.assistant{/_}
            </a>
        </nav>
        <a href="#" class="logo-nav d-lg-none">
            <img src="{$basePath}/assets/img/daimler-logo.png" height="24" alt=""/>
        </a>
        <button type="button" class="btn-chat d-lg-none">
            <span class="icon-comment"></span>
        </button>
    </div>

    <div class="dashboard-navigation-bottom">
        <a n:href="issueFormModal:showModal!" class="d-none ajax d-lg-block">
            {_}frontend.trips.dashboard.link.help{/_}
        </a>
    </div>

</aside>

<!-- dashboard main -->
<main class="dashboard-main" data-simplebar>
    <div class="dashboard-main-header d-none d-lg-block">
        <div class="header">

            {control userInfoBox 'default'}

            <h2 class="header-2">{block header}{_}frontend.trips.dashboard.header.{$presenter->isLinkCurrent(':Users:Front:Assistant:*') ? assistant : home}{/_}{/block}</h2>
        </div>
    </div>
    <div class="dashboard-main-content">

        {snippet flashes}
            {foreach $flashes as $flash}
            <div class="alert alert-{$flash->type}" role="alert">
                {_}{$flash->message}{/_}
            </div>
            {/foreach}
        {/snippet}

        {include content}
    </div>
</main>

<!-- dashboard right panel -->
<aside class="dashboard-right d-none d-lg-block" data-simplebar>
    <div class="header mb-5">
        <img src="{$basePath}/assets/img/daimler-logo.png" alt=""/>
    </div>
    <h2 class="header-2">{_}frontend.trips.dashboard.sidebar.trips{/_}</h2>

    {if $current->getCurrentItemsCount() !== 0}
    <h3 class="header-6">{_}frontend.trips.dashboard.sidebar.current{/_}</h3>
    {control tripsSidebar $current}
    {/if}

    {if $planned->getCurrentItemsCount() !== 0}
    <h3 class="header-6">{_}frontend.trips.dashboard.sidebar.planned{/_}</h3>
    {control tripsSidebar $planned}
    {/if}

    {if $current->getCurrentItemsCount() === 0 && $planned->getCurrentItemsCount() === 0}
    <img src="{$basePath}/assets/img/no-trips.svg" alt="" class="img-fluid"/>
    <div class="sidebar-trips-empty">
        {_}frontend.trips.dashboard.sidebar.no-trips{/_}
    </div>
    {/if}

</aside>

<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="{$basePath}/dist/app.bundle.js"></script>
</body>
</html>
