<form n:name="form">
    {snippet flashes}
    {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => true}
    {/snippet flashes}

    <input n:name="id">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            {label name, class => 'col-sm-2 col-form-label'}
                            <div class="col-sm-10">
                                <input n:name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            {label type, class => 'col-sm-2 col-form-label'}
                            <div class="col-sm-10">
                                <select class="form-control" n:name="type"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            {label country, class => 'col-sm-2 col-form-label'}
                            <div class="col-sm-10">
                                <select class="form-control" n:name="country"></select>
                            </div>
                        </div>

                        <input n:name="send" class="btn btn-lg btn-success float-right">
                        <a href="{plink :Hosts:Back:Hosts:default}" class="btn btn-lg btn-default float-right">{_}back.hosts.form.label.cancel{/_}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
