<div n:snippet n:inner-if="$renderModal" class="modal modal-delete" {*id="delete-draft"*} tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="header-bold-1 mb-4">{_}frontend.trips.create-trip.header.delete{/_}</h2>
                <p class="header-3 mb-5">{_}frontend.trips.create-trip.header.delete.text{/_}</p>
                <div class="row">
                    <div class="col-6 pr-2">
                        <button type="button" data-dismiss="modal" class="btn-icon">
                            {_}frontend.trips.create-trip.header.delete.no{/_}
                            <span class="icon-cancel"></span>
                        </button>
                    </div>
                    <div class="col-6 pl-2">
                        <a href="{plink delete!, id => $id}" class="btn-icon btn-red btn ajax">
                            {_}frontend.trips.create-trip.header.delete.yes{/_}
                            <span class="icon-delete"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
