<div class="row">
	<div class="col-md-12">
		<div class="card {if $translation === null}border-danger{/if}" data-holder-key="{$key}">
			<div class="card-header" n:if="$activeLanguageCode !== 'en' && $defaultTranslation !== null">
				<h4 class="card-header-title">
					Default translation: {$defaultTranslation}
				</h4>
			</div>
			<div class="card-header confirmer-holder">
				<h4 class="card-header-title">
					<span class="text-muted">{$key}</span>
					<div class="float-right text-success" data-confirmer-key="{$key}" style="display: none"><i class="fa fa-check"></i> Saved</div>
				</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<form class="ui form ajax" n:name="form">
							<input type="text" class="form-control language-input" n:name="translation" data-save-link="{link save!}" data-language="{$activeLanguageCode}" data-key="{$key}">
							<div class="invalid-feedback" data-error-key="{$key}">
								Translation cannot be empty.
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
