// Bootstrap overrides variables

$spacer: 10px;

$spacers: ();
$spacers: map-merge(
  (
	  0: 0,
	  1: ($spacer * .25),
	  2: ($spacer * .5),
	  3: $spacer,
	  4: ($spacer * 2),
	  5: ($spacer * 4)
  ),
  $spacers
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 760px,
	xl: 780px
);

$grid-gutter-width: 40px;