// General Style
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html.dashboard {
	overflow-y: hidden;
	overflow-x: hidden;

	@include respond-below(md) {
		overflow-y: auto;
	}
}

body {
	color: $black;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;

	@include respond-above(md) {
	}
}

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

// Headers
.header {
	border-bottom: 1px solid $tertiary-30;
	height: 60px;
}

.header-1 {
	font-size: 30px;
	line-height: 41px;
}

.header-2 {
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 24px;
}

.header-3 {
	font-size: 18px;
	line-height: 25px;
}

.header-4 {
	font-size: 16px;
	line-height: 22px;
}

.header-5 {
	font-size: 16px;
	line-height: 22px;
}

.header-6 {
	color: $tertiary-60;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 20px;
}

.header-7 {
	color: $black;
	font-size: 14px;
	line-height: 40px;
	margin-bottom: 20px;
}

@for $i from 1 through 7 {
	.header-light-#{$i} {
		@extend .header-#{$i};
		font-weight: 300;
	}
}

@for $i from 1 through 7 {
	.header-semibold-#{$i} {
		@extend .header-#{$i};
		font-weight: 600;
	}
}

@for $i from 1 through 7 {
	.header-bold-#{$i} {
		@extend .header-#{$i};
		font-weight: 700;
	}
}

// Text
.text-normal {
	font-size: 12px;
	line-height: 16px;
}

.text-thin {
	@extend .text-normal;
	font-weight: 300;
}

.text-semibold {
	@extend .text-normal;
	font-weight: 600;
}

.text-bold {
	@extend .text-normal;
	font-weight: 700;
}

// Medium text
.text-md-normal {
	font-size: 14px;
}

// Small text
.text-sm-normal {
	font-size: 12px;
}

.text-sm-thin {
	@extend .text-sm-normal;
	font-weight: 300;
}

.text-sm-semibold {
	@extend .text-sm-normal;
	font-weight: 600;
}

.text-sm-bold {
	@extend .text-sm-normal;
	font-weight: 700;
}

// Text colors
.text-black {
	color: $black!important;
}

.text-gray-60 {
	color: $tertiary-60!important;
}

.text-green {
	color: $primary-3!important;
}

.text-orange {
	color: $orange-3!important;
}

// Word break
.break-word {
	overflow-wrap: break-word;
}

// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

.alert {
	&-top {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 600;
		padding: 15px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 999999;
	}

	&-success {
		background: $primary-2;
		color: $primary-3;
	}

	&-icon {
		border: 1px solid $primary-3;
		border-radius: 50%;
		display: inline-block;
		font-size: 6px;
		margin-right: 10px;
		padding: 1px;
		height: 14px;
		width: 14px;
	}
}

// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

.bg-gray-10 {
	background-color: $tertiary-10;
}

// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------

.badge {
	font-weight: 700;

	&-green {
		background: $primary-3;
		color: $white;
	}
}

// -----------------------------------------------------------------------------
// Boxes
// -----------------------------------------------------------------------------

.box {
	background: $tertiary-10;
	border-radius: $radius;
	padding: 20px;

	&-separator {
		border-top: 1px solid $tertiary-40;
		margin: 30px 0;
		position: relative;
		width: 100%;

		span {
			background: $tertiary-10;
			color: $tertiary-70;
			display: inline-block;
			font-size: 14px;
			left: 50%;
			padding: 0 20px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}

	&-separator-full {
		border-top: 1px solid $tertiary-40;
		margin: 20px -20px;
	}
}

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------

.pagination {
	.page-item {
		padding: 0 5px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		.page-link {
			@extend .btn-default;
			font-weight: 600;
			min-width: 40px;
			text-align: center!important;
		}

		&.active .page-link {
			background: $black;
			color: $white;
			font-weight: 700;

			&:hover {
				background: $black;
				color: $white;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

%btn {
	background: $tertiary-30;
	border: none;
	border-radius: $radius;
	color: $tertiary-70;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	text-align: left;
	text-decoration: none;
	transform: all .3s ease-out;

	&:hover {
		background: $tertiary-35;
		color: $black;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $tertiary-10;
			color: $tertiary-70;
			cursor: default;
		}
	}
}

.btn-icon {
	@extend %btn;
	font-size: 14px;
	line-height: 10px;
	padding: 19px 20px;
	width: 100%;

	span {
		font-size: 16px;
		position: absolute;
		right: 20px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-sm {
	@extend %btn;
	font-size: 14px;
	line-height: 10px;
	padding: 15px 20px;
	width: 100%;

	span {
		font-size: 16px;
		position: absolute;
		right: 20px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-flag {
	@extend .btn-icon;
	line-height: 10px;
	padding: 19px 10px 19px 42px;

	span[class^='flag-'] {
		left: 16px!important;
	}
}

.btn-icon-left {
	@extend .btn-icon;
	text-align: right;

	span {
		position: absolute;
		left: 20px;
		right: auto;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-left-md {
	@extend .btn-icon;
	font-size: 16px;
	line-height: 22px;
	text-align: right;

	span {
		left: 20px;
		line-height: .5;
		position: absolute;
		right: auto;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-md {
	@extend %btn;
	display: block;
	font-size: 14px;
    line-height: 12px;
    padding: 16px 20px;
	width: 100%;

	span {
		font-size: 16px;
		position: absolute;
		right: 20px;
		top: 15px;
	}
}

.btn-icon-lg {
	@extend %btn;
	display: block;
	padding: 16px 20px;
	width: 100%;

	span {
		position: absolute;
		right: 20px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-lg-left {
	@extend .btn-icon-lg;
	text-align: right;

	span {
		position: absolute;
		left: 20px;
		right: auto;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-icon-transparent {
	@extend %btn;
	background: transparent!important;
	display: block;
	padding: 12px 20px;
	width: 100%;

	span {
		position: absolute;
		right: 20px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-flag {
	@extend %btn;
	background: $tertiary-10;
	line-height: 20px;
	padding: 10px 10px 10px 42px;

	&:hover {
		background: $tertiary-20;
	}

	&:active {
		background: $black;
		color: $white;
	}

	span {
		position: absolute;
		left: 10px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-flag-remove {
	@extend %btn;
	background: $black;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: $white;
	line-height: 20px;
	padding: 10px 50px 10px 42px;

	&:hover {
		background: $black;
		color: $white;
	}

	&:active {
		background: $black;
		color: $white;
	}

	&:after {
		background: $tertiary-90;
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;
		color: $tertiary-55;
		// content: '\0048';
		content: '\e907';
		display: block;
		font-family: 'Iconfont';
		font-size: 16px;
		line-height: 16px;
		padding: 12px;
		position: absolute;
		right: 0;
		top: 0;
	}

	span {
		position: absolute;
		left: 10px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-flag-radio {
	@extend %btn;
	line-height: 20px;
	padding: 14px 10px 14px 42px;
	width: 100%;

	span {
		position: absolute;
		left: 16px;
		top: 50%;
    	transform: translateY(-50%);
	}

	.custom-control-label {
		position: absolute;
		right: 10px;
    	top: 12px;
	}
}

.btn-radio {
	@extend %btn;
	padding: 10px 20px 10px 38px;

	.control {
		position: absolute;
		left: 12px;
		top: 12px;
	}
}

.btn-default {
	@extend %btn;
	font-size: 12px;
	line-height: 11px;
	padding: 14px;
}

.btn-default-sm {
	@extend %btn;
	border-radius: $radius-sm;
	font-size: 9.5px;
	font-weight: 700;
	padding: 3px 10px;
}

.btn-default-md {
	@extend %btn;
	font-size: 12px;
	font-weight: 700;
	line-height: 9px;
	min-width: 40px;
	padding: 14px;
	text-align: center;
}

.btn-default-lg {
	@extend %btn;
	font-size: 16px;
	line-height: 12px;
	min-height: 48px;
	min-width: 48px;
	padding: 16px;
	text-align: center;
}

.btn-filter {
	width: 140px;

	&.active {
		background: $black;
		color: $white;
	}
}

.btn-icon.btn-danger,
.btn-icon-left.btn-danger,
.btn-icon-md.btn-danger,
.btn-icon-lg.btn-danger,
.btn-icon-lg-left.btn-danger,
.btn-default.btn-danger,
.btn-default-md.btn-danger,
.btn-default-lg.btn-danger,
.btn-default-sm.btn-danger {
	background: $danger-1;
	color: $danger-3;

	&:hover {
		background: $danger-2;
		color: $danger-3;
	}

	&:focus {
		box-shadow: none;
		outline: 0;
	}

	&:not(:disabled):not(.disabled):active:focus {
		box-shadow: none;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $danger-1;
			color: $danger-3;
			cursor: default;
		}
	}
}

.btn-icon.btn-warning,
.btn-icon-left.btn-warning,
.btn-icon-md.btn-warning,
.btn-icon-lg.btn-warning,
.btn-icon-lg-left.btn-warning,
.btn-default.btn-warning,
.btn-default-md.btn-warning,
.btn-default-lg.btn-warning,
.btn-default-sm.btn-warning {
	background: $warning-1;
	color: $warning-3;

	&:hover {
		background: $warning-2;
		color: $warning-3;
	}

	&:focus {
		box-shadow: none;
		outline: 0;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $warning-1;
			color: $warning-3;
			cursor: default;
		}
	}
}

.btn-icon.btn-orange,
.btn-icon-left.btn-orange,
.btn-icon-md.btn-orange,
.btn-icon-lg.btn-orange,
.btn-icon-lg-left.btn-orange,
.btn-default.btn-orange,
.btn-default-md.btn-orange,
.btn-default-lg.btn-orange,
.btn-default-sm.btn-orange {
	background: $orange-1;
	color: $orange-3;

	&:hover {
		background: $orange-2;
		color: $orange-3;
	}

	&:focus {
		box-shadow: none;
		outline: 0;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $orange-1;
			color: $orange-3;
			cursor: default;
		}
	}
}

.btn-icon.btn-green,
.btn-icon-left.btn-green,
.btn-icon-md.btn-green,
.btn-icon-lg.btn-green,
.btn-icon-lg-left.btn-green,
.btn-default.btn-green,
.btn-default-lg.btn-green,
.btn-default-sm.btn-green {
	background: $primary-3;
	color: $white;

	&:hover {
		background: $primary-4;
		color: $white;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $primary-3;
			color: $white;
			cursor: default;
		}
	}
}

.btn-icon.btn-success,
.btn-icon-left.btn-success,
.btn-icon-md.btn-success,
.btn-icon-lg.btn-success,
.btn-icon-lg-left.btn-success,
.btn-default.btn-success,
.btn-default-lg.btn-success,
.btn-default-sm.btn-success {
	background: $primary-1;
	color: $primary-4;

	&:hover {
		background: $primary-2;
		color: $primary-4;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $primary-2;
			color: $primary-4;
			cursor: default;
		}
	}
}

.btn-icon.btn-red,
.btn-icon-left.btn-red,
.btn-icon-md.btn-red,
.btn-icon-lg.btn-red,
.btn-icon-lg-left.btn-red,
.btn-default.btn-red,
.btn-default-lg.btn-red,
.btn-default-sm.btn-red {
	background: $danger-3;
	color: $white;

	&:hover {
		background: $danger-3;
		color: $white;
	}

	&.disabled {
		opacity: .4;

		&:hover {
			background: $danger-3;
			color: $white;
			cursor: default;
		}
	}
}

.btn-outline {
	background: transparent;
	border: 1px solid $tertiary-30;
	border-radius: $radius;
	color: $tertiary-70;
	display: inline-block;
	font-size: 14px;
	padding: 10px 56px 10px 20px;
	position: relative;

	&:focus {
		outline: 0;
	}

	&:hover {
		color: $black;
	}

	&.disabled {
		color: $tertiary-70;
	}

	span {
		line-height: 1;
		position: absolute;
		right: 20px;
		top: 50%;
    	transform: translateY(-50%);
	}
}

.btn-chat {
	@extend %btn;
	background: $black;
	border-radius: 50%;
	bottom: 20px;
	color: $white;
	font-size: 16px;
	height: 48px;
	padding: 14px 16px;
	position: absolute;
	right: 20px;
	width: 48px;

	&:hover,
	&:focus {
		background: $black;
		color: $white;
	}
}

// Loading button
@keyframes loading {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes loading {
	0% {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.btn-loading {

	.loading {
		display: none;
	}

	&:disabled,
	&.disabled {
		span {
			display: none;
		}

		.loading {
			display: block;
			height: 20px !important;
			position: absolute;
	    	right: 20px;
	    	top: 50%;
	    	transform: translateY(-50%);
			width: 20px !important;
		}
		.loading div,
		.loading div:after {
			position: absolute;
			width: 16px;
			height: 16px;
			border: 2px solid $black;
			border-top-color: transparent;
			border-radius: 50%;
		}
		.loading div {
			-webkit-animation: loading 1s linear infinite;
			animation: loading 1s linear infinite;
			top: 10px;
			left: 10px;
		}
		.loading div:after {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}

	&.btn-default-lg.disabled,
	&.btn-default-lg:disabled {
		.loading {
			right: 14px;
		}
	}
}

// -----------------------------------------------------------------------------
// Dashboard
// -----------------------------------------------------------------------------

.dashboard {

	&-navigation {
		@include respond-below(md) {
			background-color: $white;
			height: auto;
			padding: 0;
			position: fixed;
			top: 0;
			width: 100%;

			.nav .nav-link .badge {
				right: 0;
			}
		}

		background: $tertiary-10;
		height: 100vh;
		left: 0;
		padding: 40px;
		position: fixed;
		width: 240px;
		z-index: 10;

		&-top {
			@include respond-below(md) {
				border-bottom: 1px solid $tertiary-30;
				padding: 20px;

				.logo img {
					margin-top: 7px;
					height: 25px;
					width: 85.9px;
				}
			}
		}

		&-btn {
			.icon-close {
				display: none;
			}
		}

		&-menu {
			@include respond-below(md) {
				display: none;
				padding: 10px 20px;
			}
		}

		&-bottom {
			position: absolute;
			bottom: 40px;
			left: 40px;

			a {
				color: $tertiary-60;
				text-decoration: underline;
			}
		}

		&.active {
			background: $tertiary-10;
			height: 100vh;

			.dashboard-navigation-top {
				background: $tertiary-10;
				border-bottom: 0;
			}

			.dashboard-navigation-menu {
				display: block;
			}

			.dashboard-navigation-btn {
				.icon-hamburger {
					display: none;
				}

				.icon-close {
					display: block;
				}
			}
		}

		.logo-nav {
			bottom: 20px;
			left: 20px;
			position: absolute;

			@include respond-below('md') {
				height: 25px;
				width: 85.89px;
			}
		}
	}

	&-right {
		border-left: 1px solid $tertiary-30;
		height: 100vh;
		padding: 40px;
		position: fixed;
		right: 0;
		width: 320px;
	}

	&-main {
		height: 100vh;
		left: 240px;
		position: fixed;
		right: 320px;

		&-header {
			background: $white;
			left: 240px;
			padding: 40px 40px 0 40px;
			position: fixed;
			right: 320px;
			z-index: 100;
		}

		&-content {
			margin-top: 60px;
			padding: 40px;

			@include respond-below(md) {
				margin-top: 80px;
				padding: 20px;
			}
		}

		@include respond-below(md) {
			height: auto;
			left: 0;
			position: relative;
			right: 0;
			top: 0;
		}
	}

}

// -----------------------------------------------------------------------------
// Datepicker
// -----------------------------------------------------------------------------

.datepicker-container {
	@extend .box;

	.datepicker-controls {

		display: flex;

		.next-month, .prev-month {
			@extend .btn-default-sm;
			color: $tertiary-70;
			height: 40px;
			padding: 14px;
			width: 40px;
		}

		.search-items {
			flex-grow: 1;
			margin: 0 20px;
			width: 100%;

			.select-month {
				width: 100%;

	  			.btn-dropdown {
	  				line-height: 16px;
	  			}

				.bs-searchbox {
					input {
						padding: 3px 12px 6px 12px;
						height: 31px;
					}

					.dropdown-menu {
						li {
							a {
								&.opt, &.dropdown-item {
									padding: 10px 20px;
								}
							}

							&.disabled {
								display: none;
							}
						}

						.no-results, .status {
							padding: 10px 20px;
						}
					}
				}
			}
		}

	}

	.datepicker-external {

		font-size: 14px;

		.datepicker {
			width: 100%;

			&-days > table {
				display: block;
				width: 100%;

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							width: 32px;
							height: auto;
						}

						td {
							border-radius: $radius;
							display: block;
							width: 32px;
							height: 32px;
							text-align: center;

							&.day {
								color: $tertiary-70;
								margin-top: 5px;
								margin-bottom: 5px;
								padding: 5px 0;
								position: relative;
								z-index: 2;

								&.today {
									background: transparent;
									color: $primary-3;
									font-weight: 700;
								}
							}

							&.active.day {
								z-index: 10;
							}

							&.active.day,
							&.day:hover {
								background: $black;
								color: $white;
								font-weight: 400;
							}

							&.old.day {
								color: $tertiary-50;
							}

							&.disabled.day {
								background: transparent;
								border-top-left-radius: $radius;
								border-bottom-left-radius: $radius;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
								color: $tertiary-50;

								&:after {
									background: $tertiary-70;
									content: "";
									display: block;
									height: 1px;
									left: 50%;
									position: absolute;
									transform: translateX(-50%) translateY(-50%);
									top: 50%;
									width: 16px;
								}

								&.selected:after {
									display: none;
								}
							}

							&.selected.day {
								background: $tertiary-80;
								color: $white;
								border-radius: 0;

								&:before {
									display: block;
									content: "";
									background: $tertiary-80;
									width: 20px;
									height: 32px;
									position: absolute;
									top: 0;
									z-index: 0;

									@include respond-below(lg) {
										left: -68px;
										width: 68px;
									}
								}

								&.selected-start {
									&:before {
										left: -20px;
									}

									&.selected-first {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;
									}
								}

								&.selected-end {
									&:before {
										right: -20px;
									}

									&.selected-first {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;
									}
								}


							}
						}



						& > .disabled ~ .disabled {
							border-top-left-radius: 0 !important;
							border-bottom-left-radius: 0 !important;
						}

						& > .disabled.disabled-last,
						& > .disabled:last-child {
							border-top-right-radius: $radius !important;
							border-bottom-right-radius: $radius !important;

							&.selected-end {
								border-top-right-radius: 0 !important;
								border-bottom-right-radius: 0 !important;
							}
						}

						.dow {
							color: $tertiary-58;
							font-weight: 400;
							padding: 30px 0;
						}
					}
				}
			}

			&-months > table,
			&-years > table,
			&-decades > table,
			&-centuries > table {
				display: block;
				width: 100%;

				tbody {
					margin-top: 30px;
				}

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							text-align: center;
						}

						td {
							border-radius: $radius;
							display: block;
							height: auto;
							width: 100%;
							text-align: center;

							.month,
							.year {
								color: $tertiary-70;
							}

							.month.focused,
							.year.focused {
								background: $tertiary-40;
							}

							.month.active,
							.month:hover,
							.year.active,
							.year:hover {
								background: $black;
								color: $white;
							}
						}
					}
				}
			}

			.next, .prev {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				height: 40px;
				padding: 14px;
				width: 40px;
			}

			.datepicker-switch {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				font-size: 14px;
				font-weight: 400;
				height: 40px;
				padding: 9px 14px;
				text-align: center;
				width: auto;
			}

			&-title {
				color: $tertiary-58;
			}
		}
	}
}

.datepicker-input-container {
	position: relative;

	&.active {

		.datepicker-input {
			box-shadow: $shadow-low;
			display: block;
			margin-bottom: 100px;

			.form-control {
				border-color: $tertiary-40;
				@include placeholder {
					color: $black;
				}

				&:focus,
				&:hover {
					border-color: $tertiary-40;

					@include placeholder {
						color: $black;
					}
				}
			}

			.icon-clear {
				right: 15px;
	    		top: 12px;
			}
		}
	}

	.datepicker-controls {
		display: flex;

		.next-month, .prev-month {
			@extend .btn-default-sm;
			color: $tertiary-70;
			height: 40px;
			padding: 14px;
			width: 40px;
		}

		.search-items {
			flex-grow: 1;
			margin: 0 20px;
			width: 100%;

			.select-month {
				width: 100%;

	  			.btn-dropdown {
	  				line-height: 16px;
	  			}

				.bs-searchbox {
					input {
						padding: 3px 12px 6px 12px;
						height: 31px;
					}

					.dropdown-menu {
						li {
							a {
								&.opt, &.dropdown-item {
									padding: 10px 20px;
								}
							}

							&.disabled {
								display: none;
							}
						}

						.no-results, .status {
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}

	.datepicker-input {
		background: $white;
		border: 1px solid $tertiary-40;
		border-radius: $radius;
		box-shadow: $shadow-low;
		display: none;
		position: absolute;
		top: 0;
		width: 100%;
		min-width: 324px;
		z-index: 10;

		@include respond-below(xl) {
			// width: 426px;
		}

		@include respond-below(lg) {
			width: 100%;
			min-width: 100%;
		}

		.form-control {
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			width: 100%;

			&:focus,
			&:hover {
				border-left: 0;
				border-right: 0;
				border-top: 0
			}
		}
	}

	.datepicker-external {

		font-size: 14px;

		.datepicker {
			width: 100%;

			&-days > table {
				display: block;
				width: 100%;

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							width: 32px;
							height: auto;
						}

						td {
							border-radius: $radius;
							display: block;
							width: 32px;
							height: 32px;
							text-align: center;

							&.day {
								color: $tertiary-70;
								margin-top: 5px;
								margin-bottom: 5px;
								padding: 5px 0;
								position: relative;
								z-index: 2;

								&.today {
									background: transparent;
									color: $primary-3;
									font-weight: 700;
								}
							}

							&.active.day {
								z-index: 10;
							}

							&.active.day,
							&.day:hover {
								background: $black;
								color: $white;
								font-weight: 400;
							}

							&.old.day {
								color: $tertiary-50;
							}

							&.disabled.day {
								background: transparent;
								border-top-left-radius: $radius;
								border-bottom-left-radius: $radius;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
								color: $tertiary-50;

								&:after {
									background: $tertiary-70;
									content: "";
									display: block;
									height: 1px;
									left: 50%;
									position: absolute;
									transform: translateX(-50%) translateY(-50%);
									top: 50%;
									width: 16px;
								}

								&.selected:after {
									display: none;
								}
							}

							&.selected.day {
								background: $tertiary-80;
								color: $white;
								border-radius: 0;

								&:before {
									display: block;
									content: "";
									background: $tertiary-80;
									width: 20px;
									height: 32px;
									position: absolute;
									top: 0;
									z-index: 0;

									@include respond-below(lg) {
										left: -68px;
										width: 68px;
									}
								}

								&.selected-start {
									&:before {
										left: -20px;
									}

									&.selected-first {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;
									}
								}

								&.selected-end {
									&:before {
										right: -20px;
									}

									&.selected-first {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;
									}
								}


							}
						}



						& > .disabled ~ .disabled {
							border-top-left-radius: 0 !important;
							border-bottom-left-radius: 0 !important;
						}

						& > .disabled.disabled-last,
						& > .disabled:last-child {
							border-top-right-radius: $radius !important;
							border-bottom-right-radius: $radius !important;

							&.selected-end {
								border-top-right-radius: 0 !important;
								border-bottom-right-radius: 0 !important;
							}
						}

						.dow {
							color: $tertiary-58;
							font-weight: 400;
							padding: 30px 0;
						}
					}
				}
			}

			&-months > table,
			&-years > table,
			&-decades > table,
			&-centuries > table {
				display: block;
				width: 100%;

				tbody {
					margin-top: 30px;
				}

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							text-align: center;
						}

						td {
							border-radius: $radius;
							display: block;
							height: auto;
							width: 100%;
							text-align: center;

							.month,
							.year {
								color: $tertiary-70;
							}

							.month.focused,
							.year.focused {
								background: $tertiary-40;
							}

							.month.active,
							.month:hover,
							.year.active,
							.year:hover {
								background: $black;
								color: $white;
							}
						}
					}
				}
			}

			.next, .prev {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				height: 40px;
				padding: 14px;
				width: 40px;
			}

			.datepicker-switch {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				font-size: 14px;
				font-weight: 400;
				height: 40px;
				padding: 9px 14px;
				text-align: center;
				width: auto;
			}

			&-title {
				color: $tertiary-58;
			}
		}
	}
}

.datetimepicker-input-container {
	position: relative;

	&.open {
		.datetimepicker-wrapper {
			.form-control {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	.datetimepicker-wrapper {
		display: flex;

		& > div {
			width: 50%;

			.form-control.datepicker {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: 0;
			}

			.form-control.timepicker {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&.active {

		.datepicker-input {
			box-shadow: $shadow-low;
			display: block;
			margin-bottom: 100px;

			&.detached {
				margin-top: 47px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			.form-control {
				border-color: $tertiary-40;
				@include placeholder {
					color: $black;
				}

				&:focus,
				&:hover {
					border-color: $tertiary-40;

					@include placeholder {
						color: $black;
					}
				}
			}

			.icon-clear {
				right: 15px;
	    		top: 12px;
			}
		}
	}

	.datepicker-controls {
		display: flex;

		.next-month, .prev-month {
			@extend .btn-default-sm;
			color: $tertiary-70;
			height: 40px;
			padding: 14px;
			width: 40px;
		}

		.search-items {
			flex-grow: 1;
			margin: 0 20px;
			width: 100%;

			.select-month {
				width: 100%;

	  			.btn-dropdown {
	  				line-height: 16px;
	  			}

				.bs-searchbox {
					input {
						padding: 3px 12px 6px 12px;
						height: 31px;
					}

					.dropdown-menu {
						li {
							a {
								&.opt, &.dropdown-item {
									padding: 10px 20px;
								}
							}

							&.disabled {
								display: none;
							}
						}

						.no-results, .status {
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}

	.datepicker-input {
		background: $white;
		border: 1px solid $tertiary-40;
		border-radius: $radius;
		box-shadow: $shadow-low;
		display: none;
		position: absolute;
		top: 0;
		width: 100%;
		min-width: 324px;
		z-index: 10;

		@include respond-below(xl) {
			// width: 426px;
		}

		@include respond-below(lg) {
			width: 100%;
			min-width: 100%;
		}

		.form-control {
			border-left: 0;
			border-right: 0;
			border-top: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			width: 100%;

			&:focus,
			&:hover {
				border-left: 0;
				border-right: 0;
				border-top: 0
			}
		}
	}

	.datepicker-external {

		font-size: 14px;

		.datepicker {
			width: 100%;

			&-days > table {
				display: block;
				width: 100%;

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							width: 32px;
							height: auto;
						}

						td {
							border-radius: $radius;
							display: block;
							width: 32px;
							height: 32px;
							text-align: center;

							&.day {
								color: $tertiary-70;
								margin-top: 5px;
								margin-bottom: 5px;
								padding: 5px 0;
								position: relative;
								z-index: 2;

								&.today {
									background: transparent;
									color: $primary-3;
									font-weight: 700;
								}
							}

							&.active.day {
								z-index: 10;
							}

							&.active.day,
							&.day:hover {
								background: $black;
								color: $white;
								font-weight: 400;
							}

							&.old.day {
								color: $tertiary-50;
							}

							&.disabled.day {
								background: transparent;
								border-top-left-radius: $radius;
								border-bottom-left-radius: $radius;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
								color: $tertiary-50;

								&:after {
									background: $tertiary-70;
									content: "";
									display: block;
									height: 1px;
									left: 50%;
									position: absolute;
									transform: translateX(-50%) translateY(-50%);
									top: 50%;
									width: 16px;
								}

								&.selected:after {
									display: none;
								}
							}

							&.selected.day {
								background: $tertiary-80;
								color: $white;
								border-radius: 0;

								&:before {
									display: block;
									content: "";
									background: $tertiary-80;
									width: 20px;
									height: 32px;
									position: absolute;
									top: 0;
									z-index: 0;

									@include respond-below(lg) {
										left: -68px;
										width: 68px;
									}
								}

								&.selected-start {
									&:before {
										left: -20px;
									}

									&.selected-first {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;
									}
								}

								&.selected-end {
									&:before {
										right: -20px;
									}

									&.selected-first {
										border-top-right-radius: $radius !important;
										border-bottom-right-radius: $radius !important;

										&:before {
											display: none;
										}
									}

									&.selected-last {
										border-top-left-radius: $radius !important;
										border-bottom-left-radius: $radius !important;
									}
								}


							}
						}



						& > .disabled ~ .disabled {
							border-top-left-radius: 0 !important;
							border-bottom-left-radius: 0 !important;
						}

						& > .disabled.disabled-last,
						& > .disabled:last-child {
							border-top-right-radius: $radius !important;
							border-bottom-right-radius: $radius !important;

							&.selected-end {
								border-top-right-radius: 0 !important;
								border-bottom-right-radius: 0 !important;
							}
						}

						.dow {
							color: $tertiary-58;
							font-weight: 400;
							padding: 30px 0;
						}
					}
				}
			}

			&-months > table,
			&-years > table,
			&-decades > table,
			&-centuries > table {
				display: block;
				width: 100%;

				tbody {
					margin-top: 30px;
				}

				thead, tbody, tfoot {
					display: block;

					tr {
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;

						th {
							display: block;
							text-align: center;
						}

						td {
							border-radius: $radius;
							display: block;
							height: auto;
							width: 100%;
							text-align: center;

							.month,
							.year {
								color: $tertiary-70;
							}

							.month.focused,
							.year.focused {
								background: $tertiary-40;
							}

							.month.active,
							.month:hover,
							.year.active,
							.year:hover {
								background: $black;
								color: $white;
							}
						}
					}
				}
			}

			.next, .prev {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				height: 40px;
				padding: 14px;
				width: 40px;
			}

			.datepicker-switch {
				@extend .btn-default-sm;
				color: $tertiary-70;
				display: none;
				font-size: 14px;
				font-weight: 400;
				height: 40px;
				padding: 9px 14px;
				text-align: center;
				width: auto;
			}

			&-title {
				color: $tertiary-58;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Dropdowns
// -----------------------------------------------------------------------------

.dropdown {
	&-menu {
		border: 1px solid $tertiary-30;
		border-radius: $radius;
		box-shadow: $shadow-low;
		padding: 0;
	    transform: none!important;
		width: 100%;

		// [class^='icon-'] {
		// 	font-size: 12px;
		// 	position: absolute;
		// 	right: 20px;
		// 	top: 16px;
		// }
	}

	&-title {
		@extend .text-sm-normal;
		// border-bottom: 1px solid $tertiary-30;
		color: $tertiary-60;
		padding: 19px 20px 11px 20px;

		&:nth-of-type(1){
			padding: 11px 20px 0 20px;
		}
	}

	&-item {
		border-bottom: 1px solid $tertiary-30;
		font-size: 14px;
		line-height: 19px;
		padding: 10px 20px;

		&.active {
			background: transparent;
			color: $primary-3;
		}

		&:hover {
			background: transparent;
		}
	}

	&-menu-arrow {

		padding: 20px;
		left: auto!important;
		right: 0px!important;
		top: 48px!important;
		width: 276px;

		&::before {
			border-color: $tertiary-30 transparent;
			border-style: solid;
			border-width: 0px 6px 6px 6px;
			content: "";
			display: block;
			height: 0px;
			position: absolute;
			right: 22px;
			top: -6px;
			width: 0px;
			z-index: 11;
		}

		&::after {
			border-color: $white transparent;
			border-style: solid;
			border-width: 0px 5px 5px 5px;
			content: "";
			display: block;
			height: 0px;
			position: absolute;
			right: 23px;
			top: -5px;
			width: 0px;
			z-index: 12;
		}
	}

	&-clear {
		background: #fff;
		cursor: pointer;
		position: absolute;
		right: 19px;
		top: 13px;
		z-index: 10;
	}
}

// -----------------------------------------------------------------------------
// Flags
// -----------------------------------------------------------------------------

.flag {
	&-sm {
		height: 20px;
		width: 20px;
	}

	&-lg {
		height: 48px;
		width: 48px;
	}
}

// -----------------------------------------------------------------------------
// Error pages
// -----------------------------------------------------------------------------

html.error-page {
	height: 100%;

	body {
		height: 100%;
		min-height: auto;
	}
}

.error {
	&-container {
		height: 100%;
	}

	&-content {
		max-width: 400px;
		text-align: center;

		@include respond-below(md) {
			max-width: 280px;

			h1 {
				font-size: 24px;
				line-height: 33px;
			}

			p {
				font-size: 16px;
				line-height: 22px;
			}
		}
	}

	&-body {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	&-header {
		display: flex;
		justify-content: center;
		position: absolute;
		text-align: center;
		top: 40px;
		width: 100%;

		@include respond-below(md) {
			top: 30px;
		}
	}

	&-footer {
		display: flex;
		justify-content: center;
		width: 100%;

		a {
			width: 200px;
		}

		@include respond-below(md) {
			display: block;
			bottom: 20px;
			left: 20px;
			position: absolute;
			right: 20px;
			width: auto;

			a {
				width: 100%;
			}
		}
	}
}


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

input::-ms-clear {
	display: none;
}

.form-group {
	position: relative;

	& > label {
		color: $black;
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 19px;
		width: 100%;

		span {
			color: $tertiary-70;
			font-size: 16px;
			margin-left: 20px;
		}
	}

	.label-icon {
		// align-items: center;
		display: flex;
		font-size: 14px;
		justify-content: flex-start;
		margin-bottom: 20px;
		width: 100%;

		label {
			margin-bottom: 0;
		}

		span {
			font-size: 16px;
		}
	}

	.form-control {
		border: 1px solid $tertiary-30;
		border-radius: $radius;
		color: $black;
		font-size: 14px;
		height: 48px;
		padding: 14px 20px;
		position: relative;

		@include placeholder {
			color: $tertiary-50;
		}

		&:hover {
			border-color: $tertiary-40;

			@include placeholder {
				color: $tertiary-70;
			}
		}

		&:focus {
			border: 1px solid $tertiary-30;
			box-shadow: none;

			.search {
				display: none;
			}
		}
	}

	textarea.form-control {
		height: auto;
	}

	&.search {

		height: 42px;

		.form-control {
			font-size: 12px;
			height: 42px;
		}

		input {
			@include placeholder {
				color: $tertiary-70;
			}
		}

		&:hover {
			input {
				@include placeholder {
					color: $black;
				}
			}
		}

		@include respond-above(lg){
			width: 380px;
		}

		&-country{

			padding: 23px 0 23px 46px;

			&::before {
				color: $tertiary-70;
				content: '\e911';
				// content: '\0052';
				display: block;
				font-family: 'Iconfont';
				font-size: 20px;
				left: 14px;
				position: absolute;
				top: 14px;
				z-index: 10;
			}
		}

		.search-append {
			display: block;
			font-size: 12px;
			height: 12px;
			position: absolute;
			right: 20px;
			top: 14px;
			width: 12px;
			z-index: 10;

			.icon-clear {
				display: none;
			}
		}

		&.active {

			.search-append .icon-search {
				display: none;
			}

			&.typing .search-append {
				cursor: pointer;
				display: block;
				font-size: 16px;
				height: 16px;
				right: 12px;
				top: 10px;
				width: 16px;

				.icon-clear {
					display: block;
					color: $tertiary-75;
				}
			}

			.search-container {
				border-radius: $radius;
				box-shadow: $shadow-low;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 10;
			}

			.search-whisperer {
				display: block;
			}

			.form-control {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.form-control {
			z-index: 1;
		}

		.search-whisperer {
			background: $white;
			border: 1px solid $tertiary-30;
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
			border-top: 0;
			display: none;
			max-height: 304px;
			width: 100%;

			&-item {
				align-items: center;
				border-bottom: 1px solid $tertiary-30;
				color: $black;
				display: flex;
				font-size: 12px;
				padding: 10px 18px;

				[class*='flag-'] {
					margin-right: 12px;
				}

				&:hover {
					cursor: pointer;
					text-decoration: none;
				}

				&.loading,
				&.empty {
					color: $tertiary-70;
					font-weight: 300;

					&:hover {
						cursor: default;
					}
				}
			}

			&-item:last-child {
				border: 0;
			}
		}
	}

	&.search-icon {
		&:after {
			color: $tertiary-70;
			content: "\e92f";
			display: block;
			font-family: 'Iconfont';
			font-size: 12px;
			position: absolute;
			right: 20px;
			top: 16px;
		}
	}
}

// Errors
.hint-message {
	color: $tertiary-70;
	font-size: 9.5px;
	margin-top: 10px;
}

.error-message {
	color: $red;
	font-size: 9.5px;
	margin-bottom: 10px;
}

.box.has-error {
	border: 1px solid $red;
}

.has-error {
	.box {
		border: 1px solid $red;
	}

	.search-countries .bootstrap-select .btn-dropdown,
	.search-items .bootstrap-select .btn-dropdown {
		border-color: $red;

		&[aria-expanded="true"] {
			border-color: $white;
		}
	}

	.datepicker-container  > input,
	.input-clear > input {
		border-color: $red;
	}

	.datepicker-container .search-items .bootstrap-select .btn-dropdown {
		border-color: $tertiary-30;
	}

}

.dropdown-items {
	select {
		width: 100%;
	}

	.bootstrap-select {

		width: 100%;

		&.form-control {
			border: 0;
			padding: 0;
		}

		.dropdown-toggle {
			background: $white;
			border: 1px solid $tertiary-30;
			border-radius: $radius;
			color: $black;
			font-size: 14px;
			line-height: 24px;
			padding: 11px 20px;

			&:focus {
				box-shadow: none;
				outline: 0!important;
			}

			&:hover {
				border-color: $tertiary-40;
				color: $black;
			}

			&:after {
				border: none;
				content:'\e918';
				// content:'\0059';
				font-family: 'Iconfont';
				font-size: 12px;
			}

			&.bs-placeholder {
				color: $tertiary-70;
			}
		}

		.dropup .dropdown-toggle::after {

		}

		.dropdown-menu {
			.inner {
				max-height: 300px;
			}
		}

		.dropdown-menu {
			margin-top: 0;

			.dropdown-header {
				line-height: 13px;
				padding: 9px 0 0 12px;

				.text {
					color: $tertiary-60;
					font-size: 9.5px;

				}
			}

			.inner {
				// max-height: 300px!important;
			}

			li {
				a {
					display: flex;
					align-items: center;

					&.opt, &.dropdown-item {
						padding: 13px 20px;

						span {
							margin-right: 8px;
							white-space: normal;
						}
					}

					&.active,
					&:active,
					&:focus,
					&:hover {
						color: $black;
						background: $white;
						outline: 0;
					}
				}

				&.dropdown-divider {
					display: none;
				}

				&.disabled {
					display: none;
				}

				small {
					color: black!important;
					display: block;
					font-size: 12px;
					line-height: 16px;
					margin-top: 4px;
					padding-left: 0;
				}
			}

			.active {
				a {
					color: $black!important;
				}
			}
		}

	}
}


// Search countries
.search-countries {
	width: 100%;

	select {
		width: 100%;
	}

	.bootstrap-select {

		width: 100%;

		&.form-control {
			border: 0;
			padding: 0;
		}

		.btn-dropdown {
			background: $white;
			border: 1px solid $tertiary-30;
			border-radius: $radius;
			color: $black;
			padding: 10px 20px 12px 14px;

			&:focus {
				box-shadow: none;
				outline: 0!important;
			}

			&:hover {
				border-color: $tertiary-40;
				color: $black;
			}

			&.bs-placeholder {
				color: $tertiary-70;
			}
		}

		.dropdown-toggle::after {
			border: none;
			content:'\e918';
			// content:'\0059';
			font-family: 'Iconfont';
			font-size: 12px;
		}

		.dropup .dropdown-toggle::after {

		}

		.bs-searchbox {
			border-bottom: 1px solid $tertiary-40;
			padding: 5px 20px 6px 34px;

			&:before {
				color: $black;
				content: '\e911';
				// content: '\0052';
				display: block;
				font-family: 'Iconfont';
				font-size: 20px;
				left: 14px;
				position: absolute;
				top: 8px;
			}

			input {
				border: 0;
				font-size: 14px;
				padding: 6px 12px;
				height: 35px;

				&:focus {
					box-shadow: none;
				}
			}

			.icon-clear {
				color: $black;
				cursor: pointer;
				display: block;
				right: 14px;
				position: absolute;
				top: 14px;
			}
		}

		.dropdown-menu {
			margin-top: 0;

			.dropdown-header {
				line-height: 13px;
				padding: 9px 0 0 12px;

				.text {
					color: $tertiary-60;
					font-size: 9.5px;
				}
			}

			.inner {
				max-height: 300px!important;
			}

			li {
				a {
					display: flex;
					align-items: center;

					&.opt, &.dropdown-item {
						padding: 11px 12px;

						span {
							margin-right: 8px;
							white-space: normal;
						}
					}

					&.active,
					&:active,
					&:focus,
					&:hover {
						color: $black;
						background: $white;
						outline: 0;
					}
				}

				&.disabled {
					display: none;
				}

				&.dropdown-divider {
					display: none;
				}
			}

			.active {
				a {
					color: $black!important;
				}
			}

			.no-results, .status {
				background: $white;
				color: $tertiary-70;
				font-size: 14px;
				padding: 11px 12px;
			}
		}

		.filter-option-inner-inner {
			align-items: center;
			display: flex;
			font-size: 14px;

			i {
				margin-right: 8px;

				&.icon-globe {
					font-size: 20px;
				    line-height: 20px;
				    margin-top: 3px;
				}
			}
		}
	}
}

// Search items
.search-items {
	width: 100%;

	select {
		width: 100%;
	}

	.bootstrap-select {

		width: 100%;

		&.form-control {
			border: 0;
			padding: 0;
		}

		.btn-dropdown {
			background: $white;
			border: 1px solid $tertiary-30;
			border-radius: $radius;
			color: $tertiary-70;
			line-height: 24px;
			padding: 11px 20px;

			&:focus {
				box-shadow: none;
				outline: 0!important;
			}

			&:hover {
				border-color: $tertiary-40;
				color: $black;
			}
		}

		.dropdown-toggle {
			color: $black;

			&:after {
				border: none;
				content:'\e918';
				// content:'\0059';
				font-family: 'Iconfont';
				font-size: 12px;
			}

			&.bs-placeholder {
				color: $tertiary-70;
			}
		}

		.dropup .dropdown-toggle::after {

		}

		.dropdown-menu {
			.inner {
				max-height: 300px;
			}
		}

		.bs-searchbox {
			border-bottom: 1px solid $tertiary-30;
			padding: 3px 8px;
			// padding: 7px 20px 7px 34px;

			// &:before {
			// 	color: $black;
			// 	content: '\e911';
			//	// content: '\0052';
			// 	display: block;
			// 	font-family: 'Iconfont';
			// 	font-size: 20px;
			// 	left: 14px;
			// 	position: absolute;
			// 	top: 9px;
			// }

			input {
				border: 0;
				font-size: 14px;
				padding: 6px 12px 6px 12px;
				height: 38px;

				&:focus {
					box-shadow: none;
				}
			}

			.icon-clear {
				color: $tertiary-75;
				cursor: pointer;
				display: block;
				right: 18px;
				position: absolute;
				top: 12px;
			}
		}

		.dropdown-menu {
			margin-top: 0;

			.dropdown-header {
				line-height: 13px;
				padding: 9px 0 0 12px;

				.text {
					color: $tertiary-60;
					font-size: 9.5px;

				}
			}

			.inner {
				// max-height: 300px!important;
			}

			li {
				a {
					display: flex;
					align-items: center;

					&.opt, &.dropdown-item {
						padding: 12px 20px;

						span {
							margin-right: 8px;
							white-space: normal;
						}
					}

					&.active,
					&:active,
					&:focus,
					&:hover {
						color: $black;
						background: $white;
						outline: 0;
					}
				}

				&.dropdown-divider {
					display: none;
				}

				&.disabled {
					display: none;
				}

				small {
					color: black!important;
					display: block;
					font-size: 12px;
					line-height: 16px;
					margin-top: 4px;
					padding-left: 0;
				}
			}

			.active {
				a {
					color: $black!important;
				}
			}

			.no-results, .status {
				background: $white;
				color: $tertiary-70;
				font-size: 14px;
				padding: 12px 20px;
			}
		}

		.filter-option-inner-inner {
			align-items: center;
			display: flex;
			font-size: 14px;

			i {
				margin-right: 8px;

				&.icon-globe {
					font-size: 20px;
				    line-height: 20px;
				    margin-top: 3px;
				}
			}
		}
	}
}

.select-multiple-search-items .multiple-selected-wrapper .multiple-selected {
	padding-left: 22px;
}

// Search dropdown
.search-dropdown {
	background: $white;
	border: 1px solid $tertiary-30;
	border-radius: $radius;
	color: $tertiary-70;
	min-height: 40px;

	&:hover {
		border-color: $tertiary-40;
		color: $black;

		.search-dropdown-input {
			input {
				@include placeholder {
					color: $black;
				}
			}
		}
	}

	&.active {
		box-shadow: $shadow-low;
		color: $black;
		position: absolute;
		z-index: 1000;
		width: 100%;

		.search-dropdown-input {
			input {
				@include placeholder {
					color: $tertiary-70;
				}
			}
		}

		.search-dropdown-toggle {
			.icon-chevron-down {
				display: none;
			}
		}

		.whisperer {
			display: block;
		}
	}

	&.selected {
		.icon-clear {
			display: none!important;
		}
	}

	&.typing {
		.search-dropdown-toggle {
			.icon-clear {
				display: block;
			}
		}
	}

	&.disabled {
		opacity: .4;
	}

	&-selector {
		display: flex;
	}

	&-selected {
		display: none;
	}

	&.selected {
		.search-dropdown-selector {
			display: none;
		}

		.search-dropdown-selected {
			display: flex;
		}
	}

	&.selected.active {
		.search-dropdown-selector {
			display: none;
		}
	}

	&-wrapper {
		height: 49px;
		position: relative;
		width: 100%;
	}

	&-container {
		display: flex;
	}

	&-icon {
		font-size: 20px;
		padding: 13px 0 0 14px;
	}

	&-input {
		flex-grow: 1;

		input[type="text"] {
			border: 0;
			border-radius: $radius;
			font-size: 14px;
			padding: 14px 12px;

			@include placeholder {
				color: $tertiary-70;
			}

			&:focus {
				outline: 0;
			}
		}

		span {
			display: block;
			font-size: 14px;
			padding: 14px 12px;
		}
	}

	&-toggle {
		cursor: pointer;
		font-size: 12px;
		padding: 18px 20px 0 0;

		.icon-clear {
			display: none;
		}
	}

	.whisperer {
		border-top: 1px solid $tertiary-40;
		display: none;
		max-height: 304px;

		&-title {
			color: $tertiary-60;
			font-size: 9.5px;
			line-height: 13px;
			padding: 9px 0 0 12px;
		}

		&-item {
			align-items: center;
			border-bottom: 1px solid $tertiary-40;
			display: flex;
			font-size: 14px;
			padding: 11px 12px;

			[class^='flag-'] {
				margin-right: 10px;
			}

			&:hover {
				cursor: pointer;
			}

			&.loading {
				color: $tertiary-70;
				font-weight: 300;

				&:hover {
					cursor: default;
				}
			}
		}

		&-item:last-child {
			border: 0;
		}
	}
}

.multiple-selected-wrapper {
	display: flex;
	margin-bottom: 10px;

	.multiple-selected {
		background: $tertiary-30;
		border-radius: $radius;
		color: $tertiary-70;
		flex-grow: 1;
		font-size: 14px;
		line-height: 19px;
		margin-right: 10px;
		padding: 14px 12px 14px 42px;
		position: relative;

		span {
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// checkbox
.custom-control.custom-checkbox {
	padding-left: 0;

	label {
		border-radius: $radius;
		background: $tertiary-30;
		color: $tertiary-70;
		cursor: pointer;
		font-size: 14px;
		padding: 10px 12px 10px 38px;
		width: 100%;

		&:hover {
			background: $tertiary-35;
			color: $black;
		}

		&:before {
			top: 14px;
			left: 12px;
		}

		&:after {
			top: 14px;
			left: 12px;
		}
	}

	&.custom-checkbox-lg {
		label {
			font-weight: 600;
			line-height: 20px;
			padding: 14px 12px 14px 38px;

			&:before {
				top: 16px;
			}

			&:after {
				top: 16px;
			}
		}
	}
}

.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
}

.custom-control.custom-checkbox .custom-control-label::before,
.custom-control.custom-checkbox .custom-control-input:focus:not(:checked)~.custom-control-label::before {
	border-color: $tertiary-50;
}

.custom-control.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: $white;
    border-color: $black;
    background-color: $black;
}

// Radio
.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-image: url(../img/radio-checked.svg);
	background-size: 100%;
}

.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::before {
    color: $white;
    border-color: $white;
    background-color: $white;
}

.custom-control.custom-radio .custom-control-label::before {
	border-color: $tertiary-40;
}

label.custom-control {
	margin: 0;

	* {
		cursor: pointer;
	}
}

.radios-mobile-fullwidth {
	.custom-radio {
		@include respond-below(md){
			display: block;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.radio-clear {
	display: flex;
	margin-bottom: 10px;

	.btn-radio {
		flex-grow: 1;
	}
}

.input-clear {
	position: relative;

	.icon-clear {
		display: none;
		font-size: 16px;
		position: absolute;
		right: 16px;
		top: 13px;
		z-index: 2;
	}

	&.filled {
		.icon-clear {
			color: $tertiary-75;
			display: block;
		}
	}
}

// -----------------------------------------------------------------------------
// Helpers
// -----------------------------------------------------------------------------

.hidden {
	display: none;

	&.active {
		display: block;
	}
}

.no-border {
	border: 0!important;
}

.w-lg-120 {
	@include respond-above(lg){
		width: 120px!important;
	}
}

.w-200 {
	width: 200px!important;
}

.w-300 {
	width: 300px!important;
}

// -----------------------------------------------------------------------------
// History
// -----------------------------------------------------------------------------

.history-empty {
	margin-top: 100px;
	text-align: center;

	.header-semibold-2 {
		color: $tertiary-58;
	}

	.header-3 {
		color: $tertiary-55;

		a {
			color: $tertiary-55;
			font-weight: 600;
			text-decoration: underline;
		}
	}
}

// -----------------------------------------------------------------------------
// Lines
// -----------------------------------------------------------------------------

hr.line-light {
	border: 1px solid $tertiary-30;
}

hr.line {
	border: 1px solid $tertiary-40;
}

// -----------------------------------------------------------------------------
// Modals
// -----------------------------------------------------------------------------

.modal {
	&-backdrop.show {
		opacity: .3;
		width: 100%;
		height: 100%;
	}

	&-body {
		padding: 20px;
	}

	&-content {
		border: 0;
		border-radius: $radius;
	}

	&-dialog {
		@include respond-below(md) {
			margin: 0 20px;
		}
	}

	&-delete .modal-dialog {
		max-width: 490px;
		@include respond-above(md) {
			.modal-body {
				padding: 40px;
			}
		}
	}

	&-settings .modal-dialog {
		margin: 0;

		.modal-content {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}

	&-issue .modal-dialog {
		@include respond-above(md) {
			.modal-body {
				padding: 40px;
			}
		}
		@include respond-below(md) {
			border-radius: 0;
			height: 100%;
			margin: 0;

			.modal-content {
				border-radius: 0;
				height: 100%;
			}
		}
	}

	&-filter .modal-dialog {
		background: $white;
		height: 100%;
		margin: 0;

		.modal-content {
			border-radius: 0;
			height: 100%;

			.modal-body {
				background: $tertiary-10;
				padding-bottom: 80px;
				padding-top: 100px;
			}

			.modal-header {
				background: $white;
				border-bottom: 1px solid $tertiary-30;
				padding: 20px;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1;
			}

			.modal-footer {
				background: $white;
				border-top: 0;
				bottom: 0;
				position: fixed;
				width: 100%;
			}
		}
	}

	&-success .modal-dialog {
		max-width: 490px;

		@include respond-above(md) {
			.modal-body {
				padding: 40px 86px;
			}
		}

		@include respond-below(md) {
			&.modal-dialog-centered {
				align-items: flex-end;
			}
		}
	}

	&#modal-reset {
		background: rgba(0,0,0,.3);
	}

}

// -----------------------------------------------------------------------------
// Navigation
// -----------------------------------------------------------------------------

.nav {
	.nav-link {
		color: $tertiary-60;
		padding: 14px 0;
		position: relative;

		&:hover {
			color: $tertiary-70;
		}

		&.active,
		&.active:hover {
			color: $primary-3;
			font-weight: 600;
		}

		[class*='icon-'] {
			margin-right: 6px;
		}

		.badge {
			right: -20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// -----------------------------------------------------------------------------
// New trip
// -----------------------------------------------------------------------------

.new-trip {

	&-header {
		background: $white;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 10;
	}

	&-content {
		bottom: 0;
		padding-bottom: 89px;
		padding-top: 28px;
		position: fixed;
		top: 148px;
		width: 100%;

		.simplebar-content-wrapper{
			min-height: 100%;
		}

		@include respond-below(md) {
			padding-top: 0;
			// padding-bottom: 105px;
			top: 119px;

			.header-semibold-4 {
				font-size: 14px;
			}
		}
	}

	&-completion {
		text-align: right;

		@include respond-below(md) {
			font-size: 14px;
		}
	}

	&-footer {
		background: $white;
		border-top: 1px solid $tertiary-30;
		bottom: 0;
		width: 100%;
		padding: 20px 0;
		position: fixed;
		z-index: 10;

		// margin-top: -89px;

		@include respond-below(md) {
			border-top: 0;
			bottom: 0;
		}

		.notification {
			font-size: 14px;
			font-weight: 600;
			padding-top: 12px;
		}
	}
}

%trip-status {
	border: 2px solid $tertiary-10;
	border-radius: 50%;
	bottom: -4px;
	color: $white;
	display: block;
	font-size: 10px;
	height: 24px;
	position: absolute;
	right: -4px;
	width: 24px;

	&:after {
		font-family: 'Iconfont';
		font-size: 10px;
		left: 4.5px;
		position: absolute;
    	transform: translateY(-50%);
		top: 50%;
	}
}

.mobile-trip {
	%trip-status {
		float: right;
		margin-top: -2px;
		position: relative;
	}
}

.trip-completed {
	@extend %trip-status;
	background: $primary-3;

	&:after {
		content: "\e917";
		top: 11px;
	}
}

.trip-canceled {
	@extend %trip-status;
	background: $orange-3;

	&:after {
		content: "\e93a";
		font-size: 10.5px;
	}
}

.trip-request {
	@extend %trip-status;
	background: $orange-3;

	&:after {
		content: "\e92b";
		font-size: 10.5px;
	}
}

.trip-draft {
	@extend %trip-status;
	background: $tertiary-70;

	&:after {
		content: "\e939";
	}
}

.trip-favorite {
	@extend %trip-status;
	background: $warning-3;

	&:after {
		content: "\e934";
		font-size: 10.5px;
	}
}

.trip-planned {
	@extend %trip-status;
	background: $secondary-1;

	&:after {
		content: "\e931";
		font-size: 10.5px;
	}
}

// -----------------------------------------------------------------------------
// Onboarding
// -----------------------------------------------------------------------------

.onboarding {
	&-header {
		align-items: flex-end;
		background: $white;
		border-bottom: 1px solid $tertiary-30;
		display: flex;
		height: 104px;
		justify-content: space-between;
		padding: 40px 40px 20px 40px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		&-left {


		}

		&-middle {
			left: 0;
			position: absolute;
			width: 100%;
		}

		&-right {

		}
	}

	&-main {
		bottom: 89px;
		padding: 60px 0;
		position: fixed;
		top: 104px;
		width: 100%;
	}

	&-footer {
		background: $white;
		border-top: 1px solid $tertiary-30;
		bottom: 0;
		height: 89px;
		padding: 20px;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 10;
	}
}

// -----------------------------------------------------------------------------
// Progress
// -----------------------------------------------------------------------------

.progress-mobile-title {
	font-size: 9.5px;
	font-weight: 600;
	padding: 10px 20px;
}

.progress-wrapper {

	.row {
		.col {
			padding: 0 5px;
		}
	}

	@include respond-below(md) {
		.row {
			.col {
				border-right: 1px solid $tertiary-50;
				padding: 0;
			}
			.col:last-child {
				border-right: 0;
			}
		}
	}
}

.progress-item {
	color: $tertiary-58;
	font-size: 9.5px;
	font-weight: 700;
	padding: 20px 0;

	@include respond-below(md) {
		padding: 0;
	}

	&-bar {
		background: $tertiary-40;
		border-radius: $radius;
		height: 4px;
		margin-top: 10px;
		position: relative;

		@include respond-below(md) {
			border-radius: 0;
			margin-top: 0;
		}
	}

	&.active {
		color: $black;

		.progress-item-bar {
			background: $black;
		}
	}

	&.active-50 {
		color: $black;

		.progress-item-bar {
			background: $tertiary-40;

			&:before {
				background: $black;
				border-radius: $radius;
				content: "";
				display: block;
				left: 0;
				height: 4px;
				position: absolute;
				top: 0;
				width: 50%;
				z-index: 2;

				@include respond-below(md) {
					border-radius: 0;
				}
			}
		}
	}

	&.completed {
		color: $primary-3;

		a {
			color: $primary-3;

			&:hover {
				text-decoration: none;
			}
		}

		.progress-item-bar {
			background: $primary-3;
		}
	}

}

// -----------------------------------------------------------------------------
// Row list
// -----------------------------------------------------------------------------

.row-list {

	margin-bottom: 22px;

	&-header {
		border-bottom: 1px solid $tertiary-30;
		color: $tertiary-60;
		font-size: 14px;
		margin-bottom: 18px;
		padding: 18px 0;
	}

	&-item {
		@extend .box;
		margin-bottom: 20px;

		&-warning {
			align-items: center;
			background: $orange-1;
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
			color: $orange-3;
			display: flex;
			font-size: 14px;
			margin: -20px -20px 20px -20px;
			padding: 10px 20px;

			@include respond-below(md) {
				font-size: 12px;

				span:before {
					font-size: 16px;
				}
			}
		}

		&-danger {
			align-items: center;
			background: $danger-1;
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
			color: $danger-3;
			display: flex;
			font-size: 14px;
			margin: -20px -20px 20px -20px;
			padding: 10px 20px;

			@include respond-below(md) {
				font-size: 12px;

				span:before {
					font-size: 16px;
				}
			}
		}

		&-footer {
			align-items: center;
			background: $tertiary-30;
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
			color: $tertiary-60;
			display: flex;
			font-size: 14px;
			margin: 20px -20px -20px -20px;
			padding: 10px 20px;

			&-icon {
				background: $white;
				border: 2px solid $tertiary-40;
				border-radius: 50%;
				color: $black;
				display: inline-block;
				height: 22px;
				position: relative;
				width: 22px;

				span {
					left: 50%;
					position: absolute;
					top: -2px;
					transform: translateX(-50%);

					&:before {
						font-size: 10px;
					}
				}
			}

			@include respond-below(md) {
				font-size: 12px;

				span {
					top: 0;
				}
			}
		}

		&-flag {
			align-items: center;
			display: flex;
			flex-shrink: 0;
			padding-right: 20px;

			> span {
				position: relative;
			}

			.flag-lg {
				border: 2px solid $tertiary-30;
				border-radius: 50%;
				height: 42px;
				width: 42px;
			}

			@include respond-below(md) {
				display: block;
			}
		}

		&-icon {
			align-items: center;
			display: flex;
			flex-shrink: 0;
			padding-right: 20px;

			> span {
				position: relative;
			}

			[class*='icon-'] {
				background: $white;
				border: 4px solid $tertiary-30;
				border-radius: 50%;
				height: 48px;
				width: 48px;

				&:before {
					color: $black;
					font-size: 20px;
					left: 50%;
					position: absolute;
					top: 8px;
					transform: translateX(-50%);
				}
			}

			%trip-status {
				bottom: -6px;
				right: -8px;
			}

			@include respond-below(md) {
				%trip-status {
					bottom: -22px;
				}
			}
		}

		&-text {
			flex-grow: 1;
			flex-shrink: 1;

			@include respond-below(md) {
				margin-bottom: 30px;
			}

			.title {
				color: $black;
				font-size: 16px;

				strong {
					font-weight: 600;
				}
			}

			.desc {
				color: $tertiary-70;
				flex: 1 1;
				font-size: 14px;
				overflow-wrap: break-word;

				@include respond-below(md) {
					margin-top: 0;
				}
			}

		}

		&-buttons {
			align-items: center;
			display: flex;
			flex-shrink: 0;

			@include respond-below(md) {
				display: flex;
			}
		}

		.separator {
			background: $tertiary-40;
			display: inline-block;
			height: 10px;
			margin: 0 18px;
			width: 1px;

			@include respond-below(md) {
				margin: 0 11px;
			}
		}
	}

	&-empty {
		color: $tertiary-58;
		font-size: 18px;
		line-height: 25px;
		margin-top: 99px;
		text-align: center;

		@include respond-below(md) {
			margin-top: 39px;
		}

		strong {
			display: block;
			font-size: 24px;
			font-weight: 600;
			line-height: 33px;
			margin-bottom: 20px;
		}

	}
}

// -----------------------------------------------------------------------------
// Mobile trips
// -----------------------------------------------------------------------------

.mobile-trip {

	&-title {
		color: $tertiary-80;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 4px;
		margin-top: 20px;
	}

	&-description {
		color: $black;
		font-size: 14px;
		line-height: 19px;
	}
}

// -----------------------------------------------------------------------------
// Sidebar trips
// -----------------------------------------------------------------------------

.sidebar-trip {
	@extend .box;
	margin-bottom: 40px;

	&-title {
		color: $tertiary-80;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 4px;
		margin-top: 20px;
	}

	&-description {
		color: $black;
		font-size: 14px;
		line-height: 19px;
	}

	.btn-icon {
		margin-top: 20px;
	}
}

.sidebar-trips-empty {
	color: $tertiary-55;
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}


// -----------------------------------------------------------------------------
// Scrollbar
// -----------------------------------------------------------------------------

.simplebar-scrollbar {
	right: 0px;
	width: 4px;

	&::before {
		background: $tertiary-55;
	}
}

.simplebar-track.simplebar-vertical {
	right: 2px;
}

// -----------------------------------------------------------------------------
// Swiper
// -----------------------------------------------------------------------------

.swiper-container.swiper-buttons {
	height: auto;
	width: 120%;

	.swiper-slide {
		width: auto;
	}
}

.swiper-wrapper {
	height: auto;
}

// -----------------------------------------------------------------------------
// Summary
// -----------------------------------------------------------------------------

.summary {
	margin-bottom: 40px;

	&-header {
		align-items: center;
		border-bottom: 1px solid $tertiary-30;
		display: flex;
		justify-content: space-between;
		padding-bottom: 11px;
	}

	&-item {
		align-items: center;
		border-bottom: 1px solid $tertiary-30;
		display: flex;
		font-size: 12px;
		min-height: 50px;
		padding: 10px 0;
		justify-content: space-between;

		& > div {
			align-items: center;
			display: flex;

			&:first-child {
				padding-right: 20px;
			}

			span {
				margin-left: 10px;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------

.tab {
	display: none;

	&.active {
		display: block;
	}

	.btn-header {

		&-left {
			left: 20px;
			position: absolute;
		}

		&-right {
			position: absolute;
			right: 20px;
		}
	}
}


// -----------------------------------------------------------------------------
// Timepicker
// -----------------------------------------------------------------------------
.timepicker {
	&-container {
		background: $white;
		border: 1px solid $tertiary-40;
		border-radius: $radius;
		box-shadow: $shadow-low;
		display: none;
		position: absolute;
		top: 0;
		z-index: 10;
		width: 100%;

		&.active {
			display: block;
		}

		&.detached {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: 47px;

			& > .form-control {
				display: none;
			}

			.timepicker-controls {
				border-top: 0;
			}
		}

		.form-control {
			border: 0;
			padding-top: 13px;

			&:hover,
			&:focus {
				border: 0;
			}
		}
	}

	&-controls {
		border-top: 1px solid $tertiary-40;
		padding: 20px;
	}

	&-controls-container {
		text-align: center;
		width: 40%;

		.btn-default {
			font-size: 12px;
			text-align: center;
			width: 100%;
		}
	}

	&-dots {
		font-size: 14px;
		text-align: center;
		width: 20%;
	}

	&-hours {
		font-size: 14px;
		padding: 10px 0;
	}

	&-minutes {
		font-size: 14px;
		padding: 10px 0;
	}

	&-am,
	&-pm {
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;

		&.active {
			background: $black;
			color: $white;
		}
	}

	&-am {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&-pm {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}


// -----------------------------------------------------------------------------
// Tooltips
// -----------------------------------------------------------------------------

.tooltip-inner {
	border-radius: $radius;
	font-size: 9.5px;
	line-height: 13px;
}

.tooltip.bs-tooltip-top {
	.tooltip-inner {
		@include respond-above(sm) {
			position: relative;
			right: 26%;
		}
	}
}

.tooltip.bs-tooltip-top .arrow {
}

// -----------------------------------------------------------------------------
// Top panel
// -----------------------------------------------------------------------------

.top-panel {
	padding: 20px 0;

}