// -----------------------------------------------------------------------------
// icomoon.io
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Iconfont';
	src:  url('../fonts/icomoon/icomoon.eot?mafc6l');
	src:  url('../fonts/icomoon/icomoon.eot?mafc6l#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?mafc6l') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?mafc6l') format('woff'),
		url('../fonts/icomoon/icomoon.svg?mafc6l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal}

[class*='icon-']:before{
	/* use !important to prevent issues with browser extensions that change fonts */
	display: inline-block;
	font-family: 'Iconfont';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-arrow-up:before {content: "\e900"}
.icon-attachment:before {content: "\e901"}
.icon-back:before {content: "\e902"}
.icon-bookmark:before {content: "\e903"}
.icon-bug:before {content: "\e904"}
.icon-calendar:before {content: "\e905"}
.icon-clear:before {content: "\e906"}
.icon-close:before {content: "\e907"}
.icon-comment:before {content: "\e908"}
.icon-compass:before {content: "\e909"}
.icon-delete:before {content: "\e90a"}
.icon-doc:before {content: "\e90b"}
.icon-documents:before {content: "\e90c"}
.icon-download:before {content: "\e90d"}
.icon-drafts:before {content: "\e90e"}
.icon-exclamation-mark:before {content: "\e90f"}
.icon-expand:before {content: "\e910"}
.icon-globe:before {content: "\e911"}
.icon-hamburger:before {content: "\e912"}
.icon-history:before {content: "\e913"}
.icon-home:before {content: "\e914"}
.icon-chat:before {content: "\e915"}
.icon-check-circle:before {content: "\e916"}
.icon-checkmark:before {content: "\e917"}
.icon-chevron-down:before {content: "\e918"}
.icon-chevron-up:before {content: "\e919"}
.icon-info:before {content: "\e91a"}
.icon-logout:before {content: "\e91b"}
.icon-mail-out:before {content: "\e91c"}
.icon-manage:before {content: "\e91d"}
.icon-minimize:before {content: "\e91e"}
.icon-minus:before {content: "\e91f"}
.icon-more:before {content: "\e920"}
.icon-new-file:before {content: "\e921"}
.icon-next:before {content: "\e922"}
.icon-notebook:before {content: "\e923"}
.icon-paper-plane:before {content: "\e924"}
.icon-pdf:before {content: "\e925"}
.icon-plane:before {content: "\e926"}
.icon-plus:before {content: "\e927"}
.icon-print:before {content: "\e928"}
.icon-profile:before {content: "\e929"}
.icon-qr:before {content: "\e92a"}
.icon-question-mark:before {content: "\e92b"}
.icon-reload:before {content: "\e92c"}
.icon-repeat:before {content: "\e92d"}
.icon-reply:before {content: "\e92e";}
.icon-search:before {content: "\e92f"}
.icon-settings:before {content: "\e930"}
.icon-scheduled:before {content: "\e931"}
.icon-sort:before {content: "\e932"}
.icon-stack:before {content: "\e933"}
.icon-star:before {content: "\e934"}
.icon-upload:before {content: "\e935"}
.icon-warning:before {content: "\e936"}
.icon-chevron-left:before {content: "\e937"}
.icon-chevron-right:before {content: "\e938"}
.icon-edit:before {content: "\e939";}
.icon-cancel:before {content: "\e93a";}

// -----------------------------------------------------------------------------
// glyphter.com
// -----------------------------------------------------------------------------

// @font-face {
//     font-family: 'Iconfont';
//     src: url('../fonts/glyphter/Glyphter.eot');
//     src: url('../fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/glyphter/Glyphter.woff') format('woff'),
//          url('../fonts/glyphter/Glyphter.ttf') format('truetype'),
//          url('../fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// [class*='icon-']:before{
// 	display: inline-block;
// 	font-family: 'Iconfont';
// 	font-style: normal;
// 	font-weight: normal;
// 	line-height: 1;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale
// }
//
// .icon-arrow-up:before{content:'\0041';}
// .icon-attachment:before{content:'\0042';}
// .icon-back:before{content:'\0043';}
// .icon-bookmark:before{content:'\0044';}
// .icon-bug:before{content:'\0045';}
// .icon-calendar:before{content:'\0046';}
// .icon-clear:before{content:'\0047';}
// .icon-close:before{content:'\0048';}
// .icon-comment:before{content:'\0049';}
// .icon-compass:before{content:'\004a';}
// .icon-delete:before{content:'\004b';}
// .icon-doc:before{content:'\004c';}
// .icon-documents:before{content:'\004d';}
// .icon-download:before{content:'\004e';}
// .icon-drafts:before{content:'\004f';}
// .icon-exclamation-mark:before{content:'\0050';}
// .icon-expand:before{content:'\0051';}
// .icon-globe:before{content:'\0052';}
// .icon-hamburger:before{content:'\0053';}
// .icon-history:before{content:'\0054';}
// .icon-home:before{content:'\0055';}
// .icon-chat:before{content:'\0056';}
// .icon-check-circle:before{content:'\0057';}
// .icon-checkmark:before{content:'\0058';}
// .icon-chevron-down:before{content:'\0059';}
// .icon-chevron-up:before{content:'\005a';}
// .icon-info:before{content:'\0061';}
// .icon-logout:before{content:'\0062';}
// .icon-mail-out:before{content:'\0063';}
// .icon-manage:before{content:'\0064';}
// .icon-minimize:before{content:'\0065';}
// .icon-minus:before{content:'\0066';}
// .icon-more:before{content:'\0067';}
// .icon-new-file:before{content:'\0068';}
// .icon-next:before{content:'\0069';}
// .icon-notebook:before{content:'\006a';}
// .icon-paper-plane:before{content:'\006b';}
// .icon-pdf:before{content:'\006c';}
// .icon-plane:before{content:'\006d';}
// .icon-plus:before{content:'\006e';}
// .icon-print:before{content:'\006f';}
// .icon-profile:before{content:'\0070';}
// .icon-qr:before{content:'\0071';}
// .icon-question-mark:before{content:'\0072';}
// .icon-reload:before{content:'\0073';}
// .icon-repeat:before{content:'\0074';}
// .icon-reply:before{content:'\0075';}
// .icon-search:before{content:'\0076';}
// .icon-settings:before{content:'\0077';}
// .icon-scheduled:before{content:'\0078';}
// .icon-sort:before{content:'\0079';}
// .icon-stack:before{content:'\007a';}
// .icon-star:before{content:'\0030';}
// .icon-upload:before{content:'\0031';}
// .icon-warning:before{content:'\0032';}