// Variables

// -----------------------------------------------------------------------------
// Borders
// -----------------------------------------------------------------------------

$radius-sm: 6px;
$radius: 10px;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$secondary-1: #45A1DA;

$primary-1: #F4F8EC;
$primary-2: #E9F1DA;
$primary-3: #92BA44;
$primary-4: #63AD41;

$tertiary-10: #F9F9FA;
$tertiary-20: #F6F6F5;
$tertiary-30: #F1F1F2;
$tertiary-35: #E5E5E5;
$tertiary-40: #E4E4E5;
$tertiary-50: #D0D0CE;
$tertiary-55: #BBBCBC;
$tertiary-58: #A7A8AA;
$tertiary-60: #97999B;
$tertiary-70: #76787B;
$tertiary-75: #757575;
$tertiary-80: #63666A;
$tertiary-90: #53565A;

$orange-1: #FCF4EB;
$orange-2: #FAEAD7;
$orange-3: #E69435;

$danger-1: #FBEBE9;
$danger-2: #F6D7D4;
$danger-3: #D33927;

$warning-1: #FEFBED;
$warning-2: #FEF7DB;
$warning-3: #F9D749;

// -----------------------------------------------------------------------------
// Shadows
// -----------------------------------------------------------------------------

$shadow-low: 0px 6px 10px rgba(0, 0, 0, 0.05);
