<a class="dropdown-item dropdown-toggle" href="#" id="dropDownLanguages" data-toggle="dropdown">{_back.menu.language-select}</a>
<div class="dropdown-menu" aria-labelledby="dropDownLanguages">
    {foreach $locales as $locale}
		<a class="ajax dropdown-item {$loc->getCode() === $locale->getCode() ? 'active'}" href="{plink languageSelect:langChange!, lang => $locale->getCode()}">{$locale->getName()}</a>
    {/foreach}
</div>
