{snippet users}
    {foreach $users as $userAssistant}
		<div class="row-list-item">
			<!-- mobile -->
			<div class="d-block d-lg-none">
				<div class="mobile-trip">
					<div class="d-flex">
						<div class="row-list-item-icon">
								<span class="icon-profile">
									<span class="trip-completed"></span>
								</span>
						</div>
						<div class="row-list-item-text mb-0">
							<div class="d-flex mb-2">
								<div class="title">
									<strong>{$userAssistant->getEmail()}</strong>
								</div>
							</div>
							<div class="d-flex">
								<div class="desc">
									Waiting for approval
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex mt-5">
						<a href="#remove-assistant" data-toggle="modal" class="btn-icon btn-danger"> {_frontend.users.assistants.table.delete}
							<span class="icon-delete"></span>
						</a>
					</div>
				</div>
			</div>
			<!-- desktop -->
			<div class="d-none d-lg-block">
				<div class="d-flex">
					<div class="row-list-item-icon">
							<span class="icon-profile">
								<span class="trip-completed"></span>
							</span>
					</div>
					<div class="row-list-item-text">
						<div class="d-flex mb-2">
							<div class="title">
								<strong>{$userAssistant->getEmail()}</strong>
							</div>
						</div>
						<div class="d-flex">
							<div class="desc">
								Waiting for approval
							</div>
						</div>
					</div>
					<div class="row-list-item-buttons">
						<a href="#remove-assistant" data-toggle="modal" class="btn-default-lg btn-danger mr-2">
							<span class="icon-delete"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
    {/foreach}
    {control apiPagination}
{/snippet}
