{block content}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">

            <h1 class="display-4 text-center mb-3">
                {_login.change-password.meta.h1}
            </h1>

            <p class="text-muted text-center mb-5">
                {_login.change-password.meta.title}
            </p>

            {snippet flashes}
            {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes}
            {/snippet flashes}

            {control passwordResetForm}
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
            <div class="bg-cover vh-100 mt--1 mr--3"
                 style="background-image: url({$basePath}/assets/dashkit/img/covers/2.jpg);"></div>
        </div>
    </div>
</div>
