{block content}

<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
        <div class="header mt-md-5">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header">
                            {block title}{_back.hosts|capitalize}{/block}
                        </h1>
                    </div>
                </div>
                <p class="mb-5">{_back.hosts.description}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.hosts.search|capitalize}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {control searchForm}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {snippet hosts}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.hosts.available|capitalize}
                        </h4>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <a n:href="create" class="float-right btn-sm btn btn-primary mr-2">
                                    {_back.hosts.create|firstUpper}
                                </a>
                                <a n:href="csv" class="float-right btn-sm btn btn-secondary mr-2">
                                    {_back.hosts.csv|firstUpper}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{_back.hosts.name|capitalize}</th>
                                    <th scope="col">{_back.hosts.type|capitalize}</th>
                                    <th scope="col">{_back.hosts.country|capitalize}</th>
                                    <th class="text-right" scope="col">{_back.hosts.actions|capitalize}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $hosts as $host}
                                <tr>
                                    <th scope="row" class="text-muted">{$host->getId()}</th>
                                    <td>{$host->getName()}</td>
                                    <td>{$host->getType()}</td>
                                    <td>{$host->getCountry()->getName()}</td>
                                    <td align="right">
                                        <div class="btn-group">
                                            <a n:href="edit, id => $host->getId()" class="btn btn-sm btn-outline-info mr-2 rounded">{_back.hosts.edit|capitalize}</a>
                                            <a n:href="delete!, id => $host->getId()"
                                                class="btn btn-sm btn-outline-danger mr-2 rounded ajax"
                                                onclick="return confirm('{_back.hosts.delete.confirmation}')">{_back.hosts.delete|capitalize}</a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            {control apiPagination}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/snippet hosts}
    </div>
</div>
