{block content}



<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-12">
        <div class="header mt-md-5">
            <div class="header-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="header-pretitle">
                            {$host->getName()}
                        </h6>
                        <h1 class="header-title">
                            {block title}{_back.hosts.edit|capitalize}{/block}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {control hostForm}
            </div>
        </div>

        {snippet hostParams}
            <div class="row">
                <div class="col-12">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-header-title">
                                    {_back.hosts.params|capitalize}
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">
                                        <a n:href="paramModalForm:showModal!"
                                                class="btn btn-primary btn-sm float-right" data-naja-history="off">
                                            {_back.hosts.params.update|firstUpper}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{_back.hosts.params.table.name|capitalize}</th>
                                            <th scope="col">{_back.hosts.params.table.type|capitalize}</th>
                                            <th scope="col">{_back.hosts.params.table.value|capitalize}</th>
                                            <th class="text-right" scope="col">{_back.hosts.params.table.actions|capitalize}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $hostParams as $param}
                                            <tr>
                                                <th scope="row" class="text-muted">{$param->getId()}</th>
                                                <td>{$param->getField()->getName()}</td>
                                                <td>{$param->getField()->getType()}</td>
                                                <td>{$param->getValue()}</td>
                                                <td align="right">
                                                    <a n:href="paramModalForm:showModal!, field => $param->getField()->getId()" class="btn btn-sm mt-1 mb-1 btn-outline-info">{_back.hosts.params.edit|capitalize}</a>
                                                    <a n:href="deleteParam!, id => $host->getId(), field => $param->getField()->getId()" class="btn btn-sm mt-1 mb-1 btn-outline-danger" onclick="return confirm('{_back.hosts.params.delete.confirmation}')">{_back.hosts.params.delete|capitalize}</a>
                                                </td>
                                            </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {/snippet}

    </div>
</div>

{control paramModalForm}

<script type="text/javascript">
    const someBasicUrl = {link paramModalForm:changeInput!}
</script>

{define additionalJs}
<script src="{$basePath}/dist/hosts.fields.create.bundle.js"></script>
{/define}

