{block content}
<div class="row justify-content-center">
	<div class="col-12 col-lg-12 col-xl-12">
		<div class="header mt-md-5">
			<div class="header">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header">
                            {block title}{_back.questions.list.headline|capitalize}{/block}
						</h1>
					</div>
				</div>
				<p class="mb-5">{_back.questions.description}</p>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
				{control filterForm}
            </div>
        </div>

		{snippet questions}
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.questions.table.headline|capitalize}
						</h4>
						<div class="row">
							<div class="col-md-6">

							</div>
							<div class="col-md-6">
								<a n:href="create" class="float-right btn-sm btn btn-primary">
                                    {_back.questions.list.create|firstUpper}
								</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
							<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">{_back.questions.table.text|capitalize}</th>
								<th scope="col">{_back.questions.table.type|capitalize}</th>
								<th scope="col">{_back.questions.table.dependent|capitalize}</th>
								<th scope="col">{_back.questions.table.state|capitalize}</th>
								<th scope="col">{_back.questions.table.actions|capitalize}</th>
							</tr>
							</thead>
							<tbody>
                            {foreach $items as $item}
								<tr>
									<td class="text-muted">#{$item->getId()}</td>
									<td>{$item->getQuestion()|truncate:40}</td>
									<td>{_'back.questions.form.label.type.'.$item->getType()}</td>
									<td>
										{if $item->getParent()}
											{if $item->getParent()->isDeleted()}
												<s>#{$item->getParent()->getId()}</s>
												<span class="badge badge-danger">{_back.questions.table.deleted|capitalize}</span>
											{else}
												#{$item->getParent()->getId()}
											{/if}
										{else}
											{_back.questions.table.no|capitalize}
										{/if}
									</td>
                                    <td>{_}back.questions.list.visibility.{$item->getVisibility()}{/_}</td>
									<td>
										<div class="btn-group">
											<button class="btn btn-{$visibility[$item->getVisibility()]} btn-sm dropdown-toggle rounded mr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												{_}back.questions.list.visibility.{$item->getVisibility()}{/_}
											</button>
											<div class="dropdown-menu">
												{foreach $visibility as $key => $value}
													{continueIf $key === $item->getVisibility()}
													<a class="dropdown-item ajax" n:href="visibility!, questionId => $item->getId(), visibility => $key">{_}back.questions.list.visibility.{$key}{/_}</a>
												{/foreach}
											</div>
											<a class="btn btn-sm btn-outline-secondary rounded mr-2" n:href="translationOptionModalForm:showModal!, id => $item->getId()">{_}back.questions.list.link.translate{/_}</a>
											<a class="btn btn-sm btn-outline-info rounded mr-2" n:href="edit, questionId => $item->getId()">{_}back.questions.list.link.edit{/_}</a>
											<a n:href="delete!, questionId => $item->getId()" class="btn btn-sm btn-outline-danger rounded mr-2 ajax"
											   onclick="return confirm('{if !$item->hasChildren()}{_back.questions.list.link.delete.confirmation}{else}{_back.questions.list.link.delete.confirmation.children}{/if}')
                                        	">
												{_back.questions.list.link.delete}
											</a>
										</div>
									</td>
								</tr>
                            {/foreach}
							</tbody>
						</table>
						</div>
						{control apiPagination}
					</div>
				</div>
			</div>
		</div>
		{/snippet questions}
	</div>
</div>

{control translationOptionModalForm}


{define additionalJs}
	<script src="{$basePath}/dist/questions.homepage.default.bundle.js"></script>
{/define}
