{block content}

<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
        <div class="header mt-md-5">
            <div class="header">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header">
                            {block title}{_back.hosts.address-fields|capitalize}{/block}
                        </h1>
                    </div>
                </div>
                <p class="mb-5">{_back.hosts.address.description}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">
                            {_back.hosts.address-fields.available|capitalize}
                        </h4>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <a n:href="setAddressFieldFormModal:showModal!, itemId => 0" class="float-right btn-sm btn btn-primary">
                                    {_back.hosts.address-fields.add|firstUpper}
                                </a>
                            </div>
                        </div>
                    </div>
                    {snippet address}
                    <div class="card-body" id="sortable">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{_back.hosts.address-fields.name|capitalize}</th>
                                    <th scope="col">{_back.hosts.address-fields.type|capitalize}</th>
                                    <th scope="col">{_back.hosts.address-fields.order|capitalize}</th>
                                    <th class="text-right" scope="col">{_back.hosts.address-fields.actions|capitalize}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $addressFields as $field}
                                <tr>
                                    <th scope="row" class="text-muted">{$field->getId()}</th>
                                    <td>{$field->getField()->getName()}</td>
                                    <td>{$field->getField()->getType()}</td>
                                    <td><div class="row">
                                            <div class="col text-right" data-order-current-position="{$field->getId()}">
                                                <span class="current-position">{$field->getOrder()}.</span>
                                            </div>
                                            <div class="col" style="display: none" data-order-new-position="{$field->getId()}">
                                                <input type="number" min="0" step="1" class="form-control form-control-sm" data-item-id="{$field->getId()}" value="{$field->getOrder()}">
                                            </div>
                                            <div class="col text-left" data-order-buttons="{$field->getId()}">
                                                <a href="javascript:void(0)" data-item-id="{$field->getId()}" class="btn btn-sm btn-secondary position-edit-button"><span class="fe fe-edit-2"></span></a>
                                                <a href="javascript:void(0)" data-item-id="{$field->getId()}" data-link="{link saveFieldPosition!, fieldId => $field->getId()}" class="btn btn-sm btn-primary position-save-button" style="display: none"><span class="fe fe-check"></span></a>
                                            </div>
                                        </div></td>
                                    <td align="right">
                                        <a n:href="delete!, id => $field->getId()" class="btn btn-sm btn-outline-danger mt-1 mb-1 ajax" onclick="return confirm('{_back.hosts.fields.delete.confirmation}')">{_back.hosts.address-fields.delete}</a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {/snippet address}
                </div>
            </div>
        </div>
    </div>
</div>

{control setAddressFieldFormModal}
{define additionalJs}
    <script src="{$basePath}/dist/questions.groups.edit.bundle.js"></script>
{/define}
