<div n:snippet n:inner-if="$renderModal" class="modal fade login-modal partner-icon" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<form {* n:name="form" *} class="ajax">
		<div class="modal-dialog modal-lg">
			<div class="modal-content ajax-overlay">
				<div class="modal-header">
					<h3 class="modal-title">{_}back.questions.parent.modal.headline{/_}</h3>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{snippet flashes}
					{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
					{/snippet flashes}
					<div class="alert alert-success" n:if="$selected === true">{_}back.questions.parent.modal.alert.selected{/_}</div>
					<div class="row" n:ifset="$questions">
						{foreach $questions as $question}
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-header-title">
											<span class="text-muted">#{$question->getId()}</span>
											{$question->getQuestion()}
										</h4>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-4">
												<strong>Type:</strong> {$question->getType()|firstUpper}
											</div>
											<div class="col-md-8 text-right">
												<a n:href="selectQuestion!, parentQuestionId => $question->getId()" class="btn btn-success btn-sm ajax" data-naja-history="off">{_}back.questions.parent.modal.link.select{/_}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{/foreach}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">{_}back.questions.parent.modal.close{/_}</button>
				</div>
			</div>
		</div>
	</form>
</div>
