{foreach $flashes as $flash}
<div class="alert alert-{$flash->type} {if $fixed}fixed-top mt-3 mr-5 ml-5{/if}" role="alert">
	<button type="button" class="close" data-dismiss="alert">x</button>
	{_}{$flash->message}{/_}
</div>
{/foreach}