<ul class="navbar-nav">
	<ul class="nav nav-sm flex-column">

		{if $user->isAllowed('admin.questions')}
		<li class="nav-item">
			<a class="nav-link" href="#sidebarQuestions" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarQuestions">
				{_back.menu.questions|capitalize}
			</a>
			<div n:class="$presenter->isLinkCurrent(':Questions:Back:Groups:*') || $presenter->isLinkCurrent(':Questions:Back:Questions:*') ? 'collapse show' : 'collapse'" id="sidebarQuestions">
				<ul class="nav nav-sm flex-column">
					<li>
						<a n:class="$presenter->isLinkCurrent(':Questions:Back:Questions:default') ? 'nav-link active' : 'nav-link'" n:href=":Questions:Back:Questions:default">
							{_back.menu.questions|capitalize}
						</a>
					</li>
					<li class="nav-item">
						<a n:href=":Questions:Back:Groups:default" n:class="$presenter->isLinkCurrent(':Questions:Back:Groups:*') ? 'nav-link active' : 'nav-link'">
							{_back.menu.questions.groups|capitalize}
						</a>
					</li>
				</ul>
			</div>
		</li>
		{/if}

        {if $user->isAllowed('admin.hosts')}
		<li class="nav-item">
			<a class="nav-link" href="#sidebarHosts" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarHosts">
				{_back.menu.hosts|capitalize}
			</a>
			<div n:class="$presenter->isLinkCurrent(':Hosts:Back:Fields:*') || $presenter->isLinkCurrent(':Hosts:Back:Hosts:*') || $presenter->isLinkCurrent(':Hosts:Back:Address:*') ? 'collapse show' : 'collapse'" id="sidebarHosts">
				<ul class="nav nav-sm flex-column">
					<li>
						<a n:class="$presenter->isLinkCurrent(':Hosts:Back:Fields:default') ? 'nav-link active' : 'nav-link'" n:href=":Hosts:Back:Fields:default">
							{_back.menu.hosts.fields|capitalize}
						</a>
					</li>
					<li>
						<a n:class="$presenter->isLinkCurrent(':Hosts:Back:Hosts:default') ? 'nav-link active' : 'nav-link'" n:href=":Hosts:Back:Hosts:default">
							{_back.menu.hosts|capitalize}
						</a>
					</li>
					<li>
						<a n:class="$presenter->isLinkCurrent(':Hosts:Back:Address:*') ? 'nav-link active' : 'nav-link'" n:href=":Hosts:Back:Address:">
							{_back.menu.address|capitalize}
						</a>
					</li>
				</ul>
			</div>
		</li>
        {/if}

        {if $user->isAllowed('admin.trips')}
		<li class="nav-item">
			<a n:class="$presenter->isLinkCurrent(':Trips:Back:Trip:*') ? 'nav-link active' : 'nav-link'" n:href=":Trips:Back:Trip:">
				{_back.menu.trips|capitalize}
			</a>
		</li>
        {/if}

        {if $user->isAllowed('admin.countries')}
		<li class="nav-item">
			<a n:class="$presenter->isLinkCurrent(':Countries:Back:Country:*') ? 'nav-link active' : 'nav-link'" n:href=":Countries:Back:Country:">
                {_back.menu.countries|capitalize}
			</a>
		</li>
        {/if}

        {if $user->isAllowed('admin.localizations')}
		<li class="nav-item">
			<a class="nav-link" href="#sidebarLocalization" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLocalization">
				{_back.menu.localization|capitalize}
			</a>
			<div n:class="($presenter->isLinkCurrent(':Translations:Back:Homepage:*') || $presenter->isLinkCurrent(':Translations:Back:Keys:*')) ? 'collapse show' : 'collapse'" id="sidebarLocalization">
				<ul class="nav nav-sm flex-column">
					<li class="nav-item">
						<a n:href=":Translations:Back:Homepage:default" n:class="$presenter->isLinkCurrent(':Translations:Back:Homepage:*') ? 'nav-link active' : 'nav-link'">
							{_back.menu.languages|capitalize}
						</a>
					</li>
					<li class="nav-item">
						<a n:href=":Translations:Back:Keys:default" n:class="$presenter->isLinkCurrent(':Translations:Back:Keys:*') ? 'nav-link active' : 'nav-link'">
							{_back.menu.translations|capitalize}
						</a>
					</li>
				</ul>
			</div>
		</li>
        {/if}

    </ul>
</ul>
