{block content}
<div class="row my-lg-5">
	<div class="col-lg-8">

		<h2 class="header-bold-1 mb-4">{_frontend.users.assistants.header}</h2>

		<p class="header-3 mb-5">{_frontend.users.assistants.intro}</p>

		<!-- search form -->
		{control requestAssistantControl}

	</div>
	<div class="col-lg-4 d-none d-lg-block text-right">
		<img src="{$basePath}/assets/img/assistants.png" alt="" class="img-fluid"/>
	</div>
</div>

<div class="py-5 py-lg-0"></div>

<div n:if="count($assistants) > 0" class="row-list">
	<div class="row-list-header">
		{_frontend.users.assistants.assistants-list} <a n:href=":Users:Front:Assistant:assistants" class="btn-default-sm float-right"> {_frontend.users.assistants.show-all} </a>
	</div>
	{control assistantsTable $assistants, 'assistants'}
</div>

<div n:if="count($requests) > 0" class="row-list">
	<div class="row-list-header">
        {_frontend.users.assistants.requests-list} <a n:href=":Users:Front:Assistant:requests" class="btn-default-sm float-right"> {_frontend.users.assistants.show-all} </a>
	</div>
    {control assistantsTable $requests, 'requests'}
</div>

<div n:if="count($travellers) > 0" class="row-list">
	<div class="row-list-header">
        {_frontend.users.assistants.travellers-list} <a n:href=":Users:Front:Assistant:travellers" class="btn-default-sm float-right"> {_frontend.users.assistants.show-all} </a>
	</div>
    {control assistantsTable $travellers, 'travellers'}
</div>
{if count($travellers) === 0 &&  count($requests) === 0 &&  count($assistants) === 0}
<div class="row-list">
	<div class="row-list-header">
		{_frontend.users.assistants.table.header.no-users}
	</div>
	<div class="row-list-empty">
		<strong>No assistants yet</strong> Set up
		<u>Travel assistent</u> and trips created<br/> by him will be stored here
	</div>
</div>
{/if}
<a href="#" class="btn-icon mt-5 d-lg-none"> {_frontend.users.assistants.back-to-top.button}
	<span class="icon-arrow-up"></span>
</a>
