{block content}
<div class="row-list">
	<div class="row-list-header">
		{_frontend.users.assistants.travellers-list}
	</div>
	{control assistantsTable}
</div>
<a href="#" class="btn-icon mt-5 d-lg-none"> {_frontend.users.assistants.back-to-top.button}
	<span class="icon-arrow-up"></span>
</a>
