{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-12 col-xl-10">
		<div class="header mt-md-5">
			<div class="header">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header">
                            {block title}{_back.translations|capitalize}{/block}
						</h1>
					</div>
				</div>
				<p class="mb-5">{_back.translations.description}</p>
			</div>
		</div>

        {control filterForm}

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<ul class="nav nav-tabs nav-overflow">
                            {foreach $languages as $language}
								<li class="nav-item">
									<a n:href="this, code => $language->getCode()" class="nav-link {if $language->getCode() === $activeCode}active{/if}">
                                        {$language->getName()}
									</a>
								</li>
                            {/foreach}
						</ul>

						<div class="row">
							<div class="col-md-12">

								<div class="mt-4" n:if="$missingTranslations > 0 && $presenter->getParameter('translation') === null">
									<div class="alert alert-danger" role="alert">
										<strong>
											<span class="fe fe-alert-triangle mr-4"></span>
											Missing translations!</strong> There are {$missingTranslations} missing translations.
									</div>
								</div>

								<div class="mt-4">
                                    {foreach $keys as $key}
										{control keyTranslationForm, key => $key, translation => $translatedKeys[$key->getKey()] ?? null, defaultTranslation => $englishTranslatedKeys[$key->getKey()] ?? null, activeLanguageCode => $activeCode, selectedLanguageCode => $language->getCode()}
                                    {/foreach}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{define additionalJs}
	<script src="{$basePath}/dist/translations.keys.default.bundle.js"></script>
{/define}
