<div n:snippet n:inner-if="$renderModal" class="modal fade login-modal partner-icon" tabindex="-1" role="dialog"
     aria-labelledby="loginModalTitle" aria-hidden="true">
    <form n:name="form" class="ajax">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ajax-overlay">
                <div class="modal-header">
                    <h3 class="modal-title">{_}back.hosts.fields.countries.modal.headline{/_}</h3>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {snippet flashes}
                    {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
                    {/snippet flashes}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                {label param, class => 'col-sm-2 col-form-label'}
                                <div class="col-sm-10">
                                    <select n:name="param" class="form-control" onchange="document.getElementById('frm-paramModalForm-form-value').value = ''"></select>
                                </div>
                            </div>
                            {snippet fieldInput}
                            {input $_form['type']}
                            <div class="form-group row">
                                {label $_form['value'], class => 'col-sm-2 col-form-label'}
                                <div class="col-sm-10">
                                    {if $_form['type']->value === 'number'}
                                    {input $_form['value'], type => 'number', class => 'form-control'}
                                    {else}
                                    {input $_form['value'], class => 'form-control'}
                                    {/if}
                                </div>
                            </div>
                            {/snippet}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">{_}back.hosts.fields.countries.modal.close{/_}</button>
                    <input n:name="send" id="submit" class="btn btn-success float-right">
                </div>
            </div>
        </div>
    </form>
</div>
