<div n:snippet n:inner-if="$renderModal" class="modal fade login-modal partner-icon" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<form n:name="form">
		<div class="modal-dialog modal-lg">
			<div class="modal-content ajax-overlay">
				<div class="modal-header">
					<h3 class="modal-title">{_}back.translations.modal.headline{/_}</h3>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{snippet flashes}
					{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
					{/snippet flashes}

                    <div class="row">
                        <div class="col-md-12">
							<ul class="nav nav-tabs">
                                {foreach $languages as $language}
									<li class="nav-item">
										<a class="nav-link {if $iterator->isFirst()}active{/if} language-switcher" href="javascript:void(0)" data-tab="{$language->getCode()}" >{$language->getName()}</a>
									</li>
                                {/foreach}
							</ul>

                            {foreach $languages as $language}
								<div class="row mt-4 language-holder" {if !$iterator->isFirst()}style="display: none" {/if} data-tab-holder="{$language->getCode()}">
									<div class="col-md-12">
                                        {foreach $fields as $field}
											<div class="form-group row">
                                                {label $form[$language->getCode()][$field->getName()], class => 'col-4 col-form-label'}
												<div class="col-8">
                                                    {input $form[$language->getCode()][$field->getName()], class => 'form-control'}
												</div>
											</div>
                                        {/foreach}

                                        {input $form[$language->getCode()]['send'], class => 'btn btn-success float-right'}
									</div>
								</div>
							{/foreach}
                        </div>
                    </div>
				</div>
				<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</form>
</div>
