<form class="ui form" n:name="completeForm">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-10 col-xl-12 mb-4">
			<div class="header mt-md-5">
				<div class="header-body">
					<div class="row align-items-center">
						<div class="col">
							{if $question !== null}
							<h6 class="header-pretitle">
								{$question->getQuestion()}
							</h6>
							{/if}
							<h1 class="header-title">
                                {_}back.questions.form.edit.headline{/_}
							</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{snippet flashes}
						{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => true}
					{/snippet flashes}
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">{_}back.questions.form.card.headline.mandatory{/_}</h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{label group /}</label>
										<div class="col-sm-10">
                                            {input group, class => 'form-control'}
										</div>
									</div>
									<div class="form-group row" {if $questionResponse}style="display:none"{/if}>
										<label class="col-sm-2 col-form-label">{label type /}</label>
										<div class="col-sm-10">
                                            {input type, class => 'form-control'}
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{label question /}</label>
										<div class="col-sm-10">
                                            {input question, class => 'form-control'}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" id="complete">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col">
									<h4 class="card-header-title">
                                        {_}back.questions.form.card.headline.rules{/_}
									</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group row form-check" id="validationRequired">
								<div class="col-sm-6">
									<input type="checkbox" class="form-check-input" n:name="$form['validationRules']['required']">
									<label class="form-check-label" n:name="$form['validationRules']['required']">{_$form['validationRules']['required']->caption}</label>
								</div>
							</div>
							<div class="form-group row form-check" id="attributesIsPrefilled">
								<div class="col-6">
									<input type="checkbox" class="form-check-input" n:name="$form['questionAttributes']['isPrefilled']">
									<label class="form-check-label" n:name="$form['questionAttributes']['isPrefilled']">{_$form['questionAttributes']['isPrefilled']->caption}</label>
								</div>
							</div>
							<div class="form-group row form-check" id="validationMultichoice">
								<div class="col-sm-6">
									<input type="checkbox" class="form-check-input" n:name="$form['validationRules']['multichoice']">
									<label class="form-check-label" n:name="$form['validationRules']['multichoice']">{_$form['validationRules']['multichoice']->caption}</label>
								</div>
							</div>
							<div class="form-group row" id="validationMinimalLength">
                                {label $form['validationRules']['minimalLength'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-2">
                                    {input $form['validationRules']['minimalLength'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="validationMaximalLength">
                                {label $form['validationRules']['maximalLength'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-2">
                                    {input $form['validationRules']['maximalLength'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="validationMinimalValue">
                                {label $form['validationRules']['minimalValue'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-2">
                                    {input $form['validationRules']['minimalValue'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="validationMaximalValue">
                                {label $form['validationRules']['maximalValue'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-2">
                                    {input $form['validationRules']['maximalValue'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="validationRegularExpression">
                                {label $form['validationRules']['regularExpression'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-4">
                                    {input $form['validationRules']['regularExpression'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="attributesValidationHelp">
                                {label $form['questionAttributes']['validationHelp'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-4">
                                    {input $form['questionAttributes']['validationHelp'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="attributesVariant">
								<label class="col-sm-2 col-form-label">{label $form['questionAttributes']['variant']}</label>
								<div class="col-sm-4">
                                    {input $form['questionAttributes']['variant'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="attributesHelp">
                                {label $form['questionAttributes']['help'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-4">
                                    {input $form['questionAttributes']['help'], class => 'form-control'}
								</div>
							</div>
							<div class="form-group row" id="attributesPlaceholder">
                                {label $form['questionAttributes']['placeholder'], class => 'col-sm-2 col-form-label'}
								<div class="col-sm-4">
                                    {input $form['questionAttributes']['placeholder'], class => 'form-control'}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">
                                {_}back.questions.form.card.headline.countries{/_}
								<a n:href="countryQuestionModalForm:showModal!, itemId => $questionResponse->getId()" class="btn btn-primary btn-sm float-right" data-naja-history="off">{_}back.questions.form.btn.add-countries{/_}</a>
							</h4>
						</div>
						<div class="card-body">
							{snippet countries}
								<p class="text-muted text-center" n:if="count($countries) === 0">
                                    {_}back.questions.form.countries.empty{/_}
								</p>

								<div class="table-responsive" n:if="count($countries) > 0">
									<table class="table">
										<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">{_back.countries.country.table.name|capitalize}</th>
											<th scope="col">{_back.countries.country.table.code|capitalize}</th>
										</tr>
										</thead>
										<tbody>
                                        {foreach $countries as $country}
											<tr>
												<th scope="row" class="text-muted">{$country->getId()}</th>
												<td>{$country->getName()}</td>
												<td>{$country->getCode()}</td>
											</tr>
                                        {/foreach}
										</tbody>
									</table>
								</div>
							{/snippet}
						</div>
					</div>
				</div>
				<div class="col-md-12" n:if="$questionResponse->getGroup()->getType() === 'detail'">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
							{_}back.questions.form.card.headline.hosts{/_}
							<a n:href="hostQuestionModalForm:showModal!, itemId => $questionResponse->getId()" class="btn btn-primary btn-sm float-right">{_}back.questions.form.btn.add-hosts{/_}</a>
						</h4>
					</div>
					<div class="card-body">
						{snippet hosts}
						<p class="text-muted text-center" n:if="count($hosts) === 0">
							{_}back.questions.form.hosts.empty{/_}
						</p>

						<div class="table-responsive" n:if="count($hosts) > 0">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{_back.hosts.table.name|capitalize}</th>
								</tr>
								</thead>
								<tbody>
								{foreach $hosts as $host}
								<tr>
									<th scope="row" class="text-muted">{$host->getId()}</th>
									<td>{$host->getName()}</td>
								</tr>
								{/foreach}
								</tbody>
							</table>
						</div>
						{/snippet}
					</div>
				</div>
			</div>
				<div class="col-md-12" n:if="$questionResponse->getGroup()->getType() === 'detail'">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
							{_}back.questions.form.card.headline.registrations{/_}
							<a n:href="registrationQuestionModalForm:showModal!, itemId => $questionResponse->getId()" class="btn btn-primary btn-sm float-right">{_}back.questions.form.btn.add-registrations{/_}</a>
						</h4>
					</div>
					<div class="card-body">
						{snippet registrations}
						<p class="text-muted text-center" n:if="count($registrations) === 0">
							{_}back.questions.form.registrations.empty{/_}
						</p>

						<div class="table-responsive" n:if="count($registrations) > 0">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{_back.registrations.table.name|capitalize}</th>
								</tr>
								</thead>
								<tbody>
								{foreach $registrations as $registration}
								<tr>
									<th scope="row" class="text-muted">{$registration->getId()}</th>
									<td>{$registration->getName()}</td>
								</tr>
								{/foreach}
								</tbody>
							</table>
						</div>
						{/snippet}
					</div>
				</div>
			</div>
				<div class="col-md-12" n:if="$questionResponse->getType() === 'choice'">
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">
								{_}back.questions.form.card.headline.options{/_}
								<a n:href="optionQuestionModalForm:showModal!" class="btn btn-primary btn-sm float-right" data-naja-history="off">{_}back.questions.form.btn.add-option{/_}</a>
							</h4>
						</div>
						<div class="card-body" id="sortable">
							{snippet options}
								<p class="text-muted text-center" n:if="count($options) === 0">
                                    {_}back.questions.form.options.empty{/_}
								</p>
								<div class="row" n:if="count($options) > 0">
									<div class="col-md-12 table-responsive">
										<table class="table">
											<thead>
											<tr>
												<th scope="col">ID</th>
												<th scope="col">{_}back.questions.form.options.table.heading.position{/_}</th>
												<th scope="col">{_}back.questions.form.options.table.heading.text{/_}</th>
												<th scope="col"></th>
											</tr>
											</thead>
                                            {foreach $options as $option}
												<tr>
													<td class="text-muted">#{$option->getId()}</td>
													<td>
														<div class="row">
															<div class="col text-right" data-order-current-position="{$option->getId()}">
																<span class="current-position">{$option->getOrder()}.</span>
															</div>
															<div class="col" style="display: none" data-order-new-position="{$option->getId()}">
																<input type="number" min="0" step="1" class="form-control form-control-sm" data-item-id="{$option->getId()}" value="{$option->getOrder()}">
															</div>
															<div class="col text-left" data-order-buttons="{$option->getId()}">
																<a href="javascript:void(0)" data-item-id="{$option->getId()}" class="btn btn-sm btn-secondary position-edit-button"><span class="fe fe-edit-2"></span></a>
																<a href="javascript:void(0)" data-item-id="{$option->getId()}" data-link="{link saveOptionPosition!, optionId => $option->getId()}" class="btn btn-sm btn-primary position-save-button" style="display: none"><span class="fe fe-check"></span></a>
															</div>
														</div>
													</td>
													<td>{$option->getText()|truncate:80}</td>
													<td class="text-right d-flex justify-content-end">
														<a n:href="translationOptionModalForm:showModal!, id => $option->getId()" data-naja-history="off" class="btn btn-outline-warning btn-sm mt-1 mb-1 mr-1">{_}back.questions.form.options.link.translate{/_}</a>
														<a href="{plink :Questions:Back:Options:edit, id => $option->getId(), questionId => $questionResponse->getId()}" data-naja-history="off" class="mr-1 btn btn-outline-info btn-sm mt-1 mb-1">{_}back.questions.form.options.link.edit{/_}</a>
														<a n:href="deleteOption!, id => $option->getId()" data-naja-history="off" class="btn btn-outline-danger btn-sm ajax mt-1 mb-1">{_}back.questions.form.options.link.delete{/_}</a>
													</td>
												</tr>
                                            {/foreach}
										</table>
                                    	{control apiPagination}
									</div>
								</div>
							{/snippet}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col">
									<h4 class="card-header-title">
                                        {_}back.questions.form.card.headline.parent-question{/_}
										<a n:href="parentQuestionModalForm:showModal!" class="btn btn-primary btn-sm float-right ajax" data-naja-history="off">{_}back.questions.form.btn.select-question{/_}</a>
									</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
                            {snippet parentQuestion}
                                {ifset $parentQuestion}
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-header">
													<h4 class="card-header-title">
														<span class="text-muted">
															{if $parentQuestion->isDeleted()}
																<s>#{$parentQuestion->getId()}</s>
																<span class="badge badge-danger">{_back.questions.table.deleted|capitalize}</span>
															{else}
																#{$parentQuestion->getId()}
															{/if}
														</span>
                                                        {$parentQuestion->getQuestion()}
														<a n:href="deleteParent!" class="btn btn-sm btn-danger float-right ajax" data-naja-history="off">{_}back.questions.form.parent.link.delete{/_}</a>
													</h4>
												</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-4">
															<strong>Type:</strong> {$parentQuestion->getType()|firstUpper}
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<hr>
															<div class="form-group row" id="validationRegularExpressionParent">
                                                                {label $_form['validationRules']['parentRuleExpression'], class => 'col-sm-3 col-form-label'}
																<div class="col-sm-9">
                                                                    {input $_form['validationRules']['parentRuleExpression'], class => 'form-control', value => $questionResponse->getParentRule()}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{else}
									<div class="row">
										<div class="col-md-12 text-muted text-center">
											{_}back.questions.form.no-parent-questions{/_}
										</div>
									</div>
                                {/ifset}
                            {/snippet}
						</div>
					</div>
				</div>
				<div class="col-md-12">
                    {input send, class => 'btn btn-lg btn-success float-right'}
					<a href="{plink :Questions:Back:Questions:default}" class="btn btn-lg btn-default float-right">{_}back.questions.form.label.cancel{/_}</a>
				</div>
			</div>
		</div>
	</div>
</form>

{control parentQuestionModalForm}
{control optionQuestionModalForm}
{control countryQuestionModalForm}
{control translationOptionModalForm}
{control hostQuestionModalForm}
{control registrationQuestionModalForm}
