<form class="ui form" n:name="form">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-10 col-xl-12">
			<div class="header mt-md-5">
				<div class="header-body">
					<div class="row align-items-center">
						<div class="col">
							<h1 class="header-title">
								{_}back.questions.form.headline{/_}
							</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{snippet flashes}
					{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => true}
					{/snippet flashes}

					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">{_}back.questions.form.card.headline.mandatory{/_}</h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{label group /}</label>
										<div class="col-sm-10">
                                            {input group, class => 'form-control'}
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{label type /}</label>
										<div class="col-sm-10">
                                            {input type, class => 'form-control'}
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{label question /}</label>
										<div class="col-sm-10">
                                            {input question, class => 'form-control'}
										</div>
									</div>

                                    {input send, class => 'btn btn-lg btn-success float-right'}
									<a href="{plink :Questions:Back:Questions:default}" class="btn btn-lg btn-default float-right">{_}back.questions.form.label.cancel{/_}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
