{block title}{_}frontend.trips.create-trip.create.headline{/_}{/block}

{block content}

{include 'includes/header.latte', trip => $trip}
<div class="new-trip-content" data-simplebar>
	<div class="container mt-4 pt-3">
		{control createTripForm}
	</div>
	{include 'includes/footer.latte'}
</div>
