{block title}{_}frontend.trips.create-trip.create-registrations.headline{/_}{/block}

{block content}

{include 'includes/header.latte'}
<div class="new-trip-content" data-simplebar>
	<div class="container mt-4 pt-3">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="header-semibold-4 mb-3">{_frontend.trips.create-trip.create-registrations.heading}</h2>
                {foreach $registrations as $registration}
					<div class="box mb-4 d-flex align-items-center registration" data-id="{$registration->getId()}">
						<img src="{$basePath}/assets/img/{in_array($registration->getId(), $tripRegistration) ? 'pwd-required' : 'pwd-not-required' }.svg" alt="" class="mr-4">
						<div class="flex-grow-1">
							<div class="header-semibold-4 mb-2">
                                {$registration->getName()} registration
							</div>
						</div>
						<div class="text-{in_array($registration->getId(), $tripRegistration) ? 'orange' : 'green'} header-semibold-4">
                            {if in_array($registration->getId(), $tripRegistration)}
                                {_frontend.trips.create-trip.create-registrations.required|firstUpper}
                            {else}
                                {_frontend.trips.create-trip.create-registrations.not-required|firstUpper}
                            {/if}
						</div>
					</div>
                {/foreach}

				<a n:href=":Trips:Front:TripCreate:details, id => $trip->getId()" id="submit" class="d-none">{_}frontend.trips.create-trip.create-registrations.next{/_}</a>
			</div>
		</div>
	</div>
    {include 'includes/footer.latte'}
</div>

