{block title}{_}frontend.trips.create-trip.details.headline{/_}{/block}

{block content}

{include 'includes/header.latte'}
<div class="new-trip-content" data-simplebar>
    <div class="container mt-4 pt-3">
        {control createTripQuestionsForm}
    </div>
    {include 'includes/footer.latte'}
</div>

