{block title}{_}frontend.trips.create-trip.summary.headline{/_}{/block}

{block content}

{include 'includes/header.latte'}
<div class="new-trip-content" data-simplebar>
    <div class="container mt-4 pt-3">
        <form action="" method="">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="summary">
                        <div class="summary-header">
                            <div>
                                <h2 class="header-semibold-4 mb-0">{_}frontend.trips.create-trip.summary.heading.basic{/_}</h2>
                            </div>
                            <div>
                                <button type="button" class="btn-default-sm" data-toggle="toggle" data-target="#basic"
                                        data-text-show="{_}frontend.trips.create-trip.summary.button.show{/_}" data-text-hide="{_}frontend.trips.create-trip.summary.button.hide{/_}">
                                    {_}frontend.trips.create-trip.summary.button.hide{/_}
                                </button>
                            </div>
                        </div>
                        <div id="basic">
                            <div class="summary-item">
                                <div>
                                    {_}frontend.trips.create-trip.summary.item.home-country{/_}
                                </div>
                                <div>
                                    {$home->getName()}
                                    <span class="flag-{$home->getCode()} flag-sm"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <div>
                                    {_}frontend.trips.create-trip.summary.item.destination-country{/_}
                                </div>
                                <div>
                                    {$trip->getCountry()->getName()}
                                    <span class="flag-{$trip->getCountry()->getCode()} flag-sm"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <div>
                                    {_}frontend.trips.create-trip.summary.item.date{/_}
                                </div>
                                <div>
                                    {_}frontend.dates.month.{$trip->getStart()->format('m')}{/_} {$trip->getStart()->format('j')} – {_}frontend.dates.month.{$trip->getEnd()->format('m')}{/_} {$trip->getEnd()->format('j')}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="summary">
                        <div class="summary-header">
                            <div>
                                <h2 class="header-semibold-4 mb-0">{_}frontend.trips.create-trip.summary.heading.purpose{/_}</h2>
                            </div>
                            <div>
                                <button type="button" class="btn-default-sm" data-toggle="toggle" data-target="#purpose"
                                        data-text-show="{_}frontend.trips.create-trip.summary.button.show{/_}" data-text-hide="{_}frontend.trips.create-trip.summary.button.hide{/_}">
                                    {_}frontend.trips.create-trip.summary.button.show{/_}
                                </button>
                            </div>
                        </div>
                        <div id="purpose" class="hidden">
                            {foreach $trip->getAnswers()->getAnswers() as $answer}
                            {continueIf $answer->getQuestion()->getGroup()->getType() !== 'purpose'}
                            <div class="summary-item">
                                <div>
                                    {$answer->getQuestion()->getQuestion()}
                                </div>
                                <div>
                                    {switch $answer->getQuestion()->getType()}
                                    {case 'text'}
                                    {$answer->getText()}
                                    {case 'choice'}
                                    {foreach $answer->getQuestion()->getChoice()->getOptions() as $option}
                                    {in_array($option->getId(), $answer->getChoice()) ? $option->getText()}
                                    {/foreach}
                                    {case 'number'}
                                    {$answer->getNumber()}
                                    {case 'bool'}
                                    {$answer->getBool() ? 'Yes' : 'No'}
                                    {case 'datetime'}
                                    {$answer->getDateTime()}
                                    {/switch}
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>

                    <div class="summary">
                        <div class="summary-header">
                            <div>
                                <h2 class="header-semibold-4 mb-0">{_}frontend.trips.create-trip.summary.heading.company{/_}</h2>
                            </div>
                            <div>
                                <button type="button" class="btn-default-sm" data-toggle="toggle" data-target="#company"
                                        data-text-show="{_}frontend.trips.create-trip.summary.button.show{/_}" data-text-hide="{_}frontend.trips.create-trip.summary.button.hide{/_}">
                                    {_}frontend.trips.create-trip.summary.button.hide{/_}
                                </button>
                            </div>
                        </div>
                        <div id="company">
                            <div class="summary-item">
                                <div>
                                    {_}frontend.trips.create-trip.summary.item.host{/_}
                                </div>
                                <div>
                                    {$trip->getHost() === null ? 'none'}
                                </div>
                            </div>
                            {if $trip->getHost() != null}
                                <div class="summary-item">
                                    <div>
                                        {_}frontend.trips.create-trip.summary.item.name{/_}
                                    </div>
                                    <div class="break-word">
                                        {$trip->getHost()->getName()|truncate:60}
                                    </div>
                                </div>
                                <div class="summary-item" n:foreach="$trip->getHost()->getParams() as $key => $param">
                                    <div>
                                        {$param->getField()->getName()}
                                    </div>
                                    <div>
                                        {$param->getValue()|truncate:60}
                                    </div>
                                </div>
                            {/if}
                        </div>
                    </div>

                    <div class="summary">
                        <div class="summary-header">
                            <div>
                                <h2 class="header-semibold-4 mb-0">{_}frontend.trips.create-trip.summary.heading.registrations{/_}</h2>
                            </div>
                            <div>
                                <button type="button" class="btn-default-sm" data-toggle="toggle" data-target="#pwd"
                                        data-text-show="{_}frontend.trips.create-trip.summary.button.show{/_}" data-text-hide="{_}frontend.trips.create-trip.summary.button.hide{/_}">
                                    {_}frontend.trips.create-trip.summary.button.show{/_}
                                </button>
                            </div>
                        </div>
                        <div id="pwd" class="hidden">
                            {foreach $trip->getAnswers()->getAnswers() as $answer}
                            {continueIf $answer->getQuestion()->getGroup()->getType() !== 'detail'}
                            <div class="summary-item">
                                <div>
                                    {$answer->getQuestion()->getQuestion()}
                                </div>
                                <div>
                                    {switch $answer->getQuestion()->getType()}
                                        {case 'text'}
                                        {$answer->getText()}
                                        {case 'choice'}
                                        {foreach $answer->getQuestion()->getChoice()->getOptions() as $option}
                                            {in_array($option->getId(), $answer->getChoice()) ? $option->getText()}
                                        {/foreach}
                                        {case 'number'}
                                        {$answer->getNumber()}
                                        {case 'bool'}
                                        {$answer->getBool() ? 'Yes' : 'No'}
                                        {case 'datetime'}
                                        {$answer->getDateTime()}
                                    {/switch}
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <a n:href=":Trips:Front:TripCreate:submit, id => $trip->getId()" id="submit" class="d-none {$trip->getState() === 'submitted' && isset($submitted) && $submitted ? 'disabled'}">{_}frontend.trips.create-trip.summary.button.submit{/_}</a>
    </div>
    {include 'includes/footer.latte'}
</div>
