{block content}
<div class="row my-lg-5">
    <div class="col-lg-8">
        <h2 class="header-bold-1 mb-4 mb-lg-5">{_}frontend.trips.dashboard.link.create{/_}</h2>

        <!-- search form -->
        <form action="" method="">
            <div class="form-group search"
                 data-source="{link :Countries:Front:Country:countrySearch, q => '', type => 'create'}"
                 data-typing-interval="300">

                <div class="search-container">
                    <div class="search-append">
                        <span class="icon-search"></span>
                        <span class="icon-clear"></span>
                    </div>
                    <input type="text" name="query" value="" placeholder="Where do you want to travel?"
                           class="form-control" autocomplete="off"/>
                    <div class="search-whisperer" data-simplebar>
                        <div class="search-whisperer-item loading">
							{_}frontend.trips.dashboard.country-search.loading{/_}
                        </div>
                        <div class="search-whisperer-item empty">
							{_}frontend.trips.dashboard.country-search.no-result{/_}
                        </div>
                        <div class="search-whisperer-items">

                            <!-- <div class="search-whisperer-item">
                                <span class="flag-germany flag-sm"></span>
{*                                <span class="country">Germany</span>*}
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4 d-none d-lg-block text-right">
        <img src="{$basePath}/assets/img/journey-illustration.svg" alt="" class="img-fluid"/>
    </div>
</div>
{snippet dashboard}
<div class="row-list d-lg-none">
    {if $planned->getCurrentItemsCount() !== 0}
        <div class="row-list-header">
            {_}frontend.trips.dashboard.sidebar.current{/_}
        </div>
        {control tripsSidebar $planned}
    {/if}
    {if $planned->getCurrentItemsCount() !== 0}
        <div class="row-list-header">
            {_}frontend.trips.dashboard.sidebar.planned{/_}
        </div>
        {control tripsSidebar $planned}
    {/if}
</div>
<div class="row-list">
<div class="row-list-header">
    {_}frontend.trips.dashboard.drafts.headline{/_}
    <a n:href=":Trips:Front:Trip:drafts" class="btn-default-sm float-right">
        {_}frontend.trips.dashboard.link.show-all{/_}
    </a>
</div>
{control tripsTable $drafts}
</div>

<div n:if="$favorites->getCurrentItemsCount() > 0" class="row-list">
<div class="row-list-header">
    {_}frontend.trips.dashboard.favorites.headline{/_}
    <a n:href=":Trips:Front:Trip:favorites" class="btn-default-sm float-right">
        {_}frontend.trips.dashboard.link.show-all{/_}
    </a>
</div>
{control tripsTable $favorites}
</div>


{if $recentTrips->getCurrentItemsCount() > 0}
<div class="row-list">
<div class="row-list-header">
    {_}frontend.trips.dashboard.recent.headline{/_}
    <a n:href=":Trips:Front:Trip:pastTrips" class="btn-default-sm float-right">
        {_}frontend.trips.dashboard.link.show-all{/_}
    </a>
</div>
{control tripsTable $recentTrips}
</div>
{/if}
{/snippet}










