{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-12">
		<div class="header mt-md-5">
			<div class="header-body">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header-title">
                            {_}back.questions.groups.headline{/_}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
                {control groupForm}
			</div>
		</div>
	</div>
</div>
