{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-8">
		<div class="header mt-md-5">
			<div class="header">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header">
                            {block title}{_back.questions.groups.list.headline|capitalize}{/block}
						</h1>
					</div>
				</div>
				<p class="mb-5">{_back.questions.groups.description}</p>
			</div>
		</div>

		{snippet groups}
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.questions.groups.table.headline|capitalize}
						</h4>
						<div class="row">
							<div class="col-md-6">

							</div>
							<div class="col-md-6">
								<a n:href="create" class="float-right btn-sm btn btn-primary">
                                    {_back.questions.groups.list.create|firstUpper}
								</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{_back.questions.groups.table.name|capitalize}</th>
									<th scope="col">{_back.questions.groups.table.type|capitalize}</th>
									<th scope="col">{_back.questions.groups.table.actions|capitalize}</th>
								</tr>
								</thead>
								<tbody>
                                {foreach $groups as $group}
									<tr>
										<th scope="row" class="text-muted">{$group->getId()}</th>
										<td>{$group->getName()}</td>
										<td>{$group->getType()}</td>
										<td class="btn-group">
											<a class="btn btn-sm btn-outline-secondary rounded mr-2" n:href="translationOptionModalForm:showModal!, id => $group->getId()">{_}back.questions.groups.list.link.translate{/_}</a>
											<a n:href="edit, id => $group->getId()" class="btn btn-sm btn-outline-info mr-2 rounded">{_back.questions.groups.edit}</a>
											<a n:href="delete!, id => $group->getId()" class="btn btn-sm btn-outline-danger mr-2 rounded ajax" onclick="return confirm('{_back.questions.groups.delete.confirmation}')">{_back.questions.groups.delete}</a>
										</td>
									</tr>
                                {/foreach}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{/snippet groups}

	</div>
</div>
{control translationOptionModalForm}


{define additionalJs}
<script src="{$basePath}/dist/questions.groups.default.bundle.js"></script>
{/define}

