{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-12">
		<div class="header mt-md-5">
			<div class="header-body">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header-title">
                            {_}back.questions.groups.headline{/_}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
                {control groupForm}
			</div>
		</div>
        {snippet questions}
			<div class="row" id="sortable">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-header-title">
                                {_}back.questions.groups.order.heading{/_}
							</h4>
						</div>
						<div class="card-body">
							<table class="table">
								<thead>
								<tr>
									<th>#</th>
									<th>{_}back.questions.groups.table.key{/_}</th>
									<th>{_}back.questions.groups.table.order{/_}</th>
								</tr>
								</thead>
								<tbody>
                                {foreach $questions as $question}
									<tr>
										<td class="text-muted">#{$question->getId()}</td>
										<td>{$question->getQuestion()}</td>
										<td>
											<div class="row">
												<div class="col text-right" data-order-current-position="{$question->getId()}">
													<span class="current-position">{$question->getOrder()}.</span>
												</div>
												<div class="col" style="display: none" data-order-new-position="{$question->getId()}">
													<input type="number"  min="0" step="1" class="form-control form-control-sm" data-item-id="{$question->getId()}" value="{$question->getOrder()}">
												</div>
												<div class="col text-left" data-order-buttons="{$question->getId()}">
													<a href="javascript:void(0)" data-item-id="{$question->getId()}" class="btn btn-sm btn-secondary position-edit-button">
														<span class="fe fe-edit-2"></span>
													</a>
													<a href="javascript:void(0)" data-item-id="{$question->getId()}" data-link="{link saveOptionPosition!, questionId => $question->getId()}" class="btn btn-sm btn-primary position-save-button" style="display: none">
														<span class="fe fe-check"></span>
													</a>
												</div>
											</div>
										</td>

									</tr>
                                {/foreach}
								</tbody>
							</table>
						</div>
					</div>

                    {control apiPagination}
				</div>
			</div>
        {/snippet}
	</div>
</div>

{define additionalJs}
	<script src="{$basePath}/dist/questions.groups.edit.bundle.js"></script>
{/define}
