{layout $_config->layout}

{block #header}
	{_emails.password-reset-requested.header}
{/block}

{block #headerTitle}
	<h1>{_emails.password-reset-requested.header}</h1>
{/block}

{block #content}
	{_emails.password-reset-requested.text.greeting, ['username' => $username]},
	<br><br>
	{_emails.password-reset-requested.text.information, ['email' => $email]}
	<br><br>
	<strong>{_emails.password-reset-requested.text.link}</strong><br>
	<a n:href="Users:Back:Login:changePassword, hash => $hash">{link Users:Back:Login:changePassword, hash => $hash}</a>
	<br><br>
	<strong>{_emails.password-reset-requested.text.validity}</strong>
	<br><br>
	{_emails.password-reset-requested.text.security}
{/block}