{layout $_config->layout}

{block #header}
	{_emails.password-changed.header}
{/block}

{block #headerTitle}
	<h1>{_emails.password-changed.header}</h1>
{/block}

{block #content}
	{_emails.password-changed.text.greeting, ['username' => $username]},
	<br><br>
	{_emails.password-changed.text.information, ['email' => $email]}
	<br><br>
	{_emails.password-changed.text.security}
{/block}