<form n:name="form">
    <div class="form-group row ">
        <div class="col-sm-10">
            <input n:name="search" class="form-control">
        </div>
        <div class="col-sm-2">
            <input n:name="send" class="btn btn-lg btn-block btn-success">
        </div>
    </div>
</form>