{block content}
<div class="d-flex justify-content-center flex-column" style="height: 80vh">
<h1 class="text-center mb-4">{block title}{_}frontend.users.login.headline{/_}{/block}</h1>
	<div class="mx-auto col-sm-3">
        {control loginForm}
	</div>
</div>
