<div n:snippet n:inner-if="$renderModal" class="modal modal-issue" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form n:name="form" class="ajax">
				<div class="modal-body">
                    {snippet flashes}
                        {foreach $flashes as $flash}
							<div class="alert alert-{$flash->type}" role="alert">
                                {_}{$flash->message}{/_}
							</div>
                        {/foreach}
                    {/snippet}
					<div class="text-center">
						<h2 class="header-bold-1 mb-4">{_frontend.issues.modal.headline}</h2>
						<p class="header-3 mb-5">{_frontend.issues.modal.description}</p>
					</div>
					<div class="form-group mb-3">
						<input n:name="title" class="form-control"/>
					</div>
					<div class="form-group">
						<textarea n:name="message" class="form-control" rows="10"></textarea>
					</div>
					<div class="row mt-5">
						<div class="col-md-6 pl-md-1 order-md-2 mb-3 mb-md-0">
							<button n:name="send" type="submit" class="btn-icon btn-green">
                                {_}{$form['send']->caption}{/_}
								<span class="icon-checkmark"></span>
							</button>
						</div>
						<div class="col-md-6 pr-md-1">
							<button type="button" data-dismiss="modal" class="btn-icon">
                                {_frontend.issues.modal.button.close}
								<span class="icon-close"></span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
