<div n:snippet n:inner-if="$renderModal" class="modal fade login-modal partner-icon" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ajax-overlay">
			<div class="modal-header">
				<h3 class="modal-title">{_back.hosts.address-fields.modal.heading}</h3>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                {snippet flashes}
                    {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
                {/snippet flashes}

				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
							<tr>
								<th>#</th>
								<th>{_back.hosts.address-fields.modal.name|capitalize}</th>
								<th>{_back.hosts.address-fields.modal.type|capitalize}</th>
							</tr>
							</thead>
							<tbody>
                            {foreach $fields as $item}
								<tr>
									<td class="text-muted">{$item->getId()}</td>
									<td>{$item->getName()}</td>
									<td>{$item->getType()}</td>
									<td class="text-right">
                                        {if in_array($item->getId(), $fieldIds)}
											<a n:href="delete!, id => $addedFields[$item->getId()]" class="btn btn-sm btn-danger">{_back.hosts.address-fields.modal.delete}</a>
                                        {else}
											<a n:href="add!, id => $item->getId(), order => 0" class="btn btn-sm btn-success">{_back.hosts.address-fields.modal.add}</a>
                                        {/if}
									</td>
								</tr>
                            {/foreach}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary float-right" data-dismiss="modal">{_back.hosts.address-fields.modal.close}</button>
			</div>
		</div>
	</div>
</div>

