{block content}

<div class="error-container">
    <div class="error-header">
        <a href="#">
            <img src="{$basePath}/assets/img/deloitte-niumad-logo.svg" class="d-block" alt="" />
        </a>
    </div>
    <div class="error-body">
        <div class="error-content">
            <div class="mb-5"></div>
            <h1 class="header-bold-1 mb-4">{_frontend.error-403.title}</h1>
            <p class="header-3 mb-5">{_frontend.error-403.message}</p>
            <div class="error-footer">
                <a n:href=":Front:Homepage:" class="btn-icon-lg btn-green">
                    {_}frontend.error-403.link.home{/_}
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div>
