.fa-spin {
  -webkit-animation: a 0.3s infinite linear;
  animation: a 0.3s infinite linear;
}

.navbar-nav .nav-link>.fal {
  display: inline-block;
  min-width: 1.75rem;
}

.navbar-nav .nav-link>.fal {
  font-size: 1.0625rem;
  line-height: 1.40625rem;
  padding-bottom: .125em;
}

.editor-toolbar.fullscreen {
  z-index: 9999 !important;
}

.CodeMirror-sided, .CodeMirror-scroll, .CodeMirror-fullscreen {
  z-index: 9999 !important;
}

.accordion .card:first-of-type {
  margin-bottom: 0;
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
  margin-bottom: 0;
}

.border-radius-6 {
  border-radius: 6px !important;
}

.table .sort.arrows::after {
  margin-left: .25rem;
  content: url('data:image/svg+xml;utf8,<svg width=\'6\' height=\'10\' viewBox=\'0 0 6 10\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'><path fill-rule=\'evenodd\' clip-rule=\'evenodd\' d=\'M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z\' fill=\'%2395AAC9\'/></svg>');
}