#selectedCountries {
    cursor: pointer;

    > .col-12 {
        &:hover {
            small, h5 {
                font-weight: bold !important;
            }
        }

        .row {
            padding-top: 1em;
            padding-bottom: 1em;
            margin-right: 0;
            margin-left: 0;
        }

        hr {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    [data-checked="1"] {
        .row {
            background-color: #28a745 !important;
        }
    }
}