.custom-switch {
    min-height: 1.5rem;
    padding-left: 3.5rem;

    .custom-control-label:after,
    .custom-control-label:before {
        position: absolute;
        top: .20313rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
    }

    .custom-control-label:after {
        top: 0.20313rem;
        left: -3.5rem;
        width: 1.125rem;
        height: 1.125rem;
        background: no-repeat 50%/50% 50%;
        background-color: #b1c2d9;
        border-radius: .5625rem;
        transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-control-input:checked~.custom-control-label:before {
        color: #fff;
        border-color: #2c7be5;
        background-color: #2c7be5;
    }

    .custom-control-input:checked~.custom-control-label:after {
        background-color: #fff;
        transform: translateX(1.5rem);
    }

    .custom-control-label:before {
        pointer-events: none;
        background-color: #e3ebf6;
        border: 0 solid #b1c2d9;
    }

    .custom-control-label:before {
        top: 0;
        height: 1.5rem;
        border-radius: .75rem;
        left: -3.5rem;
        width: 3rem;
        pointer-events: all;
    }

    .custom-control-label:after {
        top: .1875rem;
        left: -3.3125rem;
        background-color: #fff;
    }
}