{block content}

<div class="row justify-content-center dashboard-content">
	<div class="col-12 col-lg-12 col-xl-12">
		<div class="header">
			<div class="header-body">
				<h1 class="header-title">
					{block title}{_back.dashboard|capitalize}{/block}
				</h1>
			</div>
		</div>
	</div>
</div>
