<form class="ui form ajax" n:name="form" n:snippet="form">
	{snippet flashes}
	{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
	{/snippet flashes}

	<div class="form-group">
		{label username}
		<input n:name="username" type="text" class="form-control" placeholder="">
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col">
				{label password}
			</div>
			<div class="col-auto">
				<a href="{plink :Users:Back:Login:ResetPassword}" class="form-text small text-muted">
					{_back.login.default.action.forgot-password}
				</a>
			</div>
		</div>
		<div class="input-group">
			<input n:name="password" class="form-control form-control-appended" type="password" placeholder="{_back.default.sign-in.form.placeholder.password}">
		</div>
	</div>

	<button class="btn btn-lg btn-block btn-primary mb-3" n:name="send">
		{_back.login.default.sign-in.form.submit}
	</button>
</form>