<form n:name="form" class="validate-on-load-with-block">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="header-semibold-4 mb-3">{_}frontend.trips.create-trip.host.headline{/_}</h2>
            <div class="box mb-4">
                {snippet flashes}
                {foreach $flashes as $flash}
                <div class="alert alert-{$flash->type}" role="alert">
                    {_}{$flash->message}{/_}
                </div>
                {/foreach}
                {/snippet}

                <div class="d-none">
                    <label>{_$form['toggler']->caption}</label>
                    <div>
                        {foreach $form['toggler']->items as $key => $value}
                        <label n:name="toggler:$key"
                               class="custom-control custom-radio custom-control-inline btn-radio">
                            <input n:name="toggler:$key" class="custom-control-input">
                            <label n:name="toggler:$key" class="custom-control-label">{$value}</label>
                        </label>
                        {/foreach}
                    </div>
                </div>

                <div class="form-group mb-0">
                    <label>{_$form['hostType']->caption}</label>
                    <div class="radios-mobile-fullwidth">
                        {foreach $form['hostType']->items as $key => $value}
                        <label n:name="hostType:$key"
                               class="custom-control custom-radio custom-control-inline btn-radio">
                            <input n:name="hostType:$key" class="custom-control-input">
                            <label n:name="hostType:$key" class="custom-control-label">{$value}</label>
                        </label>
                        {/foreach}
                    </div>
                </div>
                <div id="client-non-client">
                    <div class="box-separator-full"></div>
                    <div class="form-group">
                        {label client}
                        <div class="search-items">
                            <select name="client"
                                    class="form-control search"
                                    data-toggle="search-dropdown"
                                    data-live-search="true"
                                    data-style="btn-dropdown"
                                    data-placeholder="Select client"
                                    data-source="{plink :Hosts:Front:Host:searchHost, q => $q ?? '', tripId => $trip->getId()}"
                                    data-typing-interval="300"
                                    data-ajax-on-show=1
                                    data-enable-groups="0">
                                <option n:if="$defaultClient !== null && $defaultClient->getType() !== 'non-client'"
                                        value="{$defaultClient->getId()}" selected="selected">
                                    {$defaultClient->getName()}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="box-separator">
                        <span>{_}frontend.trips.create-trip.host.label.separator-or{/_}</span>
                    </div>

                    <button type="button" id="addHostButton" class="btn-icon">
                        {_}frontend.trips.create-trip.host.label.add-manually{/_}
                        <span class="icon-plus"></span>
                    </button>

                    <div id="non-client">
                        <div class="form-group">
                            {label name}
                            <input n:name="name" class="form-control">
                        </div>
                        {if count($fields) > 0}
                        {foreach $fields as $id => $input}
                        <div class="form-group">
                            <label>
                                {$input->getName()}
                                {if !$input->isRequired()}(optional){/if}
                            </label>
                            {if $input->getType() === 'number'}
                            <input n:name="$input->getId()" type="number" class="form-control">
                            {else}
                            <input n:name="$input->getId()" class="form-control">
                            {/if}
                        </div>
                        {/foreach}
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <input n:name="send" id="submit" class="d-none">
    </div>
</form>
<div class="py-lg-5"></div>
<div class="py-lg-5"></div>
