<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Administration</title>

	<link rel="stylesheet" href="{$basePath}/dist/app.bundle.css">
</head>
<body class="d-flex align-items-center bg-white border-top-2 border-primary">
	{include content}

	<script src="{$basePath}/dist/app.bundle.js"></script>
</body>
</html>
