<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Niumad Administration</title>

    <link rel="stylesheet" href="{$basePath}/dist/app.bundle.css">
</head>
<body>
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
                aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" n:href=":Back:Homepage:default">
            <img src="{$basePath}/assets/images/deloitte-niumad-logo.svg" class="navbar-brand-img mx-auto">
        </a>

        <div class="navbar-user d-md-none">
            <div class="dropdown">
                <a href="#!" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        <span class="avatar-title rounded-circle"><small style="font-size: 8px">Admin</small></span>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
                    <li class="dropleft">
                        {control languageSelect}
                    </li>
                    {if $travellerUri !== null && $travellerUri !== ''}
                    <hr class="dropdown-divider">
                    <li>
                        <a n:href="traveller!" target="_blank" class="dropdown-item">{_back.menu.traveller|capitalize}</a>
                    </li>
                    {/if}
                    <hr class="dropdown-divider">
                    <li>
                        <a n:href="logout!" class="dropdown-item">{_back.menu.logout|capitalize}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="sidebarCollapse">

            {include 'includes/menu.latte'}

            <div class="navbar-user mt-auto d-none d-md-flex">
                <div class="dropup">
                    <a href="#!" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online">
                            <span class="avatar-title rounded-circle"><small style="font-size: 8px">Admin</small></span>
                        </div>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIconCopy">
                        <li class="dropup">
                            {control languageSelect}
                        </li>
                        {if $travellerUri !== null && $travellerUri !== ''}
                        <li>
                            <a n:href="traveller!" target="_blank" class="dropdown-item">{_back.menu.traveller|capitalize}</a>
                        </li>
                        {/if}
                        <li>
                            <a n:href="logout!" class="dropdown-item">{_back.menu.logout|capitalize}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container-fluid">
        {snippet flashes}
        {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes,
        'fixed' => true}
        {/snippet flashes}

        {include content}
    </div>
</div>

<script src="{$basePath}/dist/app.bundle.js"></script>
<script src="{$basePath}/dist/netteForms.bundle.js"></script>

{block additionalJs}{/block}

</body>
</html>
