<div class="new-trip-footer">
	<div class="container">
		<!-- desktop buttons -->
		<div class="d-none d-md-flex justify-content-between">
			<a href="{if $prev === null}#{else}{$prev}{/if}" id="desktop-prev" class="btn-icon-left w-200 {if $prev === null}invisible{/if}">
				<span class="icon-back"></span>
				{_}frontend.trips.create-trip.footer.previous{/_}
			</a>
			{*<div class="notification">
				{_}frontend.trips.create-trip.footer.saved{/_} ✌
			</div>*}
			<a href="#" id="desktop-next" class="btn-icon btn-green w-200">
				<span class="icon-next"></span>
				{_}frontend.trips.create-trip.footer.continue{/_}
			</a>
		</div>
		<!-- mobile buttons -->
		<div class="d-flex d-md-none">
			<a href="{if $prev === null}#{else}{$prev}{/if}" id="mobile-prev" class="btn-default-lg mr-3 {if $prev === null}invisible{/if}">
				<span class="icon-back"></span>
			</a>
			<a href="#" id="mobile-next" class="btn-icon-md btn-green flex-grow-1 {$trip !== null && $trip->getState() === 'submitted' ? 'disabled'}">
                {_}frontend.trips.create-trip.footer.continue{/_}
				<span class="icon-next"></span>
			</a>
		</div>
	</div>
</div>
