{if $trip !== null}
<!-- success modal -->
<div n:if="$trip->getState() === 'submitted' && isset($modal)" class="modal modal-success show" id="modal-success" tabindex="-1" role="dialog" style="display: block;" aria-modal="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
				<img src="{$basePath}/assets/img/success-illustration.svg" alt="" class="mb-5">
				<h2 class="header-bold-1 mb-4">{_}frontend.trips.success-modal.heading{/_}</h2>
				<p class="header-3 mb-5">{if isset($modal) && $modal === 'updated'}{_frontend.trips.success-modal.message.updated, ['country' => $trip->getCountry()->getName()]}{else}{_frontend.trips.success-modal.message, ['country' => $trip->getCountry()->getName()]}{/if}</p>
				<a n:href=":Trips:Front:Trip:default" class="btn-icon btn-green mb-2">
					{_}frontend.trips.success-modal.go-home{/_}
					<span class="icon-next"></span>
				</a>
				<a n:if="!$trip->isFavorite()" href="{link addFavorite!, id => $trip->getId()}" class="btn-icon">
					{_}frontend.trips.success-modal.add-favorite{/_}
					<span class="icon-star"></span>
				</a>
			</div>
		</div>
	</div>
</div>

<div n:if="$trip->getState() === 'submitted' && isset($modal)" class="modal-backdrop show"></div>
{/if}

<div class="new-trip-header">
	<div class="top-panel">

		<!-- mobile header -->
		<div class="d-lg-none d-flex justify-content-between px-4">
			<div {if $trip === null}class="invisible"{/if}>
				<a n:if="$trip && $trip->getState() === 'draft'" href="{plink promptModal:showModal!, id => $trip->getId(), type => 'delete'}" class="btn-default-md btn-danger dashboard-navigation-btn ajax">
					<span class="icon-delete"></span>
				</a>
				<a n:if="$trip && $trip->getState() === 'submitted'" class="btn-default-md btn-orange dashboard-navigation-btn">
					<span class="icon-clear"></span>
				</a>
			</div>
			<div class="text-center">
				<div class="text-normal mb-1">{_}frontend.trips.create-trip.header.new-trip{/_}</div>
				{if $trip !== null}
				<div class="d-flex align-items-middle justify-content-between text-md-normal">
					<span class="flag-{$trip->getCountry()->getCode()} flag-sm mr-1"></span>
                    {$trip->getCountry()->getName()}
				</div>
				{/if}
			</div>
			<div>
				<a n:href=":Front:Homepage:default" class="btn-default">
					<span class="icon-close"></span>
				</a>
			</div>
		</div>

		<!-- desktop header -->
		<div class="container d-none d-lg-block">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center">
					<h1 class="header-2 mb-0 d-flex align-items-center">
						{if $trip !== null}
						<span class="flag-{$trip->getCountry()->getCode()} mr-4 mt-1 float-left"></span>
                            {_}frontend.trips.create-trip.header.new-trip-to{/_} {$trip->getCountry()->getName()}
						{else}
                            {_}frontend.trips.create-trip.header.new-trip{/_}
						{/if}
					</h1>
				</div>
				<div class="col-md-6 text-right">
					{if $trip !== null}
					<a n:if="$trip->getState() === 'draft'" href="{plink promptModal:showModal!, id => $trip->getId(), type => 'delete'}" class="btn-default-md btn-danger ajax">
						<span class="icon-delete"></span>
					</a>
					<a n:if="$trip->getState() === 'submitted'" class="btn-default-md btn-orange">
						<span class="icon-clear"></span>
					</a>
					{/if}
					<a n:href=":Front:Homepage:default" class="btn-icon-sm w-200">
						{_}frontend.trips.create-trip.header.close{/_}
						<span class="icon-close"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{include 'progressBar.latte'}
</div>
