<div class="bg-gray-10">
	<div class="container progress-wrapper">
		<div class="row">
			<div class="col">
				<div class="progress-item {if $step == 0}active{/if} {if $step > 0}completed{/if}">
					<div class="d-none d-md-block">1 {_}frontend.trips.create-trip.progress-bar.step-1{/_}</div>
					<div class="progress-item-bar"></div>
				</div>
			</div>
			<div class="col">
				<div class="progress-item {if $step == 1}active{/if} {if $step > 1}completed{/if}">
					<div class="d-none d-md-block">2 {_}frontend.trips.create-trip.progress-bar.step-2{/_}</div>
					<div class="progress-item-bar"></div>
				</div>
			</div>
			<div class="col">
				<div class="progress-item {if $step == 2}active{/if} {if $step > 2}completed{/if}">
					<div class="d-none d-md-block">3 {_}frontend.trips.create-trip.progress-bar.step-3{/_}</div>
					<div class="progress-item-bar"></div>
				</div>
			</div>
			<div class="col">
				<div class="progress-item {if $step == 3}active{/if} {if $step > 3}completed{/if}">
					<div class="d-none d-md-block">4 {_}frontend.trips.create-trip.progress-bar.step-4{/_}</div>
					<div class="progress-item-bar"></div>
				</div>
			</div>
			<div class="col">
				<div class="progress-item {if $step == 4}active{/if} {if $step > 4}completed{/if}">
					<div class="d-none d-md-block">5 {_}frontend.trips.create-trip.progress-bar.step-5{/_}</div>
					<div class="progress-item-bar"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="progress-mobile-title row d-md-none">
		<div class="col-9">
	       	{_}frontend.trips.create-trip.progress-bar.step-{$step === 0 ? 1 : $step + 1}{/_}
		</div>
		<div class="col-3 text-right font-weight-normal">
            {$step === 0 ? 1 : $step + 1}/5
		</div>
	</div>
</div>
