<label>
	{$form[$question->getId()]->caption}
	{if !$question->getRequired()}{_}frontend.trips.create-trip.question.optional{/_}{/if}
	<span n:if="$question->getHelp() !== null" class="icon-info float-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="{$question->getHelp()}"></span>
</label>
{switch $question->getType()}
	{case 'bool'}
	<div>
		<label n:foreach="$form[$question->getId()]->items as $key => $value"
				n:name="$question->getId():$key"
				class="custom-control custom-radio custom-control-inline btn-radio">
			<input n:name="$question->getId():$key" class="custom-control-input">
			<label n:name="$question->getId():$key"
					class="custom-control-label">{_$value}</label>
		</label>
	</div>
	{case 'choice'}
		{switch get_class($form[$question->getId()])}
			{case 'Nette\Forms\Controls\RadioList'}
			<div class="radio-clear" data-clear-text="Clear" n:foreach="$form[$question->getId()]->items as $key => $option">
				<label for="customCheck-{$key}" class="custom-control custom-radio custom-control-inline btn-radio">
					<input type="radio" id="customCheck-{$key}" n:name="$question->getId():$key" class="custom-control-input">
					<label class="custom-control-label" for="customCheck-{$key}">{$option}</label>
				</label>
			</div>
			{case 'Nette\Forms\Controls\CheckboxList'}
			<div n:foreach="$form[$question->getId()]->items as $key => $option" class="custom-control custom-checkbox mb-3">
				<input n:name="$question->getId():$key" class="custom-control-input" id="customCheck-{$key}">
				<label class="custom-control-label" for="customCheck-{$key}">{$option}</label>
			</div>
			{case 'Nette\Forms\Controls\MultiSelectBox'}
				<select n:name="{$question->getId()}"
						id="question{$question->getId()}"
						class="d-none"
						data-toggle="select-multiple"
						data-live-search="true"
						data-style="btn-dropdown"
						data-placeholder="Select option"
						data-typing-interval="300"
						data-source="{plink :Questions:Front:Question:searchOption, q => '', questionId => $question->getId(), tripId => $trip->getId()}"
						data-enable-groups="0"
						data-generate="search-items"
						data-ajax-on-show=1
						multiple>
				</select>
			{default}
			<div class="search-items">
				<select	n:name="{$question->getId()}"
						id="id_{$question->getId()}"
						class="form-control"
						data-placeholder="Select item"
						data-toggle="search-dropdown"
						data-live-search="true"
						data-style="btn-dropdown"
						data-typing-interval="300"
						data-ajax-on-show=1
						data-source="{plink :Questions:Front:Question:searchOption, q => '', questionId => $question->getId(), tripId => $trip->getId()}"
						data-enable-groups="0">
				</select>
			</div>
		{/switch}
	{case 'number'}
	<input n:name="$question->getId()" type="number" class="form-control">
	{case 'datetime'}
	{switch $question->getDateTime()->getVariant()}
		{case 'time'}
		<div class="mb-4">
			<div class="form-group mb-0">
				<div class="position-relative input-clear">
					<span class="icon-clear"></span>
					<input type="text" n:name="$question->getId()" placeholder="hh:mm" class="form-control mb-4" id="timepicker_{$question->getId()}" autocomplete="off" data-toggle="timepicker" data-step-minutes="5" />
				</div>
			</div>
		</div>
		{case 'date'}
		<div class="mb-4">
			<div class="form-group">
				<div id="datepickerInput_{$question->getId()}" class="datepicker-input-container input-clear">
					<span class="icon-clear"></span>
					<input type="text" n:name="$question->getId()" placeholder="{$localeContext->getDateFormat()}" class="form-control datepicker" autocomplete="off" />
					<div class="datepicker-input input-clear">
						<span class="icon-clear"></span>
						<input type="text" value="" placeholder="{$localeContext->getDateFormat()}" id="input_{$question->getId()}" class="form-control" autocomplete="off" />
						<div class="px-4 pt-4 pb-3">
							<div class="datepicker-controls d-none d-md-flex">
								<button type="button" class="btn-default prev-month">
									<span class="icon-back"></span>
								</button>
								<div class="search-items">
									<select name=""
											class="select-month"
											data-toggle="search-dropdown"
											data-live-search="true"
											data-style="btn-dropdown"
											data-typing-interval="300"
											data-locale="en"
											data-source="{plink datepickerMonths!, q => ''}"
									>
										<option value="2019-09" selected>{date('F Y')}</option>
									</select>
								</div>
								<button type="button" class="btn-default next-month">
									<span class="icon-next"></span>
								</button>
							</div>
							<div class="datepicker-external"
									data-date-format="{$localeContext->getDateFormat()}"
									data-input="#input_{$question->getId()}"
							></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{case 'datetime'}
		<div class="mb-4">
			<div class="form-group">
				<div id="datetimepickerInputinput2" class="datetimepicker-input-container">

					<div class="datetimepicker-wrapper">
						<div class="input-clear">
							<span class="icon-clear"></span>
							<input type="text" name="date" placeholder="{$localeContext->getDateFormat()}" class="form-control datepicker" id="input2" autocomplete="off" />
						</div>
						<div class="input-clear">
							<span class="icon-clear"></span>
							<input type="text" name="time" placeholder="hh:mm" class="form-control timepicker" autocomplete="off" data-toggle="timepicker" data-step-minutes="5" data-target="#timepickerContainer" />
						</div>
					</div>

					<input type="text" n:name="$question->getId()" class="datepicker-input-value d-none" />

					<div id="timepickerContainer"></div>

					<div class="datepicker-input detached">
						<div class="px-4 pt-4 pb-3">
							<div class="datepicker-controls d-none d-md-flex">
								<button type="button" class="btn-default prev-month">
									<span class="icon-back"></span>
								</button>
								<div class="search-items">
									<select name=""
											class="select-month"
											data-toggle="search-dropdown"
											data-live-search="true"
											data-style="btn-dropdown"
											data-typing-interval="300"
											data-locale="en"
											data-source="{plink datepickerMonths!, q => ''}"
									>
										<option value="2019-09" selected>{date('F Y')}</option>
									</select>
								</div>
								<button type="button" class="btn-default next-month">
									<span class="icon-next"></span>
								</button>
							</div>
							<div class="datepicker-external"
									data-date-format="{$localeContext->getDateFormat()}"
									data-input="#input2"
							></div>
						</div>
					</div>
				</div>


			</div>
		</div>
        {default}
		<input type="text" n:name="$question->getId()" class="form-control mb-4" />
	{/switch}
	{case 'country'}
	<div class="search-items">
		<select n:name="$question->getId()"
				class="form-control"
				data-toggle="search-dropdown"
				data-live-search="true"
				data-style="btn-dropdown"
				data-typing-interval="300"
				data-placeholder="{$question->getPlaceholder()}"
				data-ajax-on-show=1
				data-source="{plink :Countries:Front:Country:countrySearch, q => '', type => 'question'}"
				data-enable-groups="0">
		</select>
	</div>
	{default}
	<input n:name="$question->getId()" class="form-control">
{/switch}
<div n:if="$question->getValidation() !== null && $question->getValidationHelp() !== null" class="hint-message">{$question->getValidationHelp()}</div>
{foreach $questions as $child}
	{if $child->getParent() !== null && $child->getParent()->getId() === $question->getId()}
		<div id="{$child->getType() . '-' . $child->getId()}" class="child-question hidden">

			<div class="box-separator-full"></div>

		<div class="form-group mb-0">
			{include 'question.latte' questions => $questions, question => $child, form => $form}
		</div>
		</div>
	{/if}
{/foreach}
