{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-8">
		<div class="header mt-md-5">
			<div class="header">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header">
							{block title}{_back.languages|capitalize}{/block}
						</h1>
					</div>
				</div>
				<p class="mb-5">{_back.languages.description}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.languages.available|capitalize}
						</h4>
						<div class="row">
							<div class="col-md-6">

							</div>
							<div class="col-md-6">
								<a n:href="create" class="float-right btn-sm btn btn-primary">
                                    {_back.languages.create|firstUpper}
								</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{_back.languages.code|capitalize}</th>
									<th scope="col">{_back.languages.name|capitalize}</th>
									<th scope="col">{_back.languages.country|capitalize}</th>
									<th class="text-right" scope="col">{_back.languages.actions|capitalize}</th>
								</tr>
								</thead>
								<tbody>
									{foreach $languages as $language}
										<tr>
											<th scope="row" class="text-muted">{$language->getId()}</th>
											<td>{$language->getCode()}</td>
											<td>{$language->getName()}</td>
											<td>{$language->getCountry()->getName()}</td>
											<td align="right">
												<a n:href="edit, code => $language->getCode()" class="btn btn-sm mt-1 mb-1 btn-outline-info">{_back.languages.edit|capitalize}</a>
												<a n:href="delete!, code => $language->getCode()" class="btn btn-sm mt-1 mb-1 btn-outline-danger text-nowrap {if $language->isDefault()}disabled{/if}" onclick="return confirm('{_back.languages.delete.confirmation}')">{_back.languages.delete|capitalize}</a>
											</td>
										</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
