<div n:snippet n:inner-if="$renderModal"  class="modal fade login-modal partner-icon" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<form n:name="form">
		<div class="modal-dialog modal-lg">
			<div class="modal-content ajax-overlay">
				<div class="modal-header">
					<h3 class="modal-title">{_}back.trips.message-modal.headline{/_}</h3>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							{snippet flashes}
							{include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed' => false}
							{/snippet flashes}
							<textarea n:name="message" class="w-100"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{_back.trips.message-modal.button.close}</button>
					<input n:name="send" type="submit" class="btn btn-primary">
				</div>
			</div>
		</div>
	</form>
</div>
