<div class="tab" id="userDropdownTab2-{$type}">
    <div class="header-semibold-7 text-center">
        <button type="button" class="btn-default btn-header-left" data-toggle="tab" data-target="#userDropdownTab1-{$type}">
            <span class="icon-back"></span>
        </button>
        {_}frontend.translations.language-select.heading{/_}
    </div>
    {foreach $locales as $locale}
    <label for="language-{$locale->getCode()}" class="custom-control custom-radio custom-control-inline btn-flag-radio mb-2">
        <span class="flag-{$locale->getCountry()->getCode()}"></span>
        {$locale->getName()}

        <input type="radio"
               id="language-{$locale->getCode()}"
               name="language-{$locale->getCode()}"
               class="custom-control-input language-select"
               value="{$locale->getCode()}"
               {if $loc !== null && $locale->getCode() === $loc->getCode()}checked{/if}>


        <a class="ajax hidden" href="{plink languageSelect:langChange!, lang => $locale->getCode()}">{$locale->getName()}</a>
        <label class="custom-control-label" for="language-{$locale->getCode()}">&nbsp;</label>
    </label>
    {/foreach}
</div>
