<form class="ui form" n:name="form">
    {snippet flashes}
    {include APP_DIR.'/modules/BackModule/presenters/templates/includes/flashes.latte', 'flashes' => $flashes, 'fixed'
    => true}
    {/snippet flashes}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {label name}
                            <input n:name="name" type="text" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            {label code}
                            <input n:name="code" type="text" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            {label country}
                            <select class="form-control" n:name="country"></select>
                        </div>

                        {input send, class => 'btn btn-lg btn-success float-right'}
                        <a href="{plink :Translations:Back:Homepage:default}"
                           class="btn btn-lg btn-default float-right">{_}back.languages.form.label.cancel{/_}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
