<div class="dropdown float-right">
<button class="btn-outline" type="button" data-toggle="dropdown">
	{if $user !== null}{$user->getUsername()}{/if}
	<span class="icon-chevron-down"></span>
</button>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow tabs">
	<div class="tab active" id="userDropdownTab1-{$type}">
		{if $language !== null}
		<button type="button" class="btn-icon-flag mb-2" data-toggle="tab" data-target="#userDropdownTab2-{$type}">
			<span class="flag-{$language->getCountry()->getCode()}"></span>
			{$language->getName()}
			<span class="icon-next"></span>
		</button>
		{/if}
		<a n:if="$authorized" n:href="logout!" class="btn-icon">
			{_}frontend.users.info-box.logout{/_}
			<span class="icon-logout"></span>
		</a>
	</div>

	{control languageSelect $type}
</div>
</div>
