<div class="modal modal-settings" id="modal-settings" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="tab active" id="userDropdownTab1-{$type}">
					<div class="header-semibold-7 text-center">
                        {if $user !== null}{$user->getUsername()}{/if}
						<button type="button" class="btn-default btn-header-right" data-dismiss="modal">
							<span class="icon-close"></span>
						</button>
					</div>
					{if $language !== null}
					<button type="button" class="btn-icon-flag mb-2" data-toggle="tab" data-target="#userDropdownTab2-{$type}">
						<span class="flag-{$language->getCountry()->getCode()} flag-sm"></span>
						{$language->getName()}
						<span class="icon-next"></span>
					</button>
					{/if}
					<a n:if="$authorized" n:href="logout!" class="btn-icon">
                        {_}frontend.users.info-box.logout{/_}
						<span class="icon-logout"></span>
					</a>
				</div>
                {control languageSelect $type}
			</div>
		</div>
	</div>
</div>
