{block content}

<div class="row justify-content-center">
	<div class="col-12 col-lg-10 col-xl-8">
		<div class="header mt-md-5">
			<div class="header">
				<div class="row align-items-center">
					<div class="col">
						<h1 class="header">
                            {block title}{_back.countries.country.list.headline|capitalize}{/block}
						</h1>
					</div>
				</div>
				<p class="mb-5">{_back.countries.description}</p>
			</div>
		</div>

		{snippet countries}
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-header-title">
                            {_back.countries.country.table.headline|capitalize}
						</h4>
						<div class="row">
							<div class="col-md-6">

							</div>
{*							<div class="col-md-6">*}
{*								<a n:href="create" class="float-right btn-sm btn btn-primary">*}
{*                                    {_back.countries.country.list.create|firstUpper}*}
{*								</a>*}
{*							</div>*}
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							{if count($countries) > 0}
							<table class="table">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{_back.countries.country.table.name|capitalize}</th>
									<th scope="col">{_back.countries.country.table.code|capitalize}</th>
									<th class="text-right" scope="col">{_back.countries.country.table.actions|capitalize}</th>
								</tr>
								</thead>
								<tbody>
                                {foreach $countries as $country}
									<tr>
										<th scope="row" class="text-muted">{$country->getId()}</th>
										<td>{$country->getName()}</td>
										<td>{$country->getCode()}</td>
										<td align="right">
											<div class="btn-group">
												<a class="btn btn-sm btn-outline-secondary mr-2 rounded text-nowrap" n:href="translationOptionModalForm:showModal!, id => $country->getId()">{_}back.countries.country.link.translate{/_}</a>
												<a n:if="$country->isEnabled()" n:href="disable!, code => $country->getCode()" class="btn btn-sm btn-outline-danger mr-2 rounded text-nowrap ajax">{_back.countries.country.disable|capitalize}</a>
												<a n:if="!$country->isEnabled()" n:href="enable!, code => $country->getCode()" class="btn btn-sm btn-outline-success mr-2 rounded text-nowrap ajax">{_back.countries.country.enable|capitalize}</a>
											</div>
										</td>
									</tr>
                                {/foreach}
								</tbody>
							</table>
                            {control apiPagination}
							{else}
								<strong>{_back.countries.country.table.no-data}</strong>
							{/if}
						</div>
					</div>
				</div>
			</div>
		</div>
		{/snippet countries}
	</div>
</div>
{control translationOptionModalForm}


{define additionalJs}
<script src="{$basePath}/dist/countries.country.default.bundle.js"></script>
{/define}
